﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="FHLB.Site1" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css?paramenter=1" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

        <style type="text/css">
            .spacer { width:10%; }
            .middle { text-align:center; }
            .wide { width:100%; }
            .lbl { text-align:left; width:25%; }
            .bold { font-weight:bold; }
            .field { text-align:left; padding-left:10px; }
            .nopad { padding:0 0 0 0; border-width:0; }
            .button { }
            .error { font-weight:bold; color:Maroon }
            .nowrap { white-space: nowrap; padding-right:10px; }
            p { margin-bottom:10px; }
            
            body
            {
                margin-left:20px;
                margin-top:5px;
                margin-right:20px;
                margin-bottom:5px;
            }
            
            @media print
            {
                .no-print
                {
                    display: none !important;
                    height: 0;
                }

                .no-print, .no-print *{
                    display: none !important;
                    height: 0;
                }
            }            
        </style>

        <title></title>

        <asp:ContentPlaceHolder ID="head" runat="server">
        </asp:ContentPlaceHolder>
    </head>

    <body>
        <asp:Table ID="Table1" runat="server" CssClass="nopad wide no-print">
            <asp:TableRow ID="TableRow1" runat="server" CssClass="nopad">
                <asp:TableCell CssClass="nopad">
                    <asp:Image runat="server" ID="Logo" ImageAlign="Left" ImageUrl="~/images/es3777_toptitle.gif" Height="168px" Width="969px" /><br />
                </asp:TableCell>
            </asp:TableRow>

            <asp:TableRow ID="TableRow2" runat="server" CssClass="nopad">
                <asp:TableCell CssClass="nopad wide">
                    <asp:Image runat="server" ID="Banner" ImageAlign="Left" ImageUrl="~/images/es3777_topbanner.gif" Width="1084px" Height="163px" /><br />
                </asp:TableCell>
            </asp:TableRow>
        </asp:Table>

        <form id="form1" runat="server">
            <div>
                <asp:ContentPlaceHolder ID="body" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </form>
    </body>
</html>
