html {
  background:#ececec;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  font-size:small;
  margin:0px;
  padding:0px;
  text-align:center;
  width:100%;
}

#Body {
  text-align:left;
  margin:auto;
  width:800px;
}

.SmallDivider {
  background:#e7e7e7;
  border-top:1px solid #bfbfbf;
}

/* Banner */

#Banner {
}

#BannerPartnerLogo {
  float:right;
  margin:0px 8px 0px 0px;
}

#BannerLogo {
  width:146px;
  height:38px;
  margin:11px 0px 0px 16px;
}

/* Menu */

#Menu {
  margin:4px 0px 0px 0px;
  border-left:1px solid #bf3417;
  border-right:1px solid #bf3417;
  background:#e33327 url(banner.png) repeat-x;
  height:31px;
}

#Left {
  width:560px;
  border-right:1px solid #adadad;
}

/* Login */

#LoginPanelOuter {           
  background: white url(background.png) no-repeat bottom left;
  border-bottom:4px solid #bfbfbf;
  height: 619px;
}

#LoginPanel {
  width:560px;
  height: 619px;
  text-align:center;
}

#LoginPanelBox {
  padding: 16px 0px 8px 0px;
  margin:0px 32px 0px 32px;
  background:#ededed;
  border:1px solid #cccccc;
}

#LoginTitle {
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  font-size:24pt;
  font-weight:bold;
  color:#333333;
  padding:16px 0px 16px 0px;
}

#LoginBox {
  text-align:left;
  font-size:small;
}

#LoginLabel1 {
  color:#666666;
  font-size:small;
  font-weight:bold;
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  padding:0px 0px 1px 0px;
}

#LoginLabel2 {
  color:#666666;
  font-size:small;
  font-weight:bold;
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  padding:6px 0px 0px 0px;
}

#UserNameLabel {
  font:9pt verdana;
}

#PasswordLabel {
  font:9pt verdana;
}

#Remember {
  font:9pt verdana;
}

#Login {
  font:9pt  verdana;
}

#LoginText {
  color:Red;
}

#LoginOptions {
  border-top:1px solid #d8d8d8;
  margin:8px 0px 0px 0px;
  padding:8px 0px 0px 0px;
}

a.LoginOption, 
a.LoginOption:link,
a.LoginOption:visited,
a.LoginOption:hover,
a.LoginOption:active {
  font:bold 8pt arial;
  color:#c73318;
  padding:2px 6px 4px 6px;
  text-decoration:none;
  white-space:nowrap;
}

a.LoginOption:hover,
a.LoginOption:active {
  text-decoration:underline;
}

#Login_UserName {
  font:bold 9pt verdana;
  width:180px;
  height:16px;
}

#Login_Password {
  font:bold 9pt verdana;
  width:180px;
  margin:1px 0px 0px 0px;
  height:16px;
}

#BasicMoreOptions {
  margin:8px 32px 0px 32px;
  padding:8px;
  border:1px solid #e0e0e0;
  background:#fbfbfb;
}

#BasicMoreOptions a {
  color:#c73318;
  font:bold 9pt arial, verdana, sans-serif;
  text-decoration:none;
}

#BasicMoreOptions a:hover, #BasicMoreOptions a:active {
  text-decoration:underline;
}


.UIPanel {
  padding:8px 0px 16px 0px;
}

#SitecoreLink {
  border-top:1px solid #bfbfbf;
  padding:16px 0px 16px 0px;
  text-align:center;
  font:bold 15px Arial, Verdana, Sans-Serif;
}

#SitecoreLink a {
  text-decoration:none;
  color:#c73318;
}

#SitecoreLink a:hover {
  text-decoration:underline;
}

/* Content area */

#MainPanel {
  background:white;
  margin:10px 0px 0px 0px;
  border-bottom:4px solid #bfbfbf;
  height:400px;
}

#Right {
  float:right;
  width:239px;
  background:#f5f5f5;
}

#SystemInformation {
  font:8pt arial, verdana, sans-serif;
  background:white;
  color:#333333;
  height:195px;
  margin:8px 6px 0px 8px;
  padding:0px 4px 4px 4px;
  border:1px solid #d5d5d5;
}

#SystemInformation div {
  padding:8px 0px 8px 0px;
}

.SystemInformationDivider {
  border-top:1px dotted #cccccc;
}

#SDN {
  margin:0px 0px 0px 0px;
  border-bottom:4px solid #bfbfbf;
  background:#f5f5f5;
  height:410px;
  width:239px;
}

#StartPage {
  border:1px solid #d5d5d5;
  height:392px;
  width:223px;
  margin:8px;
  background:white;
}

/* Options */

.OptionBox {
  text-align:center;
  padding:8px 0px 4px 0px;
}

.OptionBoxTitle {
  font-size:x-large;
  padding:16px 0px 16px 0px; 
}

.OptionBoxHelp {
  color:#666666;
  padding:0px 16px 16px 16px; 
}

.OptionBoxOptions {
  font-size:x-large;
}

.OptionBoxOptions button {
  background:transparent;
  border:1px solid #cccccc;
}

.OptionBoxOptions button.OptionBoxOptionsActive {
  background:#E6F4FF;
  border:1px solid #80C9FF;
}

#BasicOptions img {
  width:225px;
  height:140px;
  display:block;
}

#BasicOptions button {
  width:250px;
  height:180px;
  margin:8px;
}

#AdvancedOptions button {
  font:10pt tahoma;
  color:#333333;
  width:130px;
  padding:0px;
  height:40px;
  margin:0px 8px 0px 8px;
}

.OptionLabel {
  font:8pt tahoma;
  color:#666666;
}

.OptionBoxOptions button:hover {
  background:#BFE4FF;
  border:1px solid #6096BF;
}

#AdvancedOptions img {
  width:24px;
  height:24px;
  margin:2px 0px 2px 4px;
  vertical-align:middle;
}

/* Login Options */

#LanguagePanel {
  padding:16px 0px 0px 0px;
  font:8pt tahoma;
  text-align:center;
}

#Language {
  font:10pt tahoma;
}

/* Full Panel */

#FullPanel {
  width:800px;
}

#FullTopPanel {
  height:171px;
  background:white;
  border-bottom:4px solid #bfbfbf;
  text-align:center;
}

.FullTitle {
  font-size:x-large;
  padding:16px 0px 0px 0px; 
}

.FullText {
  font-size:Medium;
  color:#666666;
  padding:16px 0px 16px 0px; 
}

.Button {
  border:1px solid #999999;
  background:transparent;
  display:block;
  text-align:left;
  margin:16px 0px 16px 0px;
  width:260px;
}

#FullPanel img {
  width:32px;
  height:32px;
  margin:0px 4px 0px 4px;
  float:left;
}

#FullPanel button:hover {
  background:#BFE4FF;
  border:1px solid #6096BF;
}

.FullButtonHeader {
  font-size:Medium;
  color:#6096BF;
}

.FullButtonText {
  font-size:smaller;
  color:#999999;
}

.Centered {
  text-align:center;
}

/* Error */

#ErrorPanel {
  background:white;
  margin:10px 0px 0px 0px;
  border-bottom:4px solid #bfbfbf;
  height:400px;
  color:#666666;
  font-size:small;
  padding:16px;
}

#ErrorTopPanel {
  background:white;
  border-bottom:1px solid #bfbfbf;
}

.ErrorTitle {
  font-size:x-large;
  padding:16px; 
  height:48px;
}

.ErrorOptions {
  padding:8px 0px 8px 0px;
}

.ErrorOption {
  text-decoration:none;
  color:#0066B3;
}

.ErrorOption:hover {
  text-decoration:underline;
}

.ErrorMoreOptionPanel {
  margin:32px 0px 0px 0px;
}

#ErrorMorePanel {
  padding:0px 0px 0px 28px;
}

#ErrorMorePanel div {
  padding:8px 0px 8px 0px;
}

/* Single Panel */

#SinglePanel {
  background:white;
  border-bottom:4px solid #bfbfbf;
  height:400px;
  padding:0px 16px 0px 16px;
}

#DialogButtons {
  padding:16px 0px 0px 0px;
  text-align:right;
}

#DialogButtons button{
  font:8pt tahoma;
  width:75px;
  height:25px;
  margin:0px 0px 0px 8px;
}

.DialogTitle {
  font-size:x-large;
  padding:8px 0px 16px 0px; 
  height:48px;
}