﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Affidavit.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.Affidavit" MasterPageFile="~/MasterPages/Master.Master" Title="Affidavit"%>
<%@ Register Src="~/Controls/BKEducationControls/UC_Affidavit.ascx" TagPrefix="Uc"  TagName="Affidavit"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:Affidavit id="UcAffidavit" runat="server"></Uc:Affidavit>
</asp:Content>