﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AppSucess.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.AppSucess" MasterPageFile="~/MasterPages/Master.Master" Title="CCCS AppSucess BKEducation"%>
<%@ Register Src="~/Controls/BKEducationControls/UCAppSucess.ascx" TagPrefix="Uc"  TagName="UCAppSucess"%>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCAppSucess id="UcUCAppSucess" runat="server"></Uc:UCAppSucess> </asp:Content>


