﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AprWait.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.AprWait" MasterPageFile="~/MasterPages/Master.Master" Title="BKEducation"%>

<%@ Register Src="~/Controls/BKEducationControls/UCAprWait.ascx" TagPrefix="Uc"  TagName="AprWait"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:AprWait id="UcAprWait" runat="server"></Uc:AprWait>
</asp:Content>
