﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Disclosure.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.Disclosure" MasterPageFile="~/MasterPages/Master.Master" Title="CCCS Disclosure BKEducation"%>
<%@ Register Src="~/Controls/BKCounselingControls/UCDisclosure.ascx" TagPrefix="Uc"  TagName="UCDisclosure"%>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCDisclosure id="UcUCDisclosure"  runat="server"></Uc:UCDisclosure> </asp:Content>


