﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FeeDisclosure.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.FeeDisclosure"  MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Fee Disclosure BKEducation"%>
<%@ Register Src="~/Controls/BKEducationControls/UCFeeDisclosure.ascx" TagPrefix="Uc"  TagName="UCFeeDisclosure"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCFeeDisclosure id="UcUCFeeDisclosure" runat="server" RedirectOnContinue="GetJointSsn.aspx"></Uc:UCFeeDisclosure> </asp:Content>

