﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GetJointSsn.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.GetJointSsn" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Get Joint Ssn BKEducation"%>
<%@ Register Src="~/Controls/BKEducationControls/UCGetJointSsn.ascx" TagPrefix="Uc"  TagName="UCGetJointSsn"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
<script language="javascript" src="../Content/FormChek.js"></script>
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCGetJointSsn id="UcUCGetJointSsn" runat="server"></Uc:UCGetJointSsn> </asp:Content>




