﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="introNew.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.introNew" MasterPageFile="~/MasterPages/Master.Master" Title="Overview"%>
<%@ Register Src="~/Controls/BKEducationControls/UC_IntroNew.ascx" TagPrefix="Uc"  TagName="IntroNew"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:IntroNew id="UcIntoNew" runat="server"></Uc:IntroNew>
</asp:Content>