﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="IntroNewPage.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.introNewPage" MasterPageFile="~/MasterPages/Master.Master" %>
<%@ Register Src="~/Controls/BKEducationControls/UC_IntroNewPage.ascx" TagPrefix="Uc"  TagName="IntroNewPage"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
   <uc:intronewpage id="UcIntoNewPage" runat="server"></uc:intronewpage>
</asp:Content>