﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MIMnavigate.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.MIMnavigate" MasterPageFile="~/MasterPages/Master.Master" Title="BKE MIMnavigate" %>
<%@ Register Src="~/Controls/BKEducationControls/MIMnavigate.ascx" TagPrefix="Uc"  TagName="MIMnavigate"%>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:MIMnavigate id="UcUCAppSucess" runat="server"></Uc:MIMnavigate> </asp:Content>


