﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="QuicCalc.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.QuicCalc" MasterPageFile="~/MasterPages/Master.Master" Title="CCCS QuicCalc BKEducation"%>
<%@ Register Src="~/Controls/BKEducationControls/UCQuicCalc.ascx" TagPrefix="Uc"  TagName="UCQuicCalc"%>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCQuicCalc id="UcUCQuicCalc" runat="server"></Uc:UCQuicCalc> </asp:Content>




