﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RegisterAttorney.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.RegisterAttorney" MasterPageFile="~/MasterPages/Master.Master" Title="User Registeration"%>
<%@ Register Src="~/Controls/BKEducationControls/RegisterAttorney.ascx" TagPrefix="Uc"  TagName="UCAttorneyRegistration"%>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCAttorneyRegistration id="UcUCQuicCalc" runat="server"></Uc:UCAttorneyRegistration> </asp:Content>
