﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RegistrationVerify.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.RegistrationVerify" MasterPageFile="~/MasterPages/Master.Master" Title="CCCS RegistrationVerify BKEducation"%>
<%@ Register Src="~/Controls/BKEducationControls/UCRegistrationVerify.ascx" TagPrefix="Uc"  TagName="UCRegistrationVerify"%>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCRegistrationVerify id="UcUCRegistrationVerify" runat="server"></Uc:UCRegistrationVerify> </asp:Content>


