﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WaiverWaiver.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.WaiverWaiver" MasterPageFile="~/MasterPages/Master.Master" Title="CCCS WaiverWaiver BKEducation"%>
<%@ Register Src="~/Controls/BKEducationControls/UCWaiverWaiver.ascx" TagPrefix="Uc"  TagName="UCWaiverWaiver"%>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCWaiverWaiver id="UcUCWaiverWaiver" runat="server"></Uc:UCWaiverWaiver></asp:Content>

