﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WaiverPath.aspx.cs" Inherits="Cccs.Credability.Website.BKEducation.WaiverPath" MasterPageFile="~/MasterPages/Master.Master" Title="CCCS WaiverPath BKEducation"%>
<%@ Register Src="~/Controls/BKEducationControls/UCWaiverPath.ascx" TagPrefix="Uc"  TagName="UCWaiverPath"%>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCWaiverPath id="UcUCWaiverPath" runat="server"></Uc:UCWaiverPath></asp:Content>



