﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/SynchronousMaster.Master" AutoEventWireup="true" CodeBehind="Certificate.aspx.cs" Inherits="Cccs.Credability.Website.BKCounseling.Certificate" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="livePersonMonitorPlaceHolder" runat="server">
</asp:Content>
