<%@ Page language="c#" Codepage="65001" AutoEventWireup="true"  MasterPageFile="~/MasterPages/Clearpoint/Main.Master" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="PageBody">
    <div class="content-full">
        <sc:Placeholder ID="content" runat="server" Key="content" />
    </div>
</asp:Content>
