﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master.master.cs" Inherits="Cccs.Sandbox.Website.Master"%>
<%@ Register src="Controls/LanguageSelect.ascx" tagname="LanguageSelect" tagprefix="uc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head runat="server">
		<title></title>
		<link href="Content/base.css" rel="stylesheet" type="text/css" />
		<link href="Content/combo.css" rel="stylesheet" type="text/css" />
		<asp:ContentPlaceHolder ID="ContentPlaceHolderHead" runat="server">
		</asp:ContentPlaceHolder>
	</head>
	<body>
        <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <div>
        </div>
        <asp:UpdatePanel ID="MasterPageUpdatePanel" runat="server" UpdateMode="Conditional">
            <ContentTemplate>
                <asp:UpdateProgress ID="UpdateProgress1" runat="server" AssociatedUpdatePanelID="MasterPageUpdatePanel">
                    <ProgressTemplate>
                        <div style="width: 100%; text-align: center;">
                            <div style="width: 150px; display: block; background-color: Gray; vertical-align: middle;
                                text-shadow: 2">
                                Processing Data...
                            </div>
                        </div>
                    </ProgressTemplate>
                </asp:UpdateProgress>
                <div class="wrapper">
                    <div class="header">
                        <div class="logo">
                            <a title="Return to CredAbility's home page" href="http://localhost/"><strong>CredAbility</strong>
                                Nonprofit Credit Counseling &amp; Education</a></div>
                        <div class="live-chat">
                            <a href="#">Live Chat</a>
                        </div>
                    </div>
                    <div style="background: url(images/headline-default.gif) no-repeat left top" class="headline">
                    </div>
                    <div class="body">
                        <div class="content-full">
                            <div class="c-body c-large">
                                <uc1:LanguageSelect ID="LanguageSelect1" runat="server" />
                                <asp:ContentPlaceHolder ID="ContentPlaceHolderBody" runat="server">
                                </asp:ContentPlaceHolder>
                            </div>
                        </div>
                        <div class="clearboth">
                        </div>
                    </div>
                    <div class="footer">
                        <div class="footer-links">
                            <ul>
                                <li class="first"><a href="http://localhost/www.exx-traddition.com" rel="nofollow">Musique</a></li>
                                <li><a href="http://localhost/en/homepage.aspx">Home</a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>
                                Copyright 2010 - Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                        <div class="clearboth">
                        </div>
                        <div class="partners-logos">
                            <ul>
                                <li>
                                    <img src="images/partners-logos.gif"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </DIV>
            </ContentTemplate>
        </asp:UpdatePanel>
        </form>
	</body>
</html>
