﻿<%@ Import Namespace="System.Threading"%>
<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="CredAbility.Website.MasterPages.Clearpoint.Main" %>
<%@ Register src="controls/header.ascx" tagname="header" tagprefix="ca" %>
<%@ Register src="controls/footer.ascx" tagname="footer" tagprefix="ca" %>
<!doctype html> 
<html>
<head>
    <title id="TrueTitle" runat="server"><sc:text ID="Text1" runat="server" field="Page Title"/></title>
    <sc:XslFile ID="XslFile1" runat="server" Path="~/xsl/metatags.xslt"/>
    <link rel="stylesheet" type="text/css" href="~/minify/combo.ashx?f=/static/js/yui3/cssreset/reset-min.css,/static/js/yui3/cssfonts/fonts-min.css&m=css&ct=text/css">
    <!--
    <link rel="stylesheet" type="text/css" href="~/minify/combo.ashx?f=/static/css/clearpoint/base.css,/static/css/clearpoint/menu.css,/static/css/clearpoint/public.css&m=css&ct=text/css"/>
    -->
    <link rel="stylesheet" type="text/css" href="/static/css/clearpoint/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/clearpoint/menu.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/clearpoint/public.css" />
    <script type="text/javascript">
        document.write("<link rel=\"stylesheet\" type=\"text/css\" href=\"~/minify/combo.ashx?f=/static/css/initiate.css&m=css&ct=text/css\" media=\"screen\"/>");
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server"/>
    <sc:Placeholder ID="Placeholder3" runat="server" Key="css" />
    <style><sc:text runat="server" field="CSS"/></style>
    <script type="text/javascript">
        document.documentElement.className = "yui-loading";
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>
    <script type="text/javascript">
        head.js(
            "//cdnjs.cloudflare.com/ajax/libs/cufon/1.09i/cufon-yui.js",
            "/static/js/clearpoint/Anivers_400.font.js",
            function () {
                Cufon.replace('h1, h2, h3, h4');
                Cufon.replace('.cufon');
            }
        );
    </script>
</head>
<body>
    <sc:placeholder ID="Placeholder1" key="webedit" runat="server" />  
    <div class="wrapper">
        <ca:header ID="header1" runat="server" />
	    <form id="form1" runat="server">
            <div class="body">
                <asp:ContentPlaceHolder ID="PageBody" runat="server"/>
                <div class="clearboth"></div>
            </div>
	    </form>
        <ca:footer ID="Footer1" runat="server"/>
    </div>
    <!-- Placeholder menu (not used) to keep while both versions are co-existing. -->
    <div style="display: none;"></div><div class="menu"><div class="yui3-menu yui3-menu-horizontal"></div></div></div>
    <!-- These scripts need to load AFTER the main content. -->
    <script type="text/javascript" charset="utf-8" src="/static/js/yui3/yui/yui-min.js"></script>
    <script type="text/javascript" src="~/minify/combo.ashx?f=/static/js/core.js&m=js"></script>
    <style type="text/css">
        #create-account-page div.passwordRules { position: relative; left: -50px; }
        #change-password-page div.passwordRules { position: relative; top: -50px; }
    </style>
    <!--script for BBB image swap-->
    <!--
    <script type="text/javascript">var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-atlanta.bbb.org' + unescape('%2Flogo%2Fcredability-2684.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
    -->
    <asp:ContentPlaceHolder ID="PageBottom" runat="server"/>   
    <!-- Begin Google Analytics code -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15166403-2']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_addIgnoredRef', 'credability.org']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- End Google Analytics code -->
    <!-- BEGIN LivePerson Monitor. -->
    <script language='javascript'> var lpMTagConfig = {'lpServer' : "server.iad.liveperson.net",'lpNumber' : "29009926",'lpProtocol' : "https"}; function lpAddMonitorTag(src){if(typeof(src)=='undefined'||typeof(src)=='object'){src=lpMTagConfig.lpMTagSrc?lpMTagConfig.lpMTagSrc:'/hcp/html/mTag.js';}if(src.indexOf('http')!=0){src=lpMTagConfig.lpProtocol+"://"+lpMTagConfig.lpServer+src+'?site='+lpMTagConfig.lpNumber;}else{if(src.indexOf('site=')<0){if(src.indexOf('?')<0)src=src+'?';else src=src+'&';src=src+'site='+lpMTagConfig.lpNumber;}};var s=document.createElement('script');s.setAttribute('type','text/javascript');s.setAttribute('charset','iso-8859-1');s.setAttribute('src',src);document.getElementsByTagName('head').item(0).appendChild(s);} if (window.attachEvent) window.attachEvent('onload',lpAddMonitorTag); else window.addEventListener("load",lpAddMonitorTag,false);</script>
    <!-- END LivePerson Monitor. -->
</body>
</html>