﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EmailUpdate.ascx.cs" Inherits="AttorneyPortal.controls.EmailUpdate" %>

<asp:TextBox ID="EmailAddress" runat="server" MaxLength="80" Width="100%" />
