﻿<%@ Control Language="C#" AutoEventWireup="false" CodeBehind="VendorAddressUpdate.ascx.cs" Inherits="AttorneyPortal.controls.VendorAddressUpdate" %>
<%@ Register Src="~/controls/AddressUpdate.ascx" TagName="AddressUpdate" TagPrefix="adr" %>

<adr:AddressUpdate ID="AddrUpdate" runat="server" />
