﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap1End.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap1End" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap1End" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap1End.ascx" TagPrefix="Uc"  TagName="UCChap1End"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap1End id="UcUCChap1End" runat="server"></Uc:UCChap1End>
</asp:Content>

