﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2A.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2A" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2A" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2A.ascx" TagPrefix="Uc"  TagName="UCChap2A"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2A id="UcUCChap2A" runat="server"></Uc:UCChap2A>
</asp:Content>
