﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap4End.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap4End" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap4End" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap4End.ascx" TagPrefix="Uc"  TagName="UCChap4End"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap4End id="UcUCChap4End" runat="server"></Uc:UCChap4End>
</asp:Content>
