﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap4C.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap4C" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap4C" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap4C.ascx" TagPrefix="Uc"  TagName="UCChap4C"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap4C id="UcUCChap4C" runat="server"></Uc:UCChap4C>
</asp:Content>