﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap5A.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap5A" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap5A" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap5A.ascx" TagPrefix="Uc"  TagName="UCChap5A"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap5A id="UcUCChap5A" runat="server"></Uc:UCChap5A>
</asp:Content>
