﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap3E.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap3E" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap3E" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap3E.ascx" TagPrefix="Uc"  TagName="UCChap3E"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap3E id="UcUCChap3E" runat="server"></Uc:UCChap3E>
</asp:Content>
