﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap3A.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap3A" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap3A" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap3A.ascx" TagPrefix="Uc"  TagName="UCChap3A"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap3A id="UcUCChap3A" runat="server"></Uc:UCChap3A>
</asp:Content>
