﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap3C.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap3C" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap3C" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap3C.ascx" TagPrefix="Uc"  TagName="UCChap3C"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap3C id="UcUCChap3C" runat="server"></Uc:UCChap3C>
</asp:Content>