﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap3End.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap3End" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap3End" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap3End.ascx" TagPrefix="Uc"  TagName="UCChap3End"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap3End id="UcUCChap3End" runat="server"></Uc:UCChap3End>
</asp:Content>
