﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap1C.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap1C" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap1C" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap1C.ascx" TagPrefix="Uc"  TagName="UCChap1C"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap1C id="UcUCChap1C" runat="server"></Uc:UCChap1C>
</asp:Content>

