﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2B.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2B" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2B" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2B.ascx" TagPrefix="Uc"  TagName="UCChap2B"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2B id="UcUCChap2B" runat="server"></Uc:UCChap2B>
</asp:Content>
