﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap4D.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap4D" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap4D" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap4D.ascx" TagPrefix="Uc"  TagName="UCChap4D"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap4D id="UcUCChap4D" runat="server"></Uc:UCChap4D>
</asp:Content>
