﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap5D.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap5D" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap5D"  %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap5D.ascx" TagPrefix="Uc"  TagName="UCChap5D"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap5D id="UcUCChap5D" runat="server"></Uc:UCChap5D>
</asp:Content>
