﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap4A.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap4A" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap4A" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap4A.ascx" TagPrefix="Uc"  TagName="UCChap4A"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap4A id="UcUCChap4A" runat="server"></Uc:UCChap4A>
</asp:Content>
