﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap3D.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap3D" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap3D" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap3D.ascx" TagPrefix="Uc"  TagName="UCChap3D"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap3D id="UcUCChap3D" runat="server"></Uc:UCChap3D>
</asp:Content>
