﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap5C.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap5C" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap5C" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap5C.ascx" TagPrefix="Uc"  TagName="UCChap5C"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap5C id="UcUCChap5C" runat="server"></Uc:UCChap5C>
</asp:Content>
