﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2K.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2K" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2K" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2K.ascx" TagPrefix="Uc"  TagName="UCChap2K"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2K id="UcUCChap2K" runat="server"></Uc:UCChap2K>
</asp:Content>
