﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap5F.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap5F" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap5F"  %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap5F.ascx" TagPrefix="Uc"  TagName="UCChap5F"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap5F id="UcUCChap5F" runat="server"></Uc:UCChap5F>
</asp:Content>
