﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2I.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2I" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2I" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2I.ascx" TagPrefix="Uc"  TagName="UCChap2I"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2I id="UcUCChap2I" runat="server"></Uc:UCChap2I>
</asp:Content>
