﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap5End.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap5End" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap5End" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap5End.ascx" TagPrefix="Uc"  TagName="UCChap5End"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap5End id="UcUCChap5End" runat="server"></Uc:UCChap5End>
</asp:Content>
