﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap5E.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap5E" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap5E" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap5E.ascx" TagPrefix="Uc"  TagName="UCChap5E"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap5E id="UcUCChap5E" runat="server"></Uc:UCChap5E>
</asp:Content>
