﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap4E.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap4E" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap4E"  %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap4E.ascx" TagPrefix="Uc"  TagName="UCChap4E"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap4E id="UcUCChap4E" runat="server"></Uc:UCChap4E>
</asp:Content>
