﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2End.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2End" MasterPageFile="~/MasterPages/Master.Master"  Title="CredAbility Chap2End" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2End.ascx" TagPrefix="Uc"  TagName="UCChap2End"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2End id="UcUCChap2End" runat="server"></Uc:UCChap2End>
</asp:Content>
