﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap4B.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap4B" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap4B" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap4B.ascx" TagPrefix="Uc"  TagName="UCChap4B"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap4B id="UcUCChap4B" runat="server"></Uc:UCChap4B>
</asp:Content>
