﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2J.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2J" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2J" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2J.ascx" TagPrefix="Uc"  TagName="UCChap2J"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2J id="UcUCChap2J" runat="server"></Uc:UCChap2J>
</asp:Content>