﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap5B.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap5B" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap5B"  %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap5B.ascx" TagPrefix="Uc"  TagName="UCChap5B"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap5B id="UcUCChap5B" runat="server"></Uc:UCChap5B>
</asp:Content>
