﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap3B.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap3B" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap3B" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap3B.ascx" TagPrefix="Uc"  TagName="UCChap3B"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap3B id="UcUCChap3B" runat="server"></Uc:UCChap3B>
</asp:Content>