﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap3F.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap3F" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap3F" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap3F.ascx" TagPrefix="Uc"  TagName="UCChap3F"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap3F id="UcUCChap3F" runat="server"></Uc:UCChap3F>
</asp:Content>
