﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2C.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2C" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2C" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2C.ascx" TagPrefix="Uc"  TagName="UCChap2C"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2C id="UcUCChap2C" runat="server"></Uc:UCChap2C>
</asp:Content>
