﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2H.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2H" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2H" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2H.ascx" TagPrefix="Uc"  TagName="UCChap2H"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2H id="UcUCChap2H" runat="server"></Uc:UCChap2H>
</asp:Content>