﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap1D.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap1D" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap1D" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap1D.ascx" TagPrefix="Uc"  TagName="UCChap1D"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap1D id="UcUCChap1D" runat="server"></Uc:UCChap1D>
</asp:Content>
