﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap1B.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap1B" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap1B" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap1B.ascx" TagPrefix="Uc"  TagName="UCChap1B"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap1B id="UcUCChap1B" runat="server"></Uc:UCChap1B>
</asp:Content>
