﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2G.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2G" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2G"  %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2G.ascx" TagPrefix="Uc"  TagName="UCChap2G"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2G id="UcUCChap2G" runat="server"></Uc:UCChap2G>
</asp:Content>
