﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chapter1.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chapter1" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chapter1" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChapter1.ascx" TagPrefix="Uc"  TagName="UCChapter1"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChapter1 id="UcUCChapter1" runat="server"></Uc:UCChapter1>
</asp:Content>


