﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap1E.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap1E" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap1E" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap1E.ascx" TagPrefix="Uc"  TagName="UCChap1E"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap1E id="UcUCChap1E" runat="server"></Uc:UCChap1E>
</asp:Content>

