﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2E.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2E" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2E"  %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2E.ascx" TagPrefix="Uc"  TagName="UCChap2E"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2E id="UcChap2E" runat="server"></Uc:UCChap2E>
</asp:Content>