﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2D.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2D" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2D" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2D.ascx" TagPrefix="Uc"  TagName="UCChap2D"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2D id="UcUCChap2D" runat="server"></Uc:UCChap2D>
</asp:Content>
