﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Chap2F.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Chap2F" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Chap2F" %>
<%@ Register Src="~/Controls/PrePurchaseControls/UCChap2F.ascx" TagPrefix="Uc"  TagName="UCChap2F"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UCChap2F id="UcUCChap2F" runat="server"></Uc:UCChap2F>
</asp:Content>
