﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CounsStart.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.CounsStart" Title="CredAbility Pre Purching Counselling" MasterPageFile="~/MasterPages/Master.Master" %>
<%@ Register src="../Controls/PrePurchaseControls/UCCounsStart.ascx" tagname="UCCounsStart" tagprefix="uc1" %>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
 <uc1:UCCounsStart ID="UCCounsStart1" runat="server" />
</asp:Content>

