﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Introduction.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Introduction" Title="CredAbility Pre Purching Introduction" MasterPageFile="~/MasterPages/Master.Master"%>
<%@ Register src="../Controls/PrePurchaseControls/UCIntro.ascx" tagname="UCIntro" tagprefix="uc1" %>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
 <uc1:UCIntro ID="UCIntro1" runat="server" />
</asp:Content>

