﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Term.aspx.cs" Inherits="Cccs.Credability.Website.PrePurchase.Terms" Title="CredAbility Pre Purching Terms" MasterPageFile="~/MasterPages/Master.Master" %>
<%@ Register Src="~/Controls/Shared/Pages/UcTerm.ascx" TagName="UCTerms" TagPrefix="uc1" %>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
	<uc1:UCTerms ID="UCTerms1" runat="server" RedirectOnPrevious="Afs.aspx" />
</asp:Content>