.scResult, .scResult:active, .scResult:visited {
  font: 9pt verdana;
  color:#0000de;
  text-decoration: underline;
  cursor:default;
}
.scResult:hover, .scResult_Hover {
  font: 9pt verdana;
  color:#0000de;
  text-decoration: underline;
  cursor:default;
}
.scResultInfo {
  color:Green;
  cursor:default;
}
.scNoFound {
  font: 9pt verdana;
  color:#999999;
  cursor:default;
}

.scField {
  font-weight:bold;
  color:Green;
  cursor:default;
}
