<%@ Page language="c#" Codebehind="UploadPackage2.aspx.cs" AutoEventWireup="false" Inherits="Sitecore.Shell.Applications.Install.Dialogs.UploadPackage.UploadPackagePage2" %>
<%@ OutputCache Location="None" VaryByParam="none" %>