<%@ OutputCache Location="None" VaryByParam="none" %>
<%@ Page language="c#" CodeBehind="UploadPackage.aspx.cs" AutoEventWireup="false" Inherits="Sitecore.Shell.Applications.Install.Dialogs.UploadPackage.UploadPackagePage" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" >
<html>
  <head>
    <title>Sitecore</title>
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
  </head>
  <frameset rows="*,0" frameborder="no" framespacing="0" border="0">
    <frame id="Upload" runat="server" name="upload" scrolling="no" frameborder="no" marginwidth="0" marginheight="0" noresize></frame>
    <frame name="sitecoreupload" frameborder="no" marginwidth="0" marginheight="0" noresize></frame>
    <noframes>
      This HTML frameset displays multiple Web pages. To view this frameset, use a 
      Web browser that supports HTML 4.0 and later.
    </noframes>
  </frameset>
</html>
