<%@ OutputCache Location="None" VaryByParam="none" %>
<%@ Page language="c#" CodeBehind="UploadMedia.aspx.cs" AutoEventWireup="false" Inherits="Sitecore.Shell.Applications.Media.UploadMedia.UploadMediaPage" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" >
<html>
  <head>
    <title>Sitecore</title>
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
  </head>
  <frameset rows="*,0">
    <frame id="Attach" runat="server" name="attach" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" noresize="noresize" />
    <frame name="sitecoreattach" frameborder="0" marginwidth="0" marginheight="0" noresize="noresize" />
    <noframes>
      This HTML frameset displays multiple Web pages. To view this frameset, use a 
      Web browser that supports HTML 4.0 and later.
    </noframes>
  </frameset>
</html>
