﻿<%@ Page language="c#" Codepage="65001" AutoEventWireup="true"  MasterPageFile="~/MasterPages/Board.Master" %><asp:content runat="server" contentplaceholderid="PageBody">
    <div class="left-rail">
        <sc:placeholder runat="server" key="left-rail"></sc:placeholder>
    </div>
    <div class="content">
        <sc:placeholder id="content" runat="server" key="content"></sc:placeholder>
    </div>
</asp:content>