﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Recommended Courses.ascx.cs" Inherits="CredAbility.Website.layouts.Recommended_Courses" %>

<div class="recommended-courses">
    <div>
	    <div class="title"><a href="http://www.repaydebt.org/podcasts"><%=LinkText %></a></div>
    </div>
</div>