html
{
    color: #000;
	background: #fff;
}

body
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

div
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

dl
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

dt
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}

dd
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

ul
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

ol
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

li
{
	padding-bottom: 5px; margin: 0px; padding-left: 10px; padding-right: 0px; padding-top: 0px;
}

h1
{
	padding-bottom: 20px;
	margin: 20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 20px;
	font-weight:bold;
	font-size:150%;
}

h2
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

h3
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

h4
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}
h5
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

h6
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

pre
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}

code
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

form
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

fieldset
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

legend
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

input
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

textarea
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

p
{
    margin-bottom: 0px; padding-bottom: 20px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

blockquote
{
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

th
{
	font-family:inherit; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}

td
{
	font-family: inherit; text-align: left;
}

table
{
	padding-bottom: 1px; margin: 1px; padding-left: 1px; padding-right: 1px; padding-top: 1px; float: left;
}

fieldset
{
	border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px;
}

img
{
	border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px;
}

address
{
	font-style: normal; font-weight: normal;
}

caption
{
	font-style: normal; font-weight: normal;
}

cite
{
	font-style: normal; font-weight: normal;
}

code
{
	font-style: normal; font-weight: normal;
}

dfn
{
	font-style: normal; font-weight: normal;
}

em
{
	font-style: normal; font-weight: normal;
}

strong
{
	font-style: normal; font-weight: normal;
}

th
{
	font-style: normal; font-weight: normal;
}

var
{
	font-style: normal; font-weight: normal;
}

caption
{
	text-align: left;
}

h2
{
	font-size: 100%; font-weight: normal;
}

h3
{
	font-size: 100%; font-weight: normal;
}

h4
{
	font-size: 100%; font-weight: normal;
}

h5
{
	font-size: 100%; font-weight: normal;
}

h6
{
	font-size: 100%; font-weight: normal;
}

q:before
{
	content: '';
}

q:after
{
	content: '';
}

abbr
{
	border-bottom: 0px; border-left: 0px; font-variant: normal; border-top: 0px; border-right: 0px;
}

acronym
{
	border-bottom: 0px; border-left: 0px; font-variant: normal; border-top: 0px; border-right: 0px;
}

sup
{
	vertical-align: text-top;
}

sub
{
	vertical-align: text-bottom;
}

input
{
	font-family: inherit; font-size: inherit; font-weight: inherit;
}

textarea
{
	font-family: inherit; font-size: inherit; font-weight: inherit;
}

select
{
	font-family: inherit; font-size: inherit; font-weight: inherit;
}

input
{
}

textarea
{
}

select
{
}

legend
{
	color: #000;
}

table
{
	font-size: inherit;
}

pre
{
	line-height: 100%; font-family: monospace;
}

code
{
	line-height: 100%; font-family: monospace;
}

kbd
{
	line-height: 100%; font-family: monospace;
}

samp
{
	line-height: 100%; font-family: monospace;
}

tt
{
	line-height: 100%; font-family: monospace;
}

.language li.first, ul li.first
{
    background: transparent none repeat scroll 0 0; text-align: right;
}

.language li.current a
{
    font-weight:bold;
    color:#003e7e;
    font-size:10pt;
    text-decoration:none;
}

div ul.language > ul > li
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    font-size:10pt;
}

.language li.current a
{
    font-weight:bold;
}

.language li a, ul li a
{
    color:#003e7e;
    font-size:10pt;
    text-decoration:none;
}

.language a
{
    color:#003e7e;
    font-size:10pt;
    text-decoration:none;
    display: inline;
}

.language
{
    float: none;
    display:inline;
}

div#language
{
    position: absolute;
    right: 40px;
    top: 85px;
    z-index: 100;
}

html, body
{
    font-family:verdana,geneva,sans-serif;
}

body 
{
    font-size:13px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.231;
}

.login-bar 
{
    background:url('http://localhost/images/login-bg.gif') no-repeat 0 0;
    color:#003e7e;
    font-size:0.6875em;
    font-style:italic;
    font-weight:bold;
    height:30px;
    line-height:26px;
    padding-right:22px;
    position:absolute;
    right:0;
    text-align:right;
    width:207px;
}

.login-bar a 
{
    color:#ffffff;
    text-decoration:none;
}