body    	{background-color:#FFFFFF;}

.MasiveHead	{font-family: Verdana, Geneva, sans-serif; font-size: 26pt; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #00b2aa;}
.GiantHead	{font-family: Verdana, Geneva, sans-serif; font-size: 17pt; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #00b2aa;}
.BigHead	{font-family: Verdana, Geneva, sans-serif; font-size: 16pt; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #00b2aa;}
.MedHead	{font-family: Verdana, Geneva, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #00b2aa;}
.NormHead	{font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #00b2aa;}
.SmallHead	{font-family: Verdana, Geneva, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #FFFFFF; background-color: #00b2aa;}
.TnyHead	{font-family: Verdana, Geneva, sans-serif; font-size: 7pt; font-style: normal; font-weight: normal; color: #FFFFFF; background-color: #00b2aa;}

.MasiveTxtW	{font-family: Verdana, Geneva, sans-serif; font-size: 26pt; font-style: normal; font-weight: bold; color: #FFFFFF;}
.GiantTxtW	{font-family: Verdana, Geneva, sans-serif; font-size: 17pt; font-style: normal; font-weight: bold; color: #FFFFFF;}
.BigTxtW	{font-family: Verdana, Geneva, sans-serif; font-size: 16pt; font-style: normal; font-weight: bold; color: #FFFFFF;}
.MedTxtW	{font-family: Verdana, Geneva, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; color: #FFFFFF;}
.NormTxtW	{font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #FFFFFF;}
.SmallTxtW	{font-family: Verdana, Geneva, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #FFFFFF;}
.TnyTxtW	{font-family: Verdana, Geneva, sans-serif; font-size: 7pt; font-style: normal; font-weight: normal; color: #FFFFFF;}

.MasiveTxtB	{font-family: Verdana, Geneva, sans-serif; font-size: 26pt; font-style: normal; font-weight: bold; color: #00b2aa;}
.GiantTxtB	{font-family: Verdana, Geneva, sans-serif; font-size: 17pt; font-style: normal; font-weight: bold; color: #00b2aa;}
.BigTxtB	{font-family: Verdana, Geneva, sans-serif; font-size: 16pt; font-style: normal; font-weight: bold; color: #00b2aa;}
.MedTxtB	{font-family: Verdana, Geneva, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; color: #00b2aa;}
.NormTxtB	{font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #00b2aa;}
.SmallTxtB	{font-family: Verdana, Geneva, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #00b2aa;}
.TnyTxtB	{font-family: Verdana, Geneva, sans-serif; font-size: 7pt; font-style: normal; font-weight: normal; color: #00b2aa;}

.MasiveTxtR	{font-family: Verdana, Geneva, sans-serif; font-size: 26pt; font-style: normal; font-weight: bold; color: #CC0000;}
.GiantTxtR	{font-family: Verdana, Geneva, sans-serif; font-size: 17pt; font-style: normal; font-weight: bold; color: #CC0000;}
.BigTxtR	{font-family: Verdana, Geneva, sans-serif; font-size: 16pt; font-style: normal; font-weight: bold; color: #CC0000;}
.MedTxtR	{font-family: Verdana, Geneva, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; color: #CC0000;}
.NormTxtR	{font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #CC0000;}
.SmallTxtR	{font-family: Verdana, Geneva, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #CC0000;}
.TnyTxtR	{font-family: Verdana, Geneva, sans-serif; font-size: 7pt; font-style: normal; font-weight: normal; color: #CC0000;}

.MasiveTxtG	{font-family: Verdana, Geneva, sans-serif; font-size: 26pt; font-style: normal; font-weight: bold; color: #66CC33;}
.GiantTxtG	{font-family: Verdana, Geneva, sans-serif; font-size: 17pt; font-style: normal; font-weight: bold; color: #66CC33;}
.BigTxtG	{font-family: Verdana, Geneva, sans-serif; font-size: 16pt; font-style: normal; font-weight: bold; color: #66CC33;}
.MedTxtG	{font-family: Verdana, Geneva, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; color: #66CC33;}
.NormTxtG	{font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #66CC33;}
.SmallTxtG	{font-family: Verdana, Geneva, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #66CC33;}
.TnyTxtG	{font-family: Verdana, Geneva, sans-serif; font-size: 7pt; font-style: normal; font-weight: normal; color: #66CC33;}

.MasiveTxt	{font-family: Verdana, Geneva, sans-serif; font-size: 26pt; font-style: normal; font-weight: normal; color: #000000;}
.GiantTxt	{font-family: Verdana, Geneva, sans-serif; font-size: 17pt; font-style: normal; font-weight: normal; color: #000000;}
.BigTxt		{font-family: Verdana, Geneva, sans-serif; font-size: 16pt; font-style: normal; font-weight: normal; color: #000000;}
.MedTxt		{font-family: Verdana, Geneva, sans-serif; font-size: 12pt; font-style: normal; font-weight: normal; color: #000000;}
.NormTxt	{font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal; color: #000000;}
.SmallTxt	{font-family: Verdana, Geneva, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #000000;}
.TnyTxt		{font-family: Verdana, Geneva, sans-serif; font-size: 7pt; font-style: normal; font-weight: normal; color: #000000;}
.ListTxt	{font-family: Verdana, Geneva, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #000000;}

.ReqTxt		{font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; color: #CC0000; font-weight: bold;}
.ReqYel		{font-family: Verdana, Geneva, sans-serif; font-size: 7pt; font-style: normal; color: #FFFF00;}

.TxtBox			{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #000000; text-align:left; font-weight:normal; background-color: #FFFFFF;}
.NumBox			{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #000000; text-align:right; font-weight:normal; background-color: #FFFFFF;}
.RedButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #CC0000;border-color: #e0e0e0;}
.GreenButton	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #66CC33;border-color: #e0e0e0;}
.YelloButton	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #00b2aa; text-align:center; font-weight: bold; background-color: #FFCC66;border-color: #e0e0e0;}
.PurpleButton	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #660099;border-color: #e0e0e0;}
.GreyButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #000000; text-align:center; font-weight: bold; background-color: #e0e0e0;border-color: #00b2aa;}
.BlueButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #00b2aa;border-color: #e0e0e0;}

.SkyBlueButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #0967B4;border-color: #e0e0e0;}
.AzureButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #007DC3;border-color: #e0e0e0;}
.MidnightButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #003E7E;border-color: #e0e0e0;}
.ChartreuseButton	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #99CC33;border-color: #e0e0e0;}
.SiennaButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #333333;border-color: #e0e0e0;}
.AmaranthButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #660066;border-color: #e0e0e0;}

.WhiteBack		{background-color: #FFFFFF;}
.GreyBack		{background-color: #e0e0e0;}
.GreyBackDark	{background-color: #d0d0d0;}
.GreyBackLight	{background-color: #f6f6f6;}
.BlueBack		{background-color: #00b2aa;}
.RedBack		{background-color: #CC0000;}
.ReqBack		{background-color: #EE7777;}
.YelloBack		{background-color: #FFCC66;}
.YelStBack		{background-color: #FF9900;}
.PurpleBack		{background-color: #660099;}
.GreenBack		{background-color: #66CC33;}

/* New CredAbility Colors */
.AzureBack		{background-color: #007DC3;}
.MidnightBack	{background-color: #003E7E;}
.ChartreuseBack	{background-color: #99CC33;}
.SiennaBack		{background-color: #333333;}
.AmaranthBack	{background-color: #660066;}

.bgCredBlue		{background-color: #042C69;}
.bgCredSkyBlue	{background-color: #0967B4;}
.colorRed		{color: #CC0000;}

.RightBorder	{border-right: 1px solid #000000;}
.ToolTip		{position: relative !important; z-index: 2;}

div.Holder		{height: 70%; width: 70%; position: absolute !important; left: 0px; top: 0px; z-index: 1;}

.DefWord			{color: #006600;text-decoration: none; cursor: help; font-weight: bold;}
.DefWord:visited	{color: #006600;text-decoration: none; cursor: help; font-weight: bold;}
.DefWord:active		{color: #006600;text-decoration: none; cursor: help; font-weight: bold;}
.DefWord:hover		{color: #006600;text-decoration: none; cursor: help; font-weight: bold;}

.MasiveLink			{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 22pt;text-decoration: underline}
.MasiveLink:visited	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 22pt;text-decoration: underline}
.MasiveLink:active	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 22pt;text-decoration: underline}
.MasiveLink:hover	{color: #7097AC;font-family: Verdana, Geneva, sans-serif; font-size: 22pt;text-decoration: underline}

.GiantLink			{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 16pt;text-decoration: underline}
.GiantLink:visited	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 16pt;text-decoration: underline}
.GiantLink:active	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 16pt;text-decoration: underline}
.GiantLink:hover	{color: #7097AC;font-family: Verdana, Geneva, sans-serif; font-size: 16pt;text-decoration: underline}

.BigLink			{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 14pt;text-decoration: underline}
.BigLink:visited	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 14pt;text-decoration: underline}
.BigLink:active		{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 14pt;text-decoration: underline}
.BigLink:hover		{color: #7097AC;font-family: Verdana, Geneva, sans-serif; font-size: 14pt;text-decoration: underline}

.MedLink			{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 12pt;text-decoration: underline}
.MedLink:visited	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 12pt;text-decoration: underline}
.MedLink:active		{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 12pt;text-decoration: underline}
.MedLink:hover		{color: #7097AC;font-family: Verdana, Geneva, sans-serif; font-size: 12pt;text-decoration: underline}

.NormLink			{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 10pt;text-decoration: underline}
.NormLink:visited	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 10pt;text-decoration: underline}
.NormLink:active	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 10pt;text-decoration: underline}
.NormLink:hover		{color: #7097AC;font-family: Verdana, Geneva, sans-serif; font-size: 10pt;text-decoration: underline}

.SmallLink			{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 8pt;text-decoration: underline}
.SmallLink:visited	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 8pt;text-decoration: underline}
.SmallLink:active	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 8pt;text-decoration: underline}
.SmallLink:hover	{color: #7097AC;font-family: Verdana, Geneva, sans-serif; font-size: 8pt;text-decoration: underline}

.TnyLink			{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 7pt;text-decoration: underline}
.TnyLink:visited	{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 7pt;text-decoration: underline}
.TnyLink:active		{color: #00b2aa;font-family: Verdana, Geneva, sans-serif; font-size: 7pt;text-decoration: underline}
.TnyLink:hover		{color: #7097AC;font-family: Verdana, Geneva, sans-serif; font-size: 7pt;text-decoration: underline}

.ReqLink			{color: #CC0000;font-family: Verdana, Geneva, sans-serif; font-size: 12pt;text-decoration: underline; font-weight: bold;}
.ReqLink:visited	{color: #CC0000;font-family: Verdana, Geneva, sans-serif; font-size: 12pt;text-decoration: underline; font-weight: bold;}
.ReqLink:active		{color: #CC0000;font-family: Verdana, Geneva, sans-serif; font-size: 12pt;text-decoration: underline; font-weight: bold;}
.ReqLink:hover		{color: #990000;font-family: Verdana, Geneva, sans-serif; font-size: 12pt;text-decoration: underline; font-weight: bold;}

/* old decrepitude */

.Dk_tab_text {font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #FFFFFF}
.Lt_tab_text {font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; color: #FFFFFF; font-weight: bold}
.normal_text {font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; color: #000000}
.small_text {font-family: Verdana, Geneva, sans-serif; font-size: 10pt; font-style: normal; color: #000000}

.normal_link{color: #00b2aa;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12pt;font-weight: bold;text-decoration: underline}
.normal_link:visited{color: #00b2aa;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12pt;font-weight: bold;text-decoration: underline}
.normal_link:active{color: #00b2aa;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12pt;font-weight: bold;text-decoration: underline}
.normal_link:hover{color: #7097AC;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12pt;font-weight: bold;text-decoration: underline}

.small_link{color: #00b2aa;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt;font-weight: bold;text-decoration: underline}
.small_link:visited{color: #00b2aa;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt;font-weight: bold;text-decoration: underline}
.small_link:active{color: #00b2aa;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt;font-weight: bold;text-decoration: underline}
.small_link:hover{color: #7097AC;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt;font-weight: bold;text-decoration: underline}