﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AlmostDone.aspx.cs" Inherits="Cccs.Credability.Website.Rvm.AlmostDone"  MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility Almost Done"%>
<%@ Register Src="~/Controls/RvmControls/UcAlmostDone.ascx" TagPrefix="Uc"  TagName="UAlmostDone"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
<Uc:UAlmostDone id="UcUAlmostDone" runat="server"></Uc:UAlmostDone> 
</asp:Content>