﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DPL.aspx.cs" Inherits="Cccs.Credability.Website.Rvm.DPL" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility DPL RVM"%>
<%@ Register Src="~/Controls/RvmControls/UcDPL.ascx" TagPrefix="Uc" TagName="UCDPL" %>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
	<Uc:UCDPL ID="UcUCDPL" runat="server" RedirectOnPrevious="Alternitives.aspx"></Uc:UCDPL> 
</asp:Content>