﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="Cccs.Credability.Website.Rvm.Login"   Title ="CCCS Login"%>
<%@ Register Src="~/Controls/UCLogin.ascx" TagPrefix="Uc" TagName="Login" %>
<html>
<head>
<body>
<form id="frmLogin" runat="server">
<Uc:Login id="Uclogin" runat="server"></Uc:Login> 
</form>
</body>
</head>
</html>



