﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PTD.aspx.cs" Inherits="Cccs.Credability.Website.Rvm.PTD" MasterPageFile="~/MasterPages/Master.Master" Title="CredAbility PTD RVM"%>
<%@ Register Src="~/Controls/RvmControls/UcPTD.ascx" TagPrefix="Uc"  TagName="UCPTD"%>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
	<Uc:UCPTD ID="UcUCPTD" runat="server" RedirectOnPrevious="Alternitives.aspx"></Uc:UCPTD> 
</asp:Content>