﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RvmRegulation.aspx.cs" Inherits="Cccs.Credability.Website.Rvm.RvmRegulation" MasterPageFile="~/MasterPages/Master.Master" %>
<%@ MasterType TypeName="Cccs.Credability.Website.MastePages.Master" %>
<asp:Content ID="ContentHead" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ContentPlaceHolderID="ContentPlaceHolderBody" runat="server">
	<br />
	<br />
	<br />
	<br />
	<div style="text-align: center; margin-left: auto; margin-right: auto; width: 65%; float: none; font-size: 125% !important;">
		<%=BlockMessage%>
	</div>
	<br />
	<br />
	<div class="dvbtncontainer">
		<div class="lnkbutton">
			<asp:LinkButton ID="btnExit" runat="server" TabIndex="40" OnClick="btnExit_Click"><span><%=Cccs.Credability.Website.App.Translate("Credability|RVMButtons|SaveContinueLater")%></span></asp:LinkButton>
		</div>
	</div>
</asp:Content>
