﻿
/* IndexViewer general - start */
.IndexViewer
{
  
  font-family: Arial;
  font-size: 10pt;
  border: 0px;  
  min-width: 740px;  
  
}

.clearfloat
{
  clear: both;
}
/* IndexViewer general - end */

/*Header - begin */
.Header
{
  padding-top: 10px;
}

.Header .SelectLabel
{
  color: #FFF;
  /*font-weight: bold;*/
}

.Header .ButtonSelector
{
  background-color: #DDD;
  border: solid 1px #000;
  padding: 0px;
  
}

.Header .ButtonSelectorSelected
{
  background-color: #EEE;
  border: solid 1px #000;
  border-bottom: solid 1px #EEE;
  padding: 0px;
  
}

.Header .Selector
{
  width: 200px;
}

.Header .SelectorEntity
{
  float: left;
  padding-right: 10px;
}

.Header .HeaderViewSelector
{
  padding-top: 10px;
}
/*Header - end */

/* IndexOverview - start*/

.IndexOverview
{
  background-color: #EEE;
  padding-left: 10px;
  padding-top: 10px;
  border: solid 1px #000;
  border-top: 0px;
}

.IndexOverview .OverviewLabel
{
  float:left;
  padding-right: 10px;
}

.IndexOverview .OverviewValue
{
  font-weight: bold;
}

.IndexOverview .OverviewEntity
{
  padding-bottom:5px;
    
}

.IndexOverview ul.FieldList
{
  list-style: none;
  padding: 0px;
  background-color: #FFF;
  width:200px;
  border: solid 1px #000;
  border-bottom: 0px;
}

.IndexOverview ul.FieldList li
{
  padding: 3px;
  border-bottom: solid 1px #000;
}

.IndexOverview .Fields
{
  padding-top: 20px;
}

/* IndexOverview - end*/

/* DocumentsOverview - start */
.DocumentsOverview
{
  background-color: #EEE;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border: solid 1px #000;
  border-top: 0px;
}

.DocumentsOverview .DocumentContent
{
  
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.DocumentsOverview .Title
{
  font-weight: bold;
  padding-bottom: 3px;
}

.DocumentsOverview table
{
  white-space: nowrap;
  table-layout: fixed;
}

.DocumentsOverview table.DocumentFieldTable
{
  background-color: #FFF;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  white-space: nowrap;
}

.DocumentsOverview table.DocumentFieldTable th
{
  border-left: solid 1px #000;
  border-top: solid 1px #000;
  padding: 2px;
  overflow: hidden;
}


.DocumentsOverview table.DocumentFieldTable td
{
  border-left: solid 1px #000;
  border-top: solid 1px #000;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
}

.DocumentsOverview table.DocumentFieldTable th
{
  background-color: #DDD;
 
}

.DocumentsOverview table.DocumentFieldTable th.Index
{
  width: 60px;
}

.DocumentsOverview table.DocumentFieldTable th.FieldName
{
  width: 130px;
}

.DocumentsOverview table.DocumentFieldTable td.Index
{
  text-align: center;
}

.DocumentsOverview .IterateButton
{
  width: 30px;
}

.DocumentsOverview .GoButton
{
  width: 30px;
}

/* DocumentsOverview - end */

/* Search - begin */
.SearchContent
{
  background-color: #EEE;
  padding-left: 10px;
  padding-top: 10px;
  border: solid 1px #000;
  border-top: 0px;
  height: 100%
}

.SearchContent .SearchTermText
{
  font-weight: bold;
}

.SearchContent .SearchTextField
{
  float: left;
  padding-right: 20px;
  
}

.SearchContent .TopSection
{
  min-width: 740px;
}

.SearchContent .BottomContent
{
  padding-top: 30px;
}

.SearchContent .SearchResultInfoEntity
{
  padding: 5px;
}

.SearchContent .SearchResultInfoValue
{
  padding-right: 10px;
  font-weight: bold;
}

.SearchContent .SearchResults
{
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.SearchContent  table
{
  
  border-color: #000;
}

.SearchContent .SearchResultTable td
{
  overflow: hidden;
  white-space: nowrap;
  background-color: #FFF;
  border-color: #AAAAAA;
  padding: 4px;
}

.SearchContent .SearchResultTable th
{
  overflow: hidden;
  white-space: nowrap;
  background-color: #DDDDDD;
  border-color: #000;
  padding: 2px;
}

.SearchContent .PagerLinks a
{
  color: #000;
}

/* Search - end */

/* Welcome message - start */

.WelcomeMessage
{
  text-align: center;
  background-color: #EEE;
  padding-left: 10px;
  padding-top: 10px;
}



.WelcomeMessage .Information
{
  padding-bottom: 40px;
  font-size: 1.2em;
}

.WelcomeMessage .ContactInformation
{
  font-size: 0.8em;
  color: #999;
}

.WelcomeMessage .ContactInformation a
{
  color: #999;
}
/* Welcome message - end */
