﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <title>Credit Counselors - Get Started Now</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="~/Scripts/jquery-1.8.2.js" type="text/javascript"></script>
	<script src="~/Scripts/knockout-2.2.0.js" type="text/javascript"></script>
    <script src="~/Scripts/nav.js" type="text/javascript"></script>
    <script src="~/Scripts/native.history.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    <script src="~/Scripts/App/ApplicationViewModel.js" type="text/javascript"></script>
    <script>
        var RequestURL = "@Url.Content("~/")api/IntakeAPI/GetLongformData?appId=@(ViewBag.AppID)";
    </script>

</head>

<body bgcolor="#ffffff" marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
<!--begin body-->
<h1>Review Your Information</h1>
    <p>Please review the information you have filled out so far.
	</p>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top">
		<!-- BEGIN STEP 1 DATA -->
		<!--begin applicant's personal info-->
		<h2>SECTION 1<br>Personal Information</h2>
		
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
		<td valign="top">
			<table border="0"> 
				<tr> 
					<td align="right"><b>Salutation:</b></td>
					
					<td data-bind="text: User().salutation" ></td>
				</tr>
				<tr>
				 	<td align="right"><b>First Name:</b></td>
					<td data-bind="text: User().first_name"></td>
				</tr>				
				<tr>
					<td align="right"><b>Last Name:</b></td>
					<td data-bind="text: User().last_name"></td>
				</tr>
				<tr>
				  	<td align="right">MI:</td>
					<td data-bind="text: User().middle_initial"></td>
				</tr>
				<tr>
					<td align="right">Suffix:</td>
					<td data-bind="text: User().suffix"></td>
				</tr>

			</table>
		</td>
		<td valign="top">
			<table border="0">
				<tr>
					<td align="right"><b>D.O.B. (mm/dd/yyyy):</b></td>
					<td data-bind="text: Application().birth_date"></td>
				</tr>
				
                <tr> 
                    <td align="right"><b>S.S.N:</b></td>
					<td data-bind="text: Application().ssn"></td>
		        </tr>
				<tr> 
					<td align="right"><b>Marital Status:</b></td>
					<td data-bind="text: ApplicationDescr().marital_status_descr"></td>
					
				</tr>
				<tr>
					<td align="right"><b>Number of Dependents:</b></td>
					<td data-bind="text: Application().num_dependents"></td>
				</tr>
                <tr>
			        <td align="right"><b>Ethnic Origin:</b></td>
			        <td data-bind="text: ApplicationDescr().ethnicity_descr"></td>
			    </tr>	
                <tr>
			        <td align="right"><b>Education: </b></td>
			        <td data-bind="text: ApplicationDescr().education_descr"></td>
	            </tr>			
			</table>
		</td>
        </tr>
       
        </table>
        <br />
        <br />
        <table border="0" align="left">
          <tr>
              <td valign="top">
	                 <table border="0" align="center">
		                    <tr>
                                <td><b>Reason for seeking debt management:</b></td>
	                            <td data-bind="text: ApplicationDescr().problem_type_descr"></td>
		                    </tr>
                            <tr>
		                        <td align="right">
		                        <b>How did you hear about us?</b>
		                        </td>
		                        <td data-bind="text: ApplicationDescr().referral_type_descr"></td>
	                        </tr>
		                    <tr>
				                <td align="right"><b>Preferred Method of Contact:</b></td>
				                <td data-bind="text: Application().preferred_method_contact"></td>
			                </tr>
                            <tr>
				                <td align="right"><b>Credit Report Authorized?:</b></td>
				                <td data-bind="text: Application().credit_report_authorized == '0' ? 'No' : 'Yes'"></td>
			                </tr>
		                </table>
                </td>
            </tr> 
        </table>    
<!--end personal info, begin contact info-->
		<br />
		<br />
		<h2 class="line">Contact Information</h2>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
		<td valign="top">
			<table border="0"> 
				<tr>
					<td align="right"><b>Email Address:</b></td>
					<td data-bind="text: User().email_address"></td>
				</tr>
				<tr>
				 	<td align="right"><b>Home Phone:</b></td>
					<td data-bind="text: Application().telephone_home"></td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table border="0"> 
				<tr>
					<td align="right"><b>Work Phone:</b></td>
					<td data-bind="text: Application().telephone_work"></td>
				</tr>
				<tr>
				 	<td align="right"><b>Fax:</b></td>
					<td data-bind="text: Application().fax_number"></td></td>
				</tr>
			</table>
		</td>
    </tr>

</table>	
<!--end contact info, begin addr info-->
		
		<h2 class="line">Address</h2>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
		<td valign="top">
			<table border="0"> 
				<tr>
					<td align="right"><b>Street Address/PO Box:</b></td>
					<td data-bind="text: Address().line_1"></td>
					<td data-bind="text: Address().line_2"></td>
				</tr>
				<tr>
				 	<td align="right"><b>City:</b></td>
					<td data-bind="text: Address().city"></td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table border="0"> 
				<tr>
					<td align="right"><b>State:</b></td>
					<td data-bind="text: Address().state_code_descr"></td>
				</tr>
				<tr>
				 	<td align="right"><b>Zip Code:</b></td>
					<td data-bind="text: Address().zip_code"></td>
				</tr>
			</table>
			</td>
		</tr>
		</table>
		

		<!-- END STEP 1 DATA -->

		<!-- BEGIN STEP 1 SPOUSE DATA -->
	

		<!-- END STEP 1 SPOUSE DATA -->

		<!-- BEGIN STEP 1 COAPP DATA -->
		
	
		<!-- END STEP 1 COAPP DATA -->
		
		
		<!-- BEGIN STEP 2 DATA -->
		
		
		 <h2 class="line">SECTION 2<br>Creditor Information</h2>
		<table border="0" width="100%">
            <thead>
			    <tr>
				    <td valign="bottom" class="creditHead">Creditor:</td>
				    <td valign="bottom" class="creditHead">Account Number:</td>
				    <td valign="bottom" class="creditHead">Current<br>Balance:</td>
				    <td valign="bottom" class="creditHead">Monthly<br>Payment:</td>
				    <td valign="bottom" class="creditHead"># of Months<br>Past Due:</td>
				    <td valign="bottom" class="creditHead">Interest<br>Rate:</td>
				    <td></td>
				    <td></td>
			    </tr>
            </thead>
			<tbody data-bind="foreach: Applicant_Creditor()">
                <tr>
                    <td valign="bottom" data-bind="text: creditor_name"></td>
                    <td valign="bottom" data-bind="text: account_number"></td>
                    <td valign="bottom" data-bind="text: current_balance"></td>
                    <td valign="bottom" data-bind="text: monthly_payment"></td>
                    <td valign="bottom" data-bind="text: num_months_past_due"></td>
                    <td valign="bottom" data-bind="text: interest_rate"></td>
                </tr>
            </tbody>
		</table>
		
		<!-- END STEP 2 DATA -->
		
		
		<!-- BEGIN STEP 3 DATA -->

		
		<h2 class="line">SECTION 3<br>Housing</h2>
			<table border="0" width="100%">
				<tr>
			        <td align="right"><b>Status</b></td>
				    <td data-bind="text: ApplicationDescr().housing_status_descr"></td>
			        <td align="right"><b>Payments:</b></td>
			        <td data-bind="text: Application().housing_payments_current == '0' ? 'Current' : 'Not Current' "></td>
				    <td align="center"><b>NFMCP Agreement:</b></td>
                    <td data-bind="text: Application().housing_agreement"></td>
			     </tr>
			</table> 
		
		<h2 class="line">Monthly Income</h2> 
        <div>
		<table border="0" width="100%">
		    <tr>
                <td valign="top">
                    <table border="0">
                        <tr>
                            <td align="right" width="48%"><b>Your Employer:</b></td>
		                    <td data-bind="text: Application().employer"></td>
                        </tr>
                         <tr>
		                    <td align="right"><b>Job Title:</b></td>
		                    <td data-bind="text: Application().job_title"></td>
		                </tr>
		                <tr>
		                    <td align="right"><b>Your Gross Monthly Pay:</b><br><span class="footer">(Before Taxes or Deductions)</span></td>
		                    <td data-bind="text: Application().monthly_income_gross"></td>
                        </tr>
		                <tr>
		                </tr>
		                <tr>
		                    <td align="right"><b>Your Monthly Take Home Pay:</b></td>
		                    <td data-bind="text: Application().monthly_income_net" ></td>
		                </tr>
                        <tr> 
		                    <td align="right"><b>Other Monthly Income:</b></td>
		                    <td data-bind="text: Application().monthly_income_other"></td>
		                </tr>
                    </table>
                 </td>
                <td valign="top">
                    <table data-bind="visible: CoapplicantPresent" border="0" width="100%">
		                <tr>
		                    <td align="right" width="48%"><b>Coapplicant Employer:</b></td>
		                    <td data-bind="text: Application().coapplicant_employer"></td>
		                </tr>
		                <tr>
		                    <td align="right"><b>Job Title:</b></td>
		                    <td data-bind="text: Application().coapplicant_job_title"></td>
		                </tr>
		                <tr>
		                    <td align="right"><b>Your Gross Monthly Pay:</b><br><span class="footer">(Before Taxes or Deductions)</span></td>
		                    <td data-bind="text: Application().coapplicant_monthly_income_gross"></td>
                        </tr>
		                <tr>
		                </tr>
		                <tr>
		                    <td align="right"><b>Your Monthly Take Home Pay:</b></td>
		                    <td data-bind="text: Application().coapplicant_monthly_income_net" ></td>
		                </tr>
                        
		            </table>
                 </td>
              </tr>
              <tr> 
		        <td align="right"><b>Total Monthly Net Income:</b></td>
			    <td data-bind="text: Application().total_monthly_income"></td>
		     </tr>
		 </table>
		 </div>    
         
		<br>
				
		<h2 class="line">Financial Questions</h2>
        <div>
		<table border="0" width="100%">
		   <tr>
		      <td align="right" width="48%"><b>Are there any unpaid judgments against you?</b></td>
			  <td data-bind="text: Application().unpaid_judgements == '0' ? 'No' : 'Yes'"</td>
		   </tr>
		   <tr>
			  <td align="right"><b>Are your wages being garnished?</b></td>
			  <td data-bind="text: Application().wages_garnished == '0' ? 'No' : 'Yes'"></td>
		  </tr>
		  <tr>
		     <td align="right"><b>Are any creditor accounts in the hands of  attorneys?</b></td>
			 <td data-bind="text: Application().accounts_with_attorney == '0' ? 'No' : 'Yes'"></td>
		  </tr>
		  <tr>				 
		     <td align="right"><b>Have you ever filed bankruptcy?</b></td>
			 <td data-bind="text: Application().filed_bankruptcy == '0' ? 'No' : 'Yes'"</td>
		   </tr>
		</table>
        </div>
		<p align="center">
		
		<!-- END STEP 3 DATA -->

		<!-- BEGIN STEP 4 DATA -->
		
			
			<h2 class="line">SECTION 4<br>Estimated Monthly Living Expense</h2>
			<table border="2" width="50%">
               <tbody data-bind="foreach: Expenses()">
                    <tr>
                        <td valign="bottom" data-bind="text: name"></td>
                        <td valign="bottom" data-bind="text: value"></td>
                
                    </tr>
                </tbody>
                <tr>
                    <td><b>Total Monthly Living Expense:</b></td>
                    <td data-bind="text: TotalExpenses"></td>
                </tr>
            </table>
			
		    <h2 class="line">Comments</h2> 		
		    <div data-bind="text: Application().comments"></div>
	
		<!-- END STEP 4 DATA -->
		</td>
   </tr>
</table>
<!--end body-->
</body>
</html>
