
html, body { margin:0; padding:0; font-family: Verdana, Geneva, sans-serif; }

.wrapper { width: 960px; float: none; margin: auto !important; padding:0; position: relative;
}

.clearboth
{
    clear:both;
}

/*header elements*/
.header {
    height:275px; 
    padding-left:70px;
    padding-right:54px; 
    position:relative;
    z-index:2;
}

.logo { 
    position:absolute;
    top: 30px;
    left: 70px;
    width:216px; 
    height:61px; 
}

.logo a{
    background: url('http://localhost/images/logo.gif') no-repeat left top;
    display:block;
    width: 244px;
    height: 69px;
    text-indent: -2000px;
    overflow:hidden;
}


.live-chat{
    position:absolute;
    right:54px;
    top: 85px;
    background: url('http://localhost/imagesa/live-chat.gif') no-repeat left top;
    padding-left:22px;
}

.live-chat a{
    color :#007dc3;
    text-decoration:none;
}

.headline{ 
    font-size:2.25em; 
    color:#FFF; 
    background: url('http://localhost/imagesa/about-bg.gif') no-repeat left top;
    height:240px;
    z-index:1;
    top: 35px;
    width:960px;
    left:0;
    position:absolute;   
}

.body
{
	position:relative;
    padding-left: 54px;
    padding-right: 54px;
}


.footer {
    background:#ececec; 
    padding: 20px 53px 42px 84px; 
    font-size:.85em; 
    color:#999999;
}

.footer-links {
    float:left;
}

.footer-links ul li { 
    float:left;
    background: url('http://localhost/imagesa/bg-footerlinks-separator.gif') no-repeat 0 2px; 
    padding-left: 9px;
    padding-right: 8px;
}
.footer-links ul li.first {
    background:none;
    padding-left: 0;
}

.footer-links ul li a { 
    text-decoration:none; 
    color:#999;
}

.copyright 
{
	clear: right;
	margin: auto !important;
	width: 100% !important;
	text-align: center;
	 
}
.partners-logos {
    margin-top: 20px;
    padding-top: 10px;
    text-align:center;
}

.partners-logos ul li { display:inline; }
.partners-logos ul li img { padding:0 10px; }

/******/

.content{ 
    width:730px; 
    float:left;
}

.content-full{

}

.c-body
{
	
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;  
    padding-bottom:50px;
    width: 100%;/* width: 730px; */
}

.content .c-large{
    width: 730px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.c-body h1
{
	/* font-size:1.3em; */
    font-weight:bold; 
    color:#333; 
    padding-bottom:15px;
}

.c-body { 
    /* font-size:1em; */
    padding:10px 0;
}

div table
{
	width: 100%;
}

.Title { float: none; margin: auto; padding: 0px 100px 20px 0px; width: 100%;}

/* Style Rules From SiteColors.CSS */

.inactive { display: none; }
.active { display: block; }
div.container {height:auto; left: 0px; top: 0px; width: 100%; }
div#Shade{ background-image: url("../images/Shade.gif"); background-repeat; repeat; opacity: 0.6; filter: alpha(opacity=60); left: 0px; top: 0px; position: absolute !important; width: 100%; z-index: 0; }
.message { background-color: #ffffff; border: 10px solid #004d91; left: 40%; margin: 20px !important; padding: 10px !important; position: absolute !important; top: 30%; z-index: 2;}


/* Client Access Style Rules */

.dmpMenu { border: 1px solid black; height:19px; width:134px; float:left; font-size:8pt !important; font-weight:normal !important; margin: 10px 5px; padding:5px; text-align: center; color: #FFFFFF;}

div.dmpMenu > a:link, .dmpMenu > a:visited, div.dmpMenu > a:active { color:#ffffff !important; text-decoration:none !important; }

div.dmpMenu > a:hover { color:gold !important; text-decoration:none !important; }

ul.dmp	{list-style-type:disc !important;list-style-position:outside !important;padding-bottom: 5px; margin: 10px; padding-left: 15px; padding-right: 15px; padding-top: 5px}

.left	{float: left;}
.right	{float: right;}
.border {border: 1px solid black;}
.bold	{font-weight:bold;}
