This is the form.css file. It is included at this point.

#noShadow .tableWidth {
	width: 191px;
}
#Shadow .tableWidth {
	width: 197px;
}
#noShadow .topImage {
	width: 100%; height: 48px; background-image: url("../images/top.gif"); background-repeat: no-repeat;
}
#noShadow .btmImage {
	width: 100%; height: 9px; background-image: url("../images/bottom.gif"); background-repeat: no-repeat;
}
#Shadow .topImage {
	width: 100%; height: 48px; background-image: url("../images/top-shadow.gif"); background-repeat: no-repeat;
}
#Shadow .btmImage {
	width: 100%; height: 15px; background-image: url("../images/bottom-shadow.gif"); background-repeat: no-repeat;
}
#noShadow #contentCell {
	margin: 0px; padding: 8px 6px 0px; color: rgb(51, 51, 51); line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; vertical-align: top; border-right-color: rgb(20, 78, 123); border-left-color: rgb(20, 78, 123); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-image: none; background-color: rgb(255, 255, 255);
}
#Shadow #contentCell {
	background-position: right bottom; margin: 0px; padding: 8px 6px 0px; color: rgb(51, 51, 51); line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; vertical-align: top; border-left-color: rgb(20, 78, 123); border-left-width: 1px; border-left-style: solid; background-image: url("shadow.gif"); background-repeat: repeat-y; background-color: rgb(255, 255, 255);
}
.small {
	font-family: Arial, Helvetica, sans-serif; font-size: 9px;
}
.line {
	margin: 6px 0px; border-top-color: rgb(20, 78, 123); border-top-width: 1px; border-top-style: solid;
}
input {
	color: rgb(20, 78, 123); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; margin-top: 4px; margin-bottom: 5px;
}
