﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LivePersonPhoneCall.ascx.cs" Inherits="Cccs.Credability.Website.Controls.LivePersonPhoneCall" %>

<div align="right" style="width:95%">
<!-- BEGIN LivePerson Button Code --><div  ><table border='0' cellspacing='2' cellpadding='2'><tr><td align="center"></td><td align='center'><a id="_lpChatBtn" href='https://server.iad.liveperson.net/hc/29009926/?cmd=file&file=visitorWantsToTalk&site=29009926&byhref=1&SESSIONVAR!skill=DMP%20Client&imageUrl=https://www.credability.org/static/images/button' target='call29009926'  onClick="lpButtonCTTUrl = 'https://server.iad.liveperson.net/hc/29009926/?cmd=file&file=visitorWantsToTalk&site=29009926&SESSIONVAR!skill=DMP%20Client&imageUrl=https://www.credability.org/static/images/button&referrer='+escape(document.location); lpButtonCTTUrl = (typeof(lpAppendVisitorCookies) != 'undefined' ? lpAppendVisitorCookies(lpButtonCTTUrl) : lpButtonCTTUrl); lpButtonCTTUrl = ((typeof(lpMTag)!='undefined' && typeof(lpMTag.addFirstPartyCookies)!='undefined')?lpMTag.addFirstPartyCookies(lpButtonCTTUrl):lpButtonCTTUrl);window.open(lpButtonCTTUrl,'call29009926','width=472,height=320,resizable=yes');return false;" ><img src='https://server.iad.liveperson.net/hc/29009926/?cmd=repstate&site=29009926&channel=voice&&ver=1&imageUrl=https://www.credability.org/static/images/button&skill=DMP%20Client' name='hcIcon' alt='Chat Button' border=0></a></td> </tr><tr><td>&nbsp;</td><td align='center'><div style="margin-top:5px;"><span style="font-size:10px; font-family:Arial, Helvetica, sans-serif;"><a href="http://solutions.liveperson.com/live-chat" style="text-decoration:none; color:#000" target="_blank"><b>Click to Call</b></a><span style="color:#000"> by </span><a href="http://solutions.liveperson.com/" style="text-decoration:none; color:#FF9900" target="_blank">LivePerson</a></span></div></td> </tr>  </table>
</div><!-- END LivePerson Button code -->
<div class="clear"></div>
</div>