﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LivePersonVariables.ascx.cs" Inherits="Cccs.Credability.Website.Controls.LivePersonBCVariables" %>
<asp:Literal ID="JavaScriptBlockLiteral" runat="server" />