﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCAuthorizationforService.ascx.cs" Inherits="Cccs.Credability.Website.Controls.HousingOnlyControls.UCAuthorizationforService" %>
<%= Cccs.Credability.Website.App.Translate("Credability|AuthorizationforService|TableContent")%>
	


<div class="ButtonParaGraph">
            <asp:Button ID="btnAuthorizationContinue" runat="server" Text="Continue" OnClick="btnAuthorizationContinue_Click"
                ValidationGroup="userprofile" CssClass="Button" />
        </div>


