﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCCommonOptionforDealing.ascx.cs" Inherits="Cccs.Credability.Website.Controls.HousingOnlyControls.UCCommonOptionforDealing" %>
<h1>Common Option For Dealing</h1>

<p><%= Cccs.Credability.Website.App.Translate("Credability|CommonOptionforDealingBCH|TrCont")%></p>




  <p> <asp:Image ID="Image1"  ImageUrl="../../Images/Graph.gif" runat="server"/> </p> 
  
  <p><%= Cccs.Credability.Website.App.Translate("Credability|CommonOptionforDealingBCH|BEIAD")%></p>
  

			
				<div class="dvbtncontainer">
<div class="lnkbutton">
<asp:LinkButton ID="btnReverseMortPrevious" runat ="server" OnClick ="click_btnReverseMortgagePrevious"><span><%= Cccs.Credability.Website.App.Translate("Credability|RVMButtons|Previous")%></span></asp:LinkButton>
</div>
<div class="lnkbutton">
<asp:LinkButton ID="btnSendtoCounselorforFinalReview" runat ="server" OnClick ="click_btnSendtoCounselorforFinalReview" ToolTip="Send to Counselor for Final Review"><span>Send to Counselor for Final Review</span></asp:LinkButton>

</div>
</div>
	
	