﻿
html, body { margin:0; padding:0; font-family:Verdana, Geneva, sans-serif; }
.wrapper { 
    width:1084px; margin:0 auto; padding:0; 
    position:relative;
}

.clearboth{
    clear:both;
}

/*header elements*/
.header {
    height:  315px; /*155px;   */
    padding-left:70px;
    padding-right:54px; 
    position:relative;
    z-index:12;
}

.logo { 
    position:absolute;
    top: 30px;
    left: 70px;
    width:261px; 
    height:96px; 
}

.logo a{
    display:block;
    width: 300px;
    height: 95px;
    text-indent: -2000px;
    overflow:hidden;
}

.logo a.en{
    background: url(/static/images/layout/logo.gif) no-repeat top left;
}

.logo a.es{
    background: url(/static/images/layout/logo-es.gif) no-repeat top left;
}

.function-bar { 
    position:absolute;
    right: 0;
    height: 155px;
    width:600px;
    right: 54px;
}

.login-bar { 
    position: absolute;
    right:0;    
    width:207px; 
    height:30px; 
    background: url(/static/images/layout/login-bg.gif) no-repeat; 
    color:#003e7e; 
    font-size:0.6875em; 
    font-weight:bold; 
    font-style: italic; 
    padding-right:22px; 
    line-height:26px; 
    text-align:right; 
}

.login-bar a {
    color:#fff;
    text-decoration:none;
}

.function-nav{
    position:absolute;
    right:0;
    top: 50px;
}

.function-nav ul { 
    padding:0; 
    height: 16px;
}

.language li,
.function-nav ul li { 
    background:url(/static/images/layout/functionnal-menu-separator.gif) no-repeat 0px 3px;
    padding: 0 6px 0 7px;
    display: inline;
}

.language li.first,
.function-nav ul li.first {
    background:none;
}

.language li a,
.function-nav ul li a { 
    color:#003e7e; 
    font-size:0.8em; 
    text-decoration: none; 
}

.language { 
    /*position:absolute;
    right: 325px;
    top:80px;*/
    float:left;    
}

.language a { 
    color:#003e7e; 
    font-size:0.6875em; 
    text-decoration: none;
}

.language li.current a{
    font-weight:bold;
}
.search { 
    position: absolute;
    right: 0;
    top:80px;
    width: 510px;
    text-align:right;
}

.search .keyword { 
    width:157px; 
    color:#000;
    float:left; 
    font-size: 0.95em;
    border:solid #7f9db9 1px; 
    height:20px; 
    /*display:block;*/
    margin-right: 5px;
    
}

.search #services {
    /*width:100px; */
    font-size: 0.95em;
    float:left;
    border:solid #7f9db9 1px; 
    height:20px; 
    margin-right: 5px;
    /*border:solid #7f9db9 1px;
    font-size:0.6875em; 
    margin-left:10px; 
    padding:1px; 
    */
}

.Headline-background
{
	top: 75px;
    width:1084px;
    left:0;
    position:absolute;
    height:560px;	
}
.Headline-background .headline
{
	top: 0px;
    width:1084px;
    left:0;	
}
.headline{ 
    font-size:2.25em; 
    color:#FFF; 
    background: no-repeat right 33px;
    height:240px;
    z-index:1;
    top: 75px;
    width:1084px;
    left:0;
    position:absolute;
}

.body{
    position:relative;
    padding-left: 90px;
    padding-right: 54px;
}
/*body elements*/

/*

.body:after{ display:block; clear:both; visibility:hidden; height:0; content:"."; }

.personal-info{ padding-bottom:20px; height:60px;}
.personal-info .avatar{ float:left; padding-right:10px;}
.personal-info .name{ font-size:0.75em; font-weight:bold; color:#333; padding:22px 0 0 0;}
*/

.left-rail{ 
    width:185px; 
    padding:0 35px 50px 0; 
    float:left; 
    overflow:hidden;
}

.left-rail li.current-parent,
.left-rail li.current{
    font-weight:bold;
}

.left-rail li{ 
    font-size:1em;
    font-weight:normal;
}

.left-rail a{ 
    color:#007dc3;
    text-decoration:none;
 }

.left-rail li span{
    display:block; 
    padding:15px 10px 0 0;
}


.left-rail li{ 
    background:url(/static/images/layout/menu-line.gif) no-repeat 0 bottom; 
    padding-bottom: 15px;
}

.left-rail li li{ 
    background:none;
    margin-left: 10px;
    font-size: 0.95em;
     font-weight:normal;
     padding: 0;
}
.left-rail li li span{
    
    padding: 0 0 0 9px;
}

.left-rail li.current-parent span{
    padding-bottom: 15px;
}



.left-rail li.current span{
    background: url(/static/images/layout/current-arrow.gif) no-repeat right 16px;
}

.left-rail li.current-parent li.current {
    background: url(/static/images/layout/current-arrow.gif) no-repeat right 1px;
}

.left-rail li.current-parent li span{
    background: url(/static/images/layout/menu-sub-bg.gif) no-repeat 0 6px;
   padding-bottom:5px;
   padding-right: 10px;
}


/*footer elements*/


.footer {
    background:#ececec; 
    padding: 20px 53px 42px 84px; 
    font-size:0.85em; 
    color:#999999;
}

.footer-links {
   /*  float:left; */
   padding-left: 195px;
}

.footer-links ul li { 
    float:left;
    background:url(/static/images/layout/bg-footerlinks-separator.gif) no-repeat 0 2px; 
    padding-left: 9px;
    padding-right: 8px;
}
.footer-links ul li.first { 
    background:none;
    padding-left: 0;
}

.footer-links ul li a { 
    text-decoration:none; 
    color:#999;
}

.copyright { 
    /* float:right; */
    text-align: center;
    padding-top: 15px;
}
.partners-logos {
    margin-top: 20px;
    padding-top: 10px;
    text-align:center;
}

.partners-logos ul li { display:inline-block; }
.partners-logos ul li img { padding:0 10px; }

/******/

.content{ 
    width:720px; 
    float:left;
}

.content-full{
position:relative;
}

.content-full .c-small{
    width:684px; 
    padding-right:35px; 
}

.c-body{ 
    float:left; 
    padding-bottom:50px;
    overflow:hidden;
    position:relative;
}


.content .c-large{
    width: 730px;
}

.content .c-small{
    width:475px; 
    padding-right:35px; 
}


.c-body h1{ 
    font-size:1.3em; 
    font-weight:bold; 
    color:#333; 
    margin-bottom:15px;
}

.c-body h2{ 
    font-size:1.2em; 
    font-weight:bold; 
    color:#333; 
    margin-bottom:10px;
    margin-top: 5px;
}

.c-body ul,
.c-body p{ 
    font-size:1em; 
    padding:10px 0;
}

.c-body a {
    color : #007DC3;
}
.c-body a:hover {
    color : #003e7e;
}

.c-body i, .c-body em{
    font-style:italic;
}
.c-body b, .c-body strong{
    font-weight:bold;
}
.c-body li{
    background: url(/static/images/layout/c-body-li-bullet.gif) no-repeat 0 6px;
    padding-left: 10px;
}

.c-body .content-box{
    padding: 10px;
    background: #ECECEC;
}

.pager .current{
	font-weight:bold;	
}

.link-btn {
    text-align:right;
}
.link-btn .rt{
background:url("/static/images/layout/links-btn-bg.gif") no-repeat scroll right 2px transparent;
padding: 4px 18px 4px 0;
}

.link-btn a{
    background:#77b800;
    color:#FFFFFF;
    font-size:0.85em;
    font-weight:bold;
    /*padding:3px 25px 5px 8px;*/
    text-decoration:none;
    padding: 4px 0;
}
.link-btn a:hover{
    color :#fff;
}
.link-btn .lt{
    background:url("/static/images/layout/links-btn-bg.gif") no-repeat scroll left -21px transparent;
    padding: 4px 2px 4px 1px;
}



.item-rate .stars {
    background: url("/static/images/layout/rating-stars.png") no-repeat left -14px;
    width : 70px;
    height: 14px;
    overflow:hidden;
    float:left;
    text-align:left;
    text-indent : -2000px;
}

.item-rate .stars span{
    background:url("/static/images/layout/rating-stars.png") no-repeat left 0; 
    display:block;
    height:23px;
}

.item-rate .rate-0 span{ width: 0px;}
.item-rate .rate-05 span{ width: 7px;}
.item-rate .rate-1 span{ width: 14px;}
.item-rate .rate-15 span{ width: 20px;}
.item-rate .rate-2 span{ width: 27px;}
.item-rate .rate-25 span{ width: 34px;}
.item-rate .rate-3 span{width: 40px;}
.item-rate .rate-35 span{width: 47px;}
.item-rate .rate-4 span{width: 54px;}
.item-rate .rate-45 span{width: 61px;}
.item-rate .rate-5 span{width: 68px;}

.item-rate .rated-by {
    float:left;
}

.item-rater
{
	float:left;
	
	
	z-index:6;
}
.item-rater span{cursor: pointer;}
.item-rater span.mouseOn
{
    display:block;
    float:left;
    
   background: url("/static/images/layout/rating-stars.png") no-repeat left -28px;
    width:14px;
    height:14px;
}

.item-rater span.mouseOff
{
    display:block;
    float:left;
    
   background:url("/static/images/layout/rating-stars.png") no-repeat left 0; 
   
    width:14px;
    height:14px;
}

.item-rater span.blank
{
    display:block;
    float:left;
    width:14px;
    height:14px;
    background: url("/static/images/layout/rating-stars.png") no-repeat left -14px;
}

.rate-this{
    margin-top: 30px;
    
}
.share-this{
    margin-top: 30px;
}

.error-see-below
{
	color :#cc3333;
	font-weight:bold;
	font-size: 0.875em;
	padding:8px 35px;
	margin-bottom: 25px;	
	background:#eeded4 url(/static/images/layout/icons/ico-error-exclamation.gif) no-repeat 10px 6px; 	
}

.result-messages .info,
.result-messages .warning
{
	color :#77b800;
	background:#e0e7d4 url(/static/images/layout/icons/ico-check.gif) no-repeat 10px 6px; 		
}

.result-messages .error
{
	color :#cc3333;
	background:#eeded4 url(/static/images/layout/icons/ico-error-exclamation.gif) no-repeat 10px 6px; 		
}

.result-messages ul
{
	
	padding:8px 35px;
}

.result-messages
{
	font-weight:bold;
	font-size: 0.875em;
	margin-bottom: 25px;	
}

.result-messages li{
    list-style : none;
    margin: 0;
    padding:0;
    background:none;
    
}

