﻿.segment h2{
    display:none;
}

.yui3-menu-horizontal > .yui3-menu-content > ul:after{
    clear:both;
    content:"";
    display:block;
    font-size:0;
    line-height:0;
    visibility:hidden;
}

.yui-loading .menu li .yui3-menu {
    display:none;
}