﻿#ContentEditor {
  background:white;
}

#Page {
  background:white;
}

#Page table {
  table-layout:fixed;
  padding:8px 12px 12px 8px
}

#Page iframe {
  border:1px solid #666666;
  position: relative;  
  left: -4px;  
  top: -4px;  
}

#Shadow {  
  position: relative;  
  left: 4px;  
  top: 4px;  
  margin-right: 4px;  
  margin-bottom: 4px;  
  background:#666666;
}  
  
#DisabledNotice {
  padding: 16px 0;
  text-align: center;
}