
body, td, .general {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal;  
	color: #000000;
}

h1 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	font-style: normal; 
	font-weight: bold; 
	color: #006666;
}

h2 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-weight: bold; 
	color: #006666;
	clear:both;
}
h2.line {
border-top:#146666 solid 1px;
padding-top:10px;
}


input, select {
	font-family: arial,helvetica,sans-serif;
	font-size: 11px;
	color: #000000; 
}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006666;
}
a:visited {
	color: #006666;
}
a:hover {
	color: #ffcc66;
}

a.nav:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #006666;
}
a.nav:visited {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #006666;
}
a.nav:hover {
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	color: #CC9933;
}
a.nav:active {
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	color: #CC9933;
}

a.footerlink:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
}
a.footerlink:visited {
	color: #ffffff;
}
a.footerlink:hover {
	color: #ffffff;
}

a.rightnavlink:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006666;
}
a.rightnavlink:visited {
	font-size: 11px;
	color: #006666;
}
a.rightnavlink:hover {
	font-size: 11px;
	color: #FF9900;
}

a.rightnavbold:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006666;
	text-decoration: none;
}
a.rightnavbold:visited {
	color: #006666;
	text-decoration: none;
}
a.rightnavbold:hover {
	color: #FF9900;
	text-decoration: underline;
}

.texthead {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-weight: bold; 
	color: #006666;
}

.creditHead {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: bold; 
	color: #006666;
}
.creditText {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: normal; 
	color: #000000;
}

.general {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal;  
	color: #000000;
}

.leftnavtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006666;
}

.footer {
	font-size: 10px; 
}

.footerwhite {
	font-size: 10px; 
	color: #ffffff;
}

.error {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight:bold;
	color:#cc0000;
}

.req {
	font-size: 12px; 
	color: #cc0000;
}

/* MBNA Styles */

.textheadLrg {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	font-style: normal; 
	font-weight: bold; 
	color: #006666;
}
.textheadSml, .texthead2 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-weight: bold; 
	color: #006666;
}

.texthead3 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	font-weight: bold; 
	color: #006666;
}

.altColorOne {
	background-color: #eaeaea;
}

.altColorTwo {
	background-color: #ffffff;
}
