
body, td, .general {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal;  
	color: #000000;
	margin:20px 100px;
	background:#fff;
}

h1 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	font-style: normal; 
	font-weight: bold; 
	color: #006666;
}


h2 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-weight: bold; 
	color: #006666;
	clear:both;
}

h2.line {
border-top:#146666 solid 1px;
padding-top:10px;
}


.contain { width:80%; margin:0 auto; clear:both; }
.left { float:left; width:50%; }
.right { float:left; width:50%; }

.center { text-align:center; clear:both; }


input, select {
	font-family: arial,helvetica,sans-serif;
	font-size: 11px;
	color: #000000; 
}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006666;
}
a:visited {
	color: #006666;
}
a:hover {
	color: #ffcc66;
}

.creditHead {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: bold; 
	color: #006666;
}
.creditText {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: normal; 
	color: #000000;
}
.divTable
{
    display:  table;
    width:auto;
    
}

.divRow
{
    display:table-row;
    width:auto;

}

.divCell
{
    float:left;/*fix for  buggy browsers*/
    /*display:table-column;*/
    width:500px;
   

}