﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head></head>
    <body>

        <p style="text-align:center; margin-bottom:12pt">
            Congratulations!<br />
            Information has been saved
        </p>

        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <%AccountInfo%>
                <tr>
                    <td>Closing Agency's Firm Name:</td>
                    <td><%firm_name%></td>
                </tr>
                <tr>
                    <td>Closing Agency's Firm Phone Number:</td>
                    <td><%phone_number%></td>
                </tr>
                <tr>
                    <td>Closing Agency's E-mail address:</td>
                    <td><%email%></td>
                </tr>
                <tr>
                    <td>Payment Method:</td>
                    <td>Bank Draft</td>
                </tr>
            </tbody>
        </table>

        <p>
            Your payment of <b><%totalamount%></b> will be made electronically to Credability on <b><%transaction_date%></b> from your <%account_type%> account (XXXX<%account_number%>).
        </p>

        <p>
            Please make a note of the following:
        </p>

        <ul>
            <li>Your confirmation number for this transaction is <b><%transaction_id%></b>.</li>
            <li>Please <b>print</b> this page for your records.</li>
            <li>Remember to record this transaction in your account register and subtract <b><%totalamount%></b> from the account balance.</li>
        </ul>

        <p>
            Thanks again for using <b><i>Online Payment</i></b> - the simple and secure way to make your payments to Credability!
        </p>
    </body>
</html>
