html {
  background: transparent;
  height: 100%;
}

body {
  background: #f5f5f5;
  overflow: hidden;
  height: 100%;
}

form {
  background: transparent;
  height: 100%;
}

.scGalleryOuterFrame {
  border: 1px solid #868686;
  height: 100%;
}

.scGalleryInnerFrame {
  background: #f5f5f5;
  border: 1px solid white;
  height: 100%;
  overflow: auto;
}

.scGalleryGrip {
 background: #c6c6c6 url("/sitecore/shell/themes/standard/images/Galleries/GripBackground.png") repeat-x;
 text-align: right;
}

.scGalleryGripIcon {
  width: 7px;
  height: 7px;
  margin: 2px 2px 4px 0px;
}

.scGalleryMenu {
  border: none;
  height: 100%;
  width: 100%;
}