.scTable {
  width: 100%;
  padding: 0px;
  margin: 0px;
  table-layout: fixed; /* ff: none */
}

.scTableHeader {
	background: threedface url(/sitecore/shell/themes/standard/images/listviewheader16x17.png) repeat-x;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #FFF;
	color: #373738;
	height: 17px;
	padding: 1px 3px 1px 3px;
	text-align: left;
	white-space: nowrap;
}

/* Section */

.scTableSection {
  margin: 8px 0px 0px 0px;
  padding: 3px;
}

.ff .scTableSection {
  padding-right: 8px;
  padding-bottom: 4px;
}

.scTableSectionRow {
}

.scTableSectionName {
  width: 100%;
}

/* Field */

.scTableFieldRow td {
  padding: 2px;
}

.ff .scTableFieldRow td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.scTableFieldRow .scTableFieldName {
  padding-left: 32px;
  width: 33%;
}

.ff .scTableFieldRow .scTableFieldName {
  padding-right: 6px;
}

.scTableFieldType {
}

.scTableFieldSource {
}

.scTableFieldUnversioned {
  width: 70px;
  text-align: center;
}

.scTableFieldShared {
  width: 50px;
  text-align: center;
}

.scTableFieldNameInput {
  width: 100%;
}

.scTableFieldTypeInput {
  width: 100%;
}

.scTableFieldSourceInput {
  width: 100%;
}

.scTableFieldUnversionedInput {
  width: 32px;
}

.scTableFieldSharedInput {
  width: 32px;
}

.scTableFieldNameHeader {
  width: 33%;
}

.scTableFieldTypeHeader {
}

.scTableFieldSourceHeader {
  width: 33%;
}

.scTableFieldUnversionedHeader {
  width: 70px;
}

.scTableFieldSharedHeader {
  width: 50px;
}
