﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TelephoneUpdate.ascx.cs" Inherits="AttorneyPortal.controls.TelephoneUpdate" %>

<span style="orphans:none;white-space:nowrap"><asp:TextBox ID="Number" runat="server" MaxLength="80" /><span style="padding-left:20px; padding-right:20px">Ext.</span><asp:TextBox ID="Ext" runat="server" MaxLength="10" /></span>
