﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WebUserControl_page3.ascx.cs" Inherits="AttorneyPortal.controls.WebUserControl_page3" %>

<p style="background-color:Teal; text-align:center; color:White; font-weight:bold">ACCOUNT INFORMATION</p>

<asp:Table runat="server">
    <asp:TableRow runat="server">
        <asp:TableCell runat="server" style="width:150px; vertical-align:top; text-align:left;">
            User Name
        </asp:TableCell>
        <asp:TableCell runat="server" ID="username">
        </asp:TableCell>
    </asp:TableRow>

    <asp:TableRow ID="TableRow1" runat="server">
        <asp:TableCell ID="TableCell1" runat="server" style="width:150px; vertical-align:top; text-align:left;">
            Password
        </asp:TableCell>
        <asp:TableCell runat="server" ID="password">
        </asp:TableCell>
    </asp:TableRow>
</asp:Table>
