﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UcClientCounseled.ascx.cs" Inherits="Cccs.Credability.Website.Controls.HousingOnly.UcClientCounseled" %>
<div id="CounseldInfo" runat="server" align="center">

<asp:Label ID="LblCounsAgncy" runat="server" Text="CounsAgncy"></asp:Label>
	<br />
	<br />

	<asp:Label ID="LblCounsName" runat="server" Text="CounsName"></asp:Label>
	<br />
	<asp:Label ID="LblContInfo" runat="server" Text="ContactInfo"></asp:Label>
	<br />
	<asp:Label ID="LblContEmail" runat="server" Text="ContactEmail"></asp:Label>
	<br />
	<asp:Label ID="LblContPhone" runat="server" Text="ContactPhone"></asp:Label>
&nbsp;<asp:Label ID="LblContExt" runat="server" Text="ContactExtention"></asp:Label>

</div>
