body { background-color: #FFFFFF;
   SCROLLBAR-FACE-COLOR: #004D91; 
   SCROLLBAR-HIGHLIGHT-COLOR: #004D91;
   SCROLLBAR-SHADOW-COLOR: #FFFFFF; 
   SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; 
   SCROLLBAR-ARROW-COLOR: #FFFFFF; SCROLLBAR-TRACK-COLOR: #FFFFFF; 
   SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF}

.MasiveHead	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 34px; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #004d91;}
.GiantHead	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 28px; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #004d91;}
.BigHead	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 22px; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #004d91;}
.MedHead	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #004d91;}
.NormHead	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #004d91;}
.SmallHead	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: #004d91;}
.TnyHead	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; color: #FFFFFF; background-color: #004d91;}

.MasiveTxtW	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 34px; font-style: normal; font-weight: bold; color: #FFFFFF;}
.GiantTxtW	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 28px; font-style: normal; font-weight: bold; color: #FFFFFF;}
.BigTxtW	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 22px; font-style: normal; font-weight: bold; color: #FFFFFF;}
.MedTxtW	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-weight: bold; color: #FFFFFF;}
.NormTxtW	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bold; color: #FFFFFF;}
.SmallTxtW	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: bold; color: #FFFFFF;}
.TnyTxtW 	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; color: #FFFFFF;}

.MasiveTxtB	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 34px; font-style: normal; font-weight: bold; color: #004d91;}
.GiantTxtB	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 28px; font-style: normal; font-weight: bold; color: #004d91;}
.BigTxtB	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 22px; font-style: normal; font-weight: bold; color: #004d91;}
.MedTxtB	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-weight: bold; color: #004d91;}
.NormTxtB	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bold; color: #004d91;}
.SmallTxtB	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: bold; color: #004d91;}
.TnyTxtB	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; color: #004d91;}

.MasiveTxtR	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 34px; font-style: normal; font-weight: bold; color: #CC0000;}
.GiantTxtR	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 28px; font-style: normal; font-weight: bold; color: #CC0000;}
.BigTxtR	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 22px; font-style: normal; font-weight: bold; color: #CC0000;}
.MedTxtR	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-weight: bold; color: #CC0000;}
.NormTxtR	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bold; color: #CC0000;}
.SmallTxtR	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: bold; color: #CC0000;}
.TnyTxtR	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; color: #CC0000;}

.MasiveTxtG	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 34px; font-style: normal; font-weight: bold; color: #66CC33;}
.GiantTxtG	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 28px; font-style: normal; font-weight: bold; color: #66CC33;}
.BigTxtG	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 22px; font-style: normal; font-weight: bold; color: #66CC33;}
.MedTxtG	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-weight: bold; color: #66CC33;}
.NormTxtG	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bold; color: #66CC33;}
.SmallTxtG	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: bold; color: #66CC33;}
.TnyTxtG	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; color: #66CC33;}

.MasiveTxt	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 34px; font-style: normal; font-weight: normal; color: #000000;}
.GiantTxt	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 28px; font-style: normal; font-weight: normal; color: #000000;}
.BigTxt		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 22px; font-style: normal; font-weight: normal; color: #000000;}
.MedTxt		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-weight: normal; color: #000000;}
.NormTxt	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: normal; color: #000000;}
.SmallTxt	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; color: #000000;}
.TnyTxt		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; color: #000000;}
.ListTxt 	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #000000;}

.ReqTxt		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-style: normal; color: #CC0000; font-weight: bold;}
.ReqYel		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal; color: #FFFF00;}

.TxtBox			{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal; color: #000000; text-align:left; font-weight:normal; background-color: #FFFFFF;}
.NumBox			{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal; color: #000000; text-align:right; font-weight:normal; background-color: #FFFFFF;}
.RedButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #CC0000;border-color: #e0e0e0;}
.GreenButton	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #66CC33;border-color: #e0e0e0;}
.YelloButton	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; color: #004d91; text-align:center; font-weight: bold; background-color: #FFCC66;border-color: #e0e0e0;}
.PurpleButton	{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #660099;border-color: #e0e0e0;}
.GreyButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; color: #000000; text-align:center; font-weight: bold; background-color: #e0e0e0;border-color: #004d91;}
.BlueButton		{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-style: normal; color: #FFFFFF; text-align:center; font-weight: bold; background-color: #004d91;border-color: #e0e0e0;}

.GreyBack		{background-color: #e0e0e0; }
.GreyBackDark	{background-color: #d0d0d0; }
.GreyBackLight	{background-color: #f6f6f6; }
.BlueBack		{background-color: #004d91; }
.RedBack		{background-color: #CC0000; }
.YelloBack		{background-color: #FFCC66; }
.PurpleBack		{background-color: #660099; }
.GreenBack		{background-color: #66CC33; }
.RightBorder	{border-right: 1px solid #000000; } 

.MasiveLink			{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 34px;text-decoration: underline}
.MasiveLink:visited	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 34px;text-decoration: underline}
.MasiveLink:active	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 34px;text-decoration: underline}
.MasiveLink:hover	{color: #8097AC;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 34px;text-decoration: underline}

.GiantLink			{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 28px;text-decoration: underline}
.GiantLink:visited	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 28px;text-decoration: underline}
.GiantLink:active	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 28px;text-decoration: underline}
.GiantLink:hover	{color: #8097AC;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 28px;text-decoration: underline}

.BigLink			{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 22px;text-decoration: underline}
.BigLink:visited	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 22px;text-decoration: underline}
.BigLink:active		{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 22px;text-decoration: underline}
.BigLink:hover		{color: #8097AC;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 22px;text-decoration: underline}

.MedLink			{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px;text-decoration: underline}
.MedLink:visited	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px;text-decoration: underline}
.MedLink:active		{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px;text-decoration: underline}
.MedLink:hover		{color: #8097AC;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px;text-decoration: underline}

.NormLink			{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px;text-decoration: underline}
.NormLink:visited	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px;text-decoration: underline}
.NormLink:active	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px;text-decoration: underline}
.NormLink:hover		{color: #8097AC;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px;text-decoration: underline}

.SmallLink			{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px;text-decoration: underline}
.SmallLink:visited	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px;text-decoration: underline}
.SmallLink:active	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px;text-decoration: underline}
.SmallLink:hover	{color: #8097AC;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px;text-decoration: underline}

.TnyLink			{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px;text-decoration: underline}
.TnyLink:visited	{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px;text-decoration: underline}
.TnyLink:active		{color: #004D91;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px;text-decoration: underline}
.TnyLink:hover		{color: #8097AC;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px;text-decoration: underline}

.ReqLink			{color: #CC0000;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px;text-decoration: underline; font-weight: bold;}
.ReqLink:visited	{color: #CC0000;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px;text-decoration: underline; font-weight: bold;}
.ReqLink:active		{color: #CC0000;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px;text-decoration: underline; font-weight: bold;}
.ReqLink:hover		{color: #990000;font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px;text-decoration: underline; font-weight: bold;}

<!-- old decreptided -->

.Dk_tab_text {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #FFFFFF}
.Lt_tab_text {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; font-weight: bold}
.normal_text {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #000000}
.small_text {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #000000}

.normal_link{color: #004D91;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 14px;font-weight: bold;text-decoration: underline}
.normal_link:visited{color: #004D91;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 14px;font-weight: bold;text-decoration: underline }
.normal_link:active{color: #004D91;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 14px;font-weight: bold;text-decoration: underline }
.normal_link:hover{color: #8097AC;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 14px;font-weight: bold;text-decoration: underline}

.small_link{color: #004D91;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;font-weight: bold;text-decoration: underline}
.small_link:visited{color: #004D91;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;font-weight: bold;text-decoration: underline }
.small_link:active{color: #004D91;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;font-weight: bold;text-decoration: underline }
.small_link:hover{color: #8097AC;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;font-weight: bold;text-decoration: underline}

