﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Palette.aspx.cs" Inherits="Sitecore.Shell.Applications.WebEdit.Palette" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.HtmlControls" Assembly="Sitecore.Kernel" %>