.scRibbonPanel 
{
}

.scRibbon {
  padding:0px 4px 0px 2px;
  vertical-align: top;
}

.scRibbon a.scRibbonNavigatorButtonsNormal {
  color:Black;
}

.scRibbon a.scRibbonNavigatorButtonsActive {
  border:1px solid #bebebe;
  border-bottom:none;
}

.scRibbonToolbar {
  border-left:1px solid #999999;
  border-right:1px solid #999999;
  border-bottom:none;
  height: 66px;
  clear:left;
}


.scTreecrumb {
  /* background: #4E4E4E url(/sitecore/shell/themes/standard/gradients/gray1.gif) 50% 0 repeat-y; */
  padding:0px 3px 2px 2px;
}

.scTreecrumbBar {
  /*  border-left:1px solid #cbccce;
  border-right:1px solid #cbccce;
  background:#8a8d8f url(/sitecore/shell/themes/standard/images/ribbon/infobar.png) repeat-x; */
  background:#e0eced;
  height:24px;
  border:2px groove;
  border-bottom:none;
}

.scTreecrumbBottomLine {
  border-top:2px groove;
}

.ff .scTreecrumbBar {
  padding-top: 2px;
  height: 18px;
}

.scTreecrumbChevron,
.scTreecrumbChevron:link,
.scTreecrumbChevron:visited,
.scTreecrumbChevron:hover,
.scTreecrumbChevron:active {
  text-decoration:none;
  padding:2px;
}

.scTreecrumbChevron:hover,
.scTreecrumbChevron:active {
  border:1px solid;
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
  padding:1px;
} 

.scTreecrumbChevronGlyph {
  width:16px;
  height:16px;
  border:none;
  vertical-align:middle;
}

.scTreecrumbNode,
.scTreecrumbNode:link,
.scTreecrumbNode:visited,
.scTreecrumbNode:hover,
.scTreecrumbNode:active {
  text-decoration:none;
  padding:2px;
  color: #303030;
  white-space:nowrap;
}

.ff .scTreecrumbNode,
.ff .scTreecrumbNode:link,
.ff .scTreecrumbNode:visited,
.ff .scTreecrumbNode:hover,
.ff .scTreecrumbNode:active {
  padding: 3px 3px 5px 3px;
}

.scTreecrumbNode:hover,
.scTreecrumbNode:active {
  color:black;
  border:1px solid;
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
  padding:1px;
} 

.ff .scTreecrumbNode:hover,
.ff .scTreecrumbNode:active {
  padding: 2px 2px 4px 2px;
}

.scTreecrumbNodeLabel {
  padding:0px 0px 0px 4px;
}

.scTreecrumbNodeIcon {
  width:16px;
  height:16px;
  border:none;
  vertical-align:middle;
}

.scTreecrumbDivider {
  border-left:1px solid #666666;
  background:#999999;
  height:12px;
  margin:0px 8px 0px 8px;
  display:inline;
  vertical-align:middle;
}

.scTreecrumbGo,
.scTreecrumbGo:link,
.scTreecrumbGo:visited,
.scTreecrumbGo:hover,
.scTreecrumbGo:active {
  text-decoration:none;
  padding:2px;
  color: #303030;
  white-space:nowrap;
}

.ff .scTreecrumbGo,
.ff .scTreecrumbGo:link,
.ff .scTreecrumbGo:visited,
.ff .scTreecrumbGo:hover,
.ff .scTreecrumbGo:active {
  padding: 3px 3px 5px 3px;
}

.scTreecrumbGo:hover,
.scTreecrumbGo:active {
  color:black;
  border:1px solid;
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
  padding:1px;
} 

.ff .scTreecrumbGo:hover,
.ff .scTreecrumbGo:active {
  padding: 2px 2px 4px 2px;
}

.scTreecrumbGoIcon {
  width:16px;
  height:16px;
  border:none;
  vertical-align:middle;
}

.scTreecrumbGoIconDisabled {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  height:16px;
  vertical-align:middle;
}

/* Preview Date */

.scRibbonToolbarDatePanel {
  margin:2px 0px 0px 0px;
  color:#303030;
}

.scRibbonToolbarDatePrevious,
.scRibbonToolbarDatePrevious:link,
.scRibbonToolbarDatePrevious:visited,
.scRibbonToolbarDatePrevious:hover,
.scRibbonToolbarDatePrevious:active {
  color:black;
  cursor:default;
  text-decoration:none;
  padding:2px;
}

.scRibbonToolbarDatePrevious:hover,
.scRibbonToolbarDatePrevious:active {
  border:1px solid;
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonLargeButtonHover.png) repeat-x;
  padding:1px;
}

.scRibbonToolbarDatePreviousIcon {
  width:32px;
  height:32px;
  border:none;
  vertical-align:middle;
}

a.scRibbonToolbarDateMonthSelector,
a.scRibbonToolbarDateMonthSelector:link,
a.scRibbonToolbarDateMonthSelector:visited,
a.scRibbonToolbarDateMonthSelector:hover,
a.scRibbonToolbarDateMonthSelector:active {
  color:black;
  cursor:default;
  text-decoration:none;
  padding:2px;
  display:block;
}

a.scRibbonToolbarDateMonthSelector:hover,
a.scRibbonToolbarDateMonthSelector:active {
  border:1px solid;
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonLargeButtonHover.png) repeat-x;
  padding:1px;
} 

.scRibbonToolbarDateDayOfWeek {
  font:32px arial;
  padding:0px 0px 0px 4px;
  display:none;
}

.scRibbonToolbarDateDay {
  font:bold 34px arial;
  padding:0px 4px 0px 4px;
}

.scRibbonToolbarDateMonth {
  font:bold 12px arial;
  padding:0px 4px 0px 0px;
}

.scRibbonToolbarDateMonthCell {
  vertical-align:bottom;
  text-align:center;
}

.scRibbonToolbarDateYear {
  font:bold 12px arial;
  padding:0px 4px 0px 0px;
}

.scRibbonToolbarDateYearCell {
  vertical-align:top;
  text-align:center;
}

.scRibbonToolbarDateTime {
  font:bold 20px arial;
  padding:0px 4px 0px 8px;
}

.scRibbonToolbarDateTimeDesignator {
  font:10px arial;
  vertical-align:text-top;
  padding:0px 0px 0px 2px;
}

.scRibbonToolbarDateNext,
.scRibbonToolbarDateNext:link,
.scRibbonToolbarDateNext:visited,
.scRibbonToolbarDateNext:hover,
.scRibbonToolbarDateNext:active {
  color:black;
  cursor:default;
  text-decoration:none;
  padding:2px;
}

.scRibbonToolbarDateNext:hover,
.scRibbonToolbarDateNext:active {
  border:1px solid;
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonLargeButtonHover.png) repeat-x;
  padding:1px;
}

.scRibbonToolbarDateNextIcon {
  width:32px;
  height:32px;
  border:none;
  vertical-align:middle;
}


