
html, body { margin:0; padding:0; font-family:Verdana, Geneva, sans-serif; }
.wrapper { 
    width:1084px; margin:0 auto; padding:0; 
    position:relative;
}

.clearboth{
    clear:both;
}

/*header elements*/
.header {
    height:  275px; 
    padding-left:70px;
    padding-right:54px; 
    position:relative;
    z-index:2;
}

.logo { 
    position:absolute;
    top: 30px;
    left: 70px;
    width:261px; 
    height:96px; 
}

.logo a{
    background: url(../images/logo.gif) no-repeat top left;
    display:block;
    width: 244px;
    height: 69px;
    text-indent: -2000px;
    overflow:hidden;
}


.live-chat{
    position:absolute;
    right:54px;
    top: 85px;
    background: url(../images/live-chat.gif) no-repeat top left;
    padding-left:22px;
}

.live-chat a{
    color :#007dc3;
    text-decoration:none;
}

.headline{ 
    font-size:2.25em; 
    color:#FFF; 
    background: url(../images/about-bg.gif) no-repeat top left;
    height:240px;
    z-index:1;
    top: 35px;
    width:1084px;
    left:0;
    position:absolute;
    
}

.body{
    position:relative;
    padding-left: 90px;
    padding-right: 54px;
}



.footer {
    background:#ececec; 
    padding: 20px 53px 42px 84px; 
    font-size:.85em; 
    color:#999999;
}

.footer-links {
    float:left;
}

.footer-links ul li { 
    float:left;
    background:url(../images/bg-footerlinks-separator.gif) no-repeat 0 2px; 
    padding-left: 9px;
    padding-right: 8px;
}
.footer-links ul li.first { 
    background:none;
    padding-left: 0;
}

.footer-links ul li a { 
    text-decoration:none; 
    color:#999;
}

.copyright { 
    float:right; 
}
.partners-logos {
    margin-top: 20px;
    padding-top: 10px;
    text-align:center;
}

.partners-logos ul li { display:inline; }
.partners-logos ul li img { padding:0 10px; }

/******/

.content{ 
    width:730px; 
    float:left;
}

.content-full{

}


.c-body{ 
    float:left; 
    padding-bottom:50px;
}


.content .c-large{
    width: 730px;
}


.c-body h1{ 
    font-size:1.3em; 
    font-weight:bold; 
    color:#333; 
    padding-bottom:15px;
}
.c-body p{ 
    font-size:1em; 
    padding:10px 0;
}



