/**
* RBX GRIDDER
* Quite simple grid system
* 
* - Basic setup of 16 columns,40 pixels each,with 20 pixel gutter
* 
* Author:Yeco | jasson.cascante@rbxglobal.com
* 
**/
.col_1
    {width:40px;}

.col_2
    {width:100px;}

.col_3
    {width:160px;}

.col_4
    {width:220px;}

.col_5
    {width:280px;}

.col_6
    {width:340px;}

.col_7
    {width:400px;}

.col_8
    {width:460px;}

.col_9
    {width:520px;}

.col_10
    {width:580px;}

.col_11
    {width:640px;}

.col_12
    {width:700px;}

.col_13
    {width:760px;}

.col_14
    {width:820px;}

.col_15
    {width:880px;}

.col_16
    {width:940px;}

.col
    {margin:0 10px;overflow:hidden;float:left;display:inline;}

.r
    {width:960px;margin:0 auto;overflow:hidden;}

.r .r
    {margin:0 -10px;width:auto;display:inline-block;}

.col_content
    {padding:15px;}

/**
* 
* Forms
*/
/* 
reset.css 
*/
fieldset,form,label,legend
    {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}

/* 
Structural
*/
fieldset
    {margin:0 0 1.5em 0;padding:1.4em;}

legend
    {padding:0 .4em;font-size:1.2em;}

label
    {float:left;width:9em;display:block;clear:left;margin-right:1em;text-align:left;cursor:hand;}

textarea,input,select,label,button,optgroup
    {margin-top:5px;}

textarea,input,select,button
    {margin-bottom:10px;}

input[type="checkbox"],input[type="radio"]
    {margin-bottom:7px;}

/* 
Color palette
*/
fieldset
    {border:1px solid #ccc;}

legend
    {background-color:#e3dfdf;color:#333;}

label
    {color:#333;}

textarea
    {border:1px solid #859DB5;}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus
    {border:1px solid #ccc;}

select
    {background-color:#fff;color:#ccc;border:1px solid #859DB5;padding:2px;}

input[type="text"],input[type="password"]
    {border:1px solid #859DB5;padding:2px;}

input[type="submit"]
    {background-color:#ccc;color:#333;}

input[type="checkbox"]
    {color:#ccc;}

input[type="radio"]
    {background-color:#fff;color:#ccc;}

option
    {background-color:#fff;color:#000;}

optgroup
    {background-color:#ccc;color:#000;}

button
    {background-color:#86B521;height:22px;color:#fff;border:0;min-width:100px;}

.button
    {background:transparent url('../images/links-btn-bg.gif') no-repeat top right;height:22px;color:#fff;display:block;float:right;clear:both;margin-right:1em;}

.button input
    {background:transparent url('../images/links-btn-bg.gif') no-repeat bottom left;height:22px;border:0;text-align:left;color:#fff;margin:-1px 0 0 0;padding:0 10px;}

.button.small
    {width:100px;}

.button.small input
    {min-width:100px;}

.button.medium
    {width:150px;}

.button.medium input
    {min-width:150px;}

.button.big
    {width:200px;}

.button.big input
    {min-width:200px;}

.button.huge
    {width:300px;}

.button.big input
    {min-width:300px;}

/*vertical formatting*/
.vertical label
    {float:none;margin:0.5em 0 0.5 0;}

/*horizontal formatting*/
.horizontal label
    {text-align:right;width:11.6em;}

/*reset the space available*/
.body
    {padding-left:65px;padding-right:54px;position:relative;}

.c-large
    {width:960px;}

p.col_title
    {font-weight:bold;font-size:12px; color:#333;}


#center_col
    {margin-right:40px;}

#center_col .col_content
    {background:#ececec; font-size:11px;}

#center_col .col_content input,
#center_col .col_content select
    {width:18em;}

#center_col .col_content .button
    {margin:10px 8em 10px;}

#center_col .col_content .ok
    {color:#538000;}

#center_col .col_content .no
    {color:#5a0047;}

#center_col .col_content a
    {color:#007dc3;} 
#center_col .col_content .passrules
    {margin:-5px 0 5px 140px; display:block;
        clear:both;}
    
     
#right_col
    {font-size:11px;margin-right:0;}

#right_col .col_content
    {padding-right:0;padding-left:0;}


#left_col .col_content
    {background:#ececec;margin-right:25px;font-size:11px;}

#left_col .col_content input,
#left_col .col_content select
    {width:14em;}



.module
    {margin-bottom:30px;}

.module h2
    {font-size:12px;font-weight:bold;width:100%;border-bottom:1px solid #cecece;height:28px;margin:0 0 20px 0;color:#333;}

.module li
    {line-height:14px;padding:5px 0;}

.module li a
    {background:#fff url('../images/blue-arrow.gif') no-repeat bottom right;padding-right:15px;color:#347CBF;text-decoration:none;}

.module li a:hover
    {text-decoration:underline;}

.module img
    {vertical-align:middle;width:18px;height:18px;}

.module .resources li a
    {margin-left:5px;}

