﻿.content h1{
border-bottom:1px solid #CCCCCC;
}


.course-info{
    color: #999;
    margin-bottom: 10px;
}

.course-info .rated-by{
    font-style:italic;
}

.course-info .item-rate{
     float:right;
}

.course-info .posted {
    float:left;
}

.media-embed {
    text-align:center;
}

/* DMP - BEGIN */

div.DMPHeader
{
    font-weight: bold;
}

.DMPControl
{
	display:block;
	float:right;
	margin:0 10px 20px;
	padding:5px;
	position:relative;
	background:url(/static/images/layout/status-bg.png) no-repeat 0 0;
}

/* DMP - END */

.headline .welcome
{
	left:85px;
	position:relative;
	top:130px;
}