﻿.menu{
    background:url(/static/images/layout/bg-menu.gif) repeat-x top left;
    height: 28px;
    position:absolute;
    top: 126px;
    z-index:2;
}


.menu ul{
    background:url(/static/images/layout/menu-corner-right.png) no-repeat top right;
    height:28px;
}

.menu ul li{
    float:left;
    line-height:28px;
    background:url(/static/images/layout/bg-menu-separator.png) no-repeat top left;
}
.menu ul li.first{
    background:url(/static/images/layout/menu-corner-left.png) no-repeat top left;
}

.menu li .yui3-menu-label a{
    color :#d7f5a3;
    text-decoration:none;
}

.menu li .yui3-menu-label{
    padding-left:9px;
    padding-right: 8px;
}

.menu li .yui3-menu{
    background:url(/static/images/layout/bg-dropdown-menu.gif) no-repeat top left;
    width:188px;
    padding-top: 25px;
    height:auto;
}


.menu ul li .yui3-menu .yui3-menu-content ul li{
   background: url(/static/images/layout/bg-dropdown-menu2.gif) no-repeat left top;
   padding: 0;
}

.menu ul li .yui3-menu-content ul li.first{
    padding-top: 0;
    background: url(/static/images/layout/bg-dropdown-menu2.gif) no-repeat left -2px;
    overflow:hidden;
}

.menu ul li .yui3-menu-content ul{
   background: url(/static/images/layout/bg-dropdown-menu3.png) no-repeat left bottom;
   padding-bottom: 7px;
   height:auto;
}

.menu li li .yui3-menu-label{
    padding-bottom:13px;
    padding-top:8px;
    padding-left:11px;
    padding-right:11px;
}
.menu li li.first .yui3-menu-label{
    padding-top: 0;
}

.menu li li .yui3-menu-label,
.menu li li .yui3-menuitem-content{
    line-height: normal;
    white-space:normal;
}


.menu .yui3-menu-label-menuvisible,
.menu  .yui3-menuitem-active span,
.menu  li .yui3-menu-label-active{
    background-color: #fff;
}

.menu ul li.current
{
	background-color: #2778DE;
	color: #007dc3;
}

.menu ul li.current .span
{
	background:0;
	background-color: #2778DE;
	color: #007dc3;
}

.menu ul li.current.first
{
	background-color: #2778DE;
	color: #007dc3;
}

.menu li.current a
{
	color: #d7f5a3;
}

.menu  ul li ul li.yui3-menuitem span,
.menu  ul li ul li.yui3-menuitem-active span,
.menu  ul li ul li .yui3-menu-label-active{
    background-color: transparent;
}


.menu  ul li ul li.yui3-menuitem a,
.menu  ul li ul li.yui3-menuitem-active span a,
.menu  ul li ul li .yui3-menu-label-active a,
.menu li li .yui-menu-label a{
    color: #007dc3;
    font-size: 0.875em;
}

.menu ul li .yui3-menu-label-menuvisible a,
.menu ul li.yui3-menuitem-active span a,
.menu ul li .yui3-menu-label-active a{
    background: inherit;
    color : #003e7e;
}