﻿h1 .date, h1 .role
{
    display: block;
    font-size: 0.8em;
    font-weight: normal;
}

.right-rail
{
    width: 195px;
    float: right;
	padding: 15px 0 0 20px;
	background: url('/static/images/clearpoint/right-rail-border.png') no-repeat 0 20px;
}

.right-rail h3
{
	color: #414042;
    font-size: 1.3em;
	text-transform: uppercase;
    font-weight: normal;
	letter-spacing: .8px;
}

.rr-block
{
	margin: 0 0 30px 5px;
}

li.chat{ 
    background: url(/static/images/layout/icon-chat.png) no-repeat 0 10px;
}

li.help{ 
    background: url(/static/images/layout/icon-help.png) no-repeat 0 10px;
}

li.book{ 
    background: url(/static/images/layout/icon-book.png) no-repeat 0 10px;
}

li.checkmark{ 
    background: url(/static/images/layout/icon-checkmark.png) no-repeat 0 10px;
}
li.picto a{
    margin-left: 28px;
}

.rr-block ul
{
    padding-top: 10px;
}
.rr-block ul li
{
    padding: 0 0 10px 0;
}
.rr-block ul li a
{
    font-size: 1em;
    color: #00b1b0;
    line-height: 1.4em;
    text-decoration: none;
}
.rr-block ul li a:hover {
	color: #333333;
}



/*****/

.segments-3-col
{
}

.segments-3-col .segment
{
    height: 164px;
    margin: 20px 25px 20px 0;
    width: 275px;
}

.segments-3-col .segment-tall
{
    height: 367px;
}

.segments-4-col .segment
{
    height: 140px;
    width: 215px;
    margin-right: 20px;
}

.segment
{
    float: left;
    overflow: hidden;
    margin: 20px 25px 20px 0;
}
.segment p
{
    font-size: 0.8em;
    padding: 5px 0 0;
}

.segment .bd
{
    margin-top: 30px;
}

.segment p.link
{
    padding-top: 5px;
    font-size: 0.95em;
}

.segment p.link a
{
    background: url("/static/images/layout/link-arrow.png") no-repeat right 1px transparent;
    color: #007DC3;
    padding-right: 16px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
}

.faq-question
{
    font-weight: bold;
}

.faq-answer
{
    margin-bottom: 10px;
}

.faq-category-content
{
    margin-bottom: 40px;
}

.content-faq h2
{
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}


.content-bottom-rail
{
    margin-top: 30px;
}

.max-box .hd
{
    background: url("/static/images/layout/max-box-header.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    overflow: hidden;
    width: 880px;
}

.max-box .bd
{
    background-color: #ECECEC;
    overflow: hidden;
    width: 840px;
    padding: 0 20px;
}

.max-box .ft
{
    background: url("/static/images/layout/max-box-footer.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    overflow: hidden;
    width: 880px;
}


.content-bottom-rail .visual
{
    float: left;
    padding: 10px 20px 10px 0;
}
.content-bottom-rail .content
{
    float: left;
    padding: 10px 0;
    width: 650px;
}
.content-bottom-rail .content h3
{
    font-size: 100%;
    font-weight: bold;
    padding: 3px 0;
}
.content-bottom-rail .content p
{
    font-size: 93%;
    padding: 0 0 10px;
}
.content-bottom-rail .content p.link-go
{
    padding: 0;
}
.content-bottom-rail .content p.link-go a
{
    background: url("/static/images/layout/box-arrow-blue.png") no-repeat scroll right 0 transparent;
    color: #007DC3;
    font-size: 85%;
    font-weight: bold;
    padding-right: 12px;
    text-decoration: none;
}

/* Homepage Hero shot*/
.Headline-background
{
	background: url(/static/images/layout/home_BG.jpg) no-repeat 0 33px;
}

.hero-line-of-service .headline, .hero-line-of-service .summary, .hero-line-of-service .linked-item, .hero-line-of-service .image
{
    display: none;
}

.hero-line-of-service
{
    position: absolute;
    top: 175px;
    left: 75px;
    z-index: 1;
    width: 280px;
    height: 422px;
    background: url(/static/images/layout/bg-line-of-service.png) no-repeat top left;
}

.hero-line-of-service .intro
{
    text-align: right;
    color: #fff;
    font-size: 1.4em;
    padding-right: 35px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.hero-line-of-service .default
{
    height: 70px;
    margin-bottom: 10px;
    padding-right: 35px;
    text-align: right;
    color: #FFF;
}

.hero-line-of-service .default .nav
{
    font-size: 1.4em;
    font-weight: normal;
    font-style: normal;
    background: none;
    padding-top: 10px;
}

.line-of-services .line-of-service
{
    background: url(/static/images/layout/los-separator.gif) no-repeat 20px bottom;
}

.line-of-services .current
{
    background: url(/static/images/layout/bg-line-of-service-current.png) repeat-y bottom left;
}

.hero-line-of-service .default .current .nav, .hero-line-of-service .line-of-services .current .nav,.hero-line-of-service .default .current .nav a
{
    color: #b5f455;
}

.hero-line-of-service .line-of-services .nav
{
    font-size: 1em;
    cursor: pointer;
    color: #fff;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    padding: 7px 35px 7px 25px;
    background: url(/static/images/layout/arrow-los.gif) no-repeat 250px center;
}

.hero-line-of-service .nav a{color:#FFFFFF;text-decoration:none;}

.hero-line-of-service .LOS-link
{
    position: absolute;
    top: 230px;
    left: 380px;
    width: 315px;
    height: 60px;
    z-index: 3;
}

.search-results .result
{
    padding: 10px 0;
}

.result .title
{
    font-size: 1.2em;
}

.result .url a
{
    color: #a6a6a6;
    font-size: 0.85em;
    text-decoration: none;
}




/******/
.c-body{float:none;}

.c-body .courses {
    float: left;
    overflow:hidden;
    padding:20px 0;
    width: 500px;
}
.courses h2{
    font-size: 1.05em;
    margin-bottom: 10px;
    padding : 10px 0;
    border-bottom : 1px solid #CCCCCC;
}

.courses .featured-courses h2{
    text-transform: uppercase;
    padding: 10px 20px 0;
    border: none;
}
.courses .featured-courses
{
	background: #E5FABD;
}

.course-category,
.featured-courses{
    margin-bottom: 50px;
}
.featured-courses .course-elements{
    padding :0 20px 0;
}

.featured-courses .course-element{
    padding: 10px 0;
}

.featured-courses .course-elements{
    
}

.featured-courses .course-element .detail{
    width: 345px;
}

.featured-courses .course-element .category{
    font-weight:bold;
    font-size: 0.85em;
    margin-bottom: 10px;
}

.course-element .name{
    font-weight:bold;
    font-size: 0.95em;
}
.course-element .rated{
    margin-top : 10px;
    font-size: 0.85em;
    font-style:italic;
}

.course-element {
    padding: 10px 0;
}
.course-element .visual{
    float:left;
    padding-right: 20px;
}

.course-element .detail{
    float:left;
    width: 385px;
}

.course-element .summary {
    font-size: 0.85em;
    padding: 8px 0;
}

.course-element .runtime{
    text-align:right;
    font-weight:bold;
    font-size: 0.85em;
}

.show-courses-filter ul{ 
    padding-top:10px;
}
.show-courses-filter ul li{ 
    background:none;
    padding:5px 0; 
}

.show-courses-filter ul li.selected{ 
    font-weight:bold;
}
.show-courses-filter ul li a{ 
    font-size:0.85em; 
    color:#007dc3;
    text-decoration:none;
}

.submitPreviousButton { 
    background: url(/static/images/layout/back-btn-right.png) no-repeat right 0; 
    height:25px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    padding:0 10px 0 0px;
}

.submitPreviousButton a{
    background:url(/static/images/layout/back-btn-left.png) no-repeat left 0; 
    background-color:#77b800; 
    border:0; 
    display:block;
    font-size:108%;
    font-weight:bold;
    color:#FFF;
    line-height:25px;
    height:25px;
    padding:0 0px 0 24px;
    cursor:pointer;
    text-decoration:none;
}


.submitNextButton { 
	background:url('/static/images/clearpoint/button_blank_r.png') no-repeat right 0;
    height:32px;
	line-height: 32px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    padding:0 4px 0 0;
    margin: 0 0 0 10px;
}

.submitNextButton a{
    background:url('/static/images/clearpoint/button_blank_l.png') no-repeat left 0; 
    border:0; 
    display:block;
    font-size:108%;
    font-weight:bold;
    color:#FFF;
    line-height:32px;
    height:32px;
    padding:0 10px 0 14px;
    cursor:pointer;
    text-decoration:none;
	text-transform: uppercase;
}

.submitNextButton input{
    background:url('/static/images/clearpoint/button_blank_l.png') no-repeat left 0; 
    border:0; 
    display:block;
    font-size:108%;
    font-weight:bold;
    color:#FFF;
    line-height:32px;
    height:32px;
    padding:0 10px 0 14px;
    cursor:pointer;
	text-transform: uppercase;
}



/* Account pages: login, create account, forgot username, forgot password -- START */

.form-block
{
    padding:15px 0 0 0;
}

.form-block h2
{
	color: #333333;
	font-size: 1.5em;
	text-transform: uppercase;
}

.fields-block
{
	margin-bottom: 20px;	
}

.field-block
{
	margin: 0 0 10px 0;
	padding:5px;
	width:427px;
	clear:both;	
}

.field-block-error
{
	background: #eeded4;
}

.field-block label {
    width: 140px;
    display:block;
    float:left;
    padding-right: 10px;
	font-weight: bold;
}

.field-element
{
	float:left;
	width:275px;
}

.field-block .field-message
{
	color :#00b1b0;
	font-weight:bold;
	font-size: 0.875em;
	background:url(/static/images/layout/icons/ico-field-message.gif) no-repeat left 2px; 
    margin:2px 0 0 5px;
    padding: 0 0 0 12px;
    font-family:arial;
}	

.field-block-error .field-message
{
	color :#cc3333;
	background:url(/static/images/layout/icons/ico-error-message.gif) no-repeat left 2px; 
}

.field-element select{
	width: 228px;
	font-size: 1.05em;
    padding:2px;
}
 
textarea[cols="40"],
input[type="password"][size="40"],
input[type="text"][size="40"]{
    width: 220px;
    font-size: 1.05em;
    padding:2px;
}

.form-block .form-action{
    text-align:right;
    margin-top: 10px;
    width:437px;
}


.left-rail .form-block label
{
	float:none;
}

.left-rail .form-block .form-action,
.left-rail .field-element,
.left-rail .field-block
{
	width: 190px;
}
input[type="password"][size="20"],
input[type="text"][size="20"]{
    width: 145px;
}

.recaptchatable
{
border: 0;
}

#recaptcha_logo
{
    display: none;
}

#recaptcha_tagline
{
    display: none;
}

asd#recaptcha_table
{
    border-color: #ececec !important; /* reCaptchawidgetbordercolor */
}
.recaptchatable .recaptcha_image_cell
{
    background-color: #ececec !important; /* reCaptchawidgetbackgroundcolor */
}

/******/

/* Left Rail Login Form */
.form-block-login div.inner
{
	background-color: #6d6e71;
	border-radius: 0px 0px 10px 10px;
	padding: 10px 10px 13px 10px;
}

.form-block-login h2
{
	background-color: #00b1b0;
	color: #ffffff;
	font-size: 1.5em;
	padding: 15px 0 10px 0;
	border-radius: 10px 10px 0px 0px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 4px;
}

.form-block-login label
{
	color: #ffffff;
}

.form-block-login p
{
	color: #ffffff;
	padding: 0px 5px 5px 5px;
}

.form-block-login input[type='password'],
.form-block-login input[type='text'] {
	border-radius: 4px;
	padding: 8px;
	margin-top: 5px;
	border: 0px;
	width: 172px;
}

/******/


/* Account pages: login, create account, forgot username, forgot password -- END */

/* Recent activities */
#recent-activity p { font-size:85%;}

#recent-activity .last-login 
{
	padding-bottom:30px;
}

#recent-activity .activity-status 
{
	background:url(/static/images/layout/status-bg.png) repeat-y 0 0;
	padding:25px 62px;
	_zoom:1;
	position:relative;
	margin-bottom: 30px;
}


#recent-activity .activity-status h3 
{
	font-size:1.05em; 
	font-weight:bold; 
	padding-bottom:10px;
}
#recent-activity .activity-status .question
{
	font-size:1em;
	width: 320px;
}


#recent-activity .activity-status .link-block 
{
	text-align:right;
	height : 22px;
	overflow:hidden;
	position:absolute;
	bottom:20px;
	right:50px;	
}
#recent-activity .activity-status .continue,
#recent-activity .activity-status .later 
{
	float:left; 
	margin-left:20px;
}

.activity-status .icon
{
	position:absolute;
	width: 10px;
	height:44px;
	background:url(/static/images/layout/icons/ico-exclamation.gif) no-repeat 0 0;	
	top:25px;
	left: 30px;
}


#recent-activity .info-list{ padding:10px 0;}
#recent-activity .info-list p{ font-size:85%;}
#recent-activity .bypast{ position:relative; margin-top:40px;}
#recent-activity .bypast h4{ font-size:93%; font-weight:bold; text-transform:uppercase; padding: 10px 0 18px 50px; border-bottom: solid #ccc 1px;}
#recent-activity .bypast .info-list{ padding:20px 0;}
#recent-activity .bypast .calendar-icon{background:url(/static/images/layout/icon-calendar.png) no-repeat 0 0; position:absolute; left:0; top:4px; padding:0;width:37px;height:34px}
#recent-activity .bypast .activityIcon.Watched{background:url(/static/images/layout/icons/icon-video.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.Listened{background:url(/static/images/layout/icons/icon-audio.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.Read{background:url(/static/images/layout/icons/icon-read.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.Add{background:url(/static/images/layout/icons/icon-add.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.Login{background:url(/static/images/layout/icons/icon-login.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.Download{background:url(/static/images/layout/icons/icon-download.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.Marked{background:url(/static/images/layout/icons/icon-complete.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.Completed{background:url(/static/images/layout/icons/icon-complete.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.DMPPaymentMade{background:url(/static/images/layout/icons/icon-payment.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.DMPProposalAccepted{background:url(/static/images/layout/icons/icon-complete.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.DMPPaymentOverdue{background:url(/static/images/layout/icons/icon-alert.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.CounselingSessionCompleted{background:url(/static/images/layout/icons/icon-complete.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.CounselingSessionPartiallyCompleted{background:url(/static/images/layout/icons/icon-complete.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.FeeWaiverApproved{background:url(/static/images/layout/icons/icon-alert.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.FeeWaiverDenied{background:url(/static/images/layout/icons/icon-alert.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}
#recent-activity .bypast .activityIcon.Updated{background:url(/static/images/layout/icons/icon-update.png) no-repeat 0 0; padding:0px 10px 0 0;top:5px;position:relative;width:20px;height:20px;display:inline-block}


#recent-activity .links div a { font-size:1em; }
#recent-activity .links .link-btn.download { width:300px; padding:0; margin-bottom:10px; }
#recent-activity .links .link-btn.view { width:300px; padding:0; }

#recent-activity .link-btn 
{
	background: url(/static/images/layout/links-btn-bg.png) no-repeat right 0; 
	height:21px;
}
#recent-activity .link-btn a
{
	background:url(/static/images/layout/links-btn-left-bg.png) no-repeat left 0; 
	display:block;
	font-size:85%;  
	font-weight:bold; 
	color:#FFF; 
	line-height:21px; 
	height:21px; 
	padding:0 25px 0 8px;
}




/*
page: needs-assessment-page
*/
.needs-assessment .c-body h1 { font-size:153.9%; font-weight:bold; color:#333; padding-bottom:30px; padding-top:10px }
#assessment-selection { width:950px; }
#assessment-selection .selection p { font-size:100%; font-weight:bold; padding:0 100px 0 20px; }
#assessment-selection .odd .selection { background:#e5fabd; }
#assessment-selection .odd .radio { background:#e5fabd; }
#assessment-selection .even .selection { background: #fff }
#assessment-selection .even .radio { background:#fff; }
#assessment-selection .radio input { }
#assessment-selection .radio label { padding:0 20px 0 5px; font-size:100%; font-weight:bold; }
.needs-assessment .c-body .steps { font-size:93%; font-weight:bold; text-transform:uppercase; padding-bottom:20px; }
#assessment-selection .item { padding-bottom:40px; }
#assessment-selection .item p { font-size:108%; font-weight:bold; padding:10px 0 20px 0; }
#assessment-selection .item p span { font-size:108%; font-weight:bold; color:#5a0047; padding-left:20px; }
#assessment-selection .item p span.slider-label { font-size:100%; font-weight:normal; color:#000; padding-left:10px; }
#assessment-selection .item .checkbox-table td{padding:15px}
#assessment-selection .item .checkbox-table label{padding: 0px 15px 0px 0px}
.needs-assessment .c-body .aside { width:292px; float:right; }
#assessment { width:600px; float:left; }
#assessment .assessment-content { padding:40px 0; _zoom:1; }
#assessment .assessment-content:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#assessment .description { width:340px; float:right; padding-left:40px; font-size:108%; }
#assessment .description .note { font-size:77%; font-style:italic; padding:0; }
#assessment .description .note span{ font-weight:bold; }

#assessment h3 { font-size:108%; font-weight:bold; padding-bottom:10px; }
#assessment .data { width:220px; font-size:108%; font-weight:bold; float:left; }
#assessment .data span { font-size:230.7%; font-weight:bold; color:#5a0047; display:block; clear:left; padding-bottom:10px; }
#assessment .drag-bar { width:415px; height:22px; background: url(/static/images/layout/level-bar-bg.png) no-repeat 0 0; position:relative; }
#assessment .drag-bar .bar { background:url(/static/images/layout/level-bar.png) no-repeat 0 0; position:absolute; top:0; left:0; height:25px; }
#assessment .scale { font-size:85%; color:#666; padding-bottom:30px; }
.needs-assessment .aside .may-help-u { background:#e5fabd; padding:30px; }
.needs-assessment .aside .may-help-u h3 { font-size:123.1%; font-weight:bold; }
.needs-assessment .aside .may-help-u ul { padding:10px 0 50px 0; }
.needs-assessment .aside .may-help-u li { font-size:108%; color:#333; background:url(/static/images/layout/aside-green-list-dot.png) no-repeat left 14px; padding:10px 10px 10px 20px; }
.needs-assessment .aside .may-help-u .max-btn a { font-size:108%; font-weight:bold; color:#fff; cursor:pointer; background:#77b800 url(/static/images/layout/aside-max-btn-left.png) no-repeat 0 0; display:block; height:35px;text-decoration:none; }
.needs-assessment .aside .may-help-u .max-btn a span { padding:0 62px 0 12px; line-height:35px; cursor:pointer; background:url(/static/images/layout/aside-max-btn-right.png) no-repeat right 0; display:block; height:35px; }
.needs-assessment .aside .may-help-u .max-btn.get-started { width:166px; margin-left:35px; cursor:pointer }
#assessment-selection .icon span{margin:0 0 0 15px;width:45px;height:45px;position:relative;display:inline-block}
#assessment-selection .icon .credit-card{background:url(/static/images/layout/icon-creditcard-off.png) no-repeat 0 0;}
#assessment-selection .icon .credit-card.active{background:url(/static/images/layout/icon-creditcard-on.png) no-repeat 0 0;}
#assessment-selection .icon .bankruptcy{background:url(/static/images/layout/icon-bankruptcy-off.png) no-repeat 0 0;}
#assessment-selection .icon .bankruptcy.active{background:url(/static/images/layout/icon-bankruptcy-on.png) no-repeat 0 0;}
#assessment-selection .icon .home-mortgage{background:url(/static/images/layout/icon-mortgage-off.png) no-repeat 0 0;}
#assessment-selection .icon .home-mortgage.active{background:url(/static/images/layout/icon-mortgage-on.png) no-repeat 0 0;}
#assessment-selection .icon .home-purchase{background:url(/static/images/layout/icon-newhome-off.png) no-repeat 0 0;}
#assessment-selection .icon .home-purchase.active{background:url(/static/images/layout/icon-newhome-on.png) no-repeat 0 0;}
#assessment-selection .icon .DMP{background:url(/static/images/layout/icon-DMP-off.png) no-repeat 0 0;}
#assessment-selection .icon .DMP.active{background:url(/static/images/layout/icon-DMP-on.png) no-repeat 0 0;}
#assessment-selection .icon .other-debt{background:url(/static/images/layout/icon-otherdebt-off.png) no-repeat 0 0;}
#assessment-selection .icon .other-debt.active{background:url(/static/images/layout/icon-otherdebt-on.png) no-repeat 0 0;}
#assessment-selection .icon .reverse-mortgage{background:url(/static/images/layout/icon-reversemortgage-off.png) no-repeat 0 0;}
#assessment-selection .icon .reverse-mortgage.active{background:url(/static/images/layout/icon-reversemortgage-on.png) no-repeat 0 0;}
.needs-assessment .previousNextButtons {text-align:right;padding:40px 74px 0 0}
.needs-assessment .submitBackButton { background: url(/static/images/layout/back-btn-left.png) no-repeat left 0; height:25px;display:inline-block;padding:0 0 0 24px;}
.needs-assessment .submitBackButton input{background:url(/static/images/layout/back-btn-right.png) no-repeat right 0; background-color:#77b800; border:0; display:block;font-size:108%;  font-weight:bold; color:#FFF; line-height:25px; height:25px; padding:0 8px 0 0px; cursor:pointer }
.needs-assessment .BKCounselingLink {padding:8px}
.needs-assessment .stepIcon {margin:0 0 0 15px;width:45px;height:45px;position:relative;display:inline-block; float:left;margin-right:20px}
.needs-assessment .Step2 .stepIcon{background:url(/static/images/layout/icon-creditcard-on.png) no-repeat 0 0;}
.needs-assessment .Step3 .stepIcon{background:url(/static/images/layout/icon-bankruptcy-on.png) no-repeat 0 0;}
.needs-assessment .Step4 .stepIcon{background:url(/static/images/layout/icon-otherdebt-on.png) no-repeat 0 0;}
.needs-assessment .Step5 .stepIcon{background:url(/static/images/layout/icon-mortgage-on.png) no-repeat 0 0;}
.needs-assessment .Step6 .stepIcon{background:url(/static/images/layout/icon-newhome-on.png) no-repeat 0 0;}
/* My Credit Profile */

.tab { margin:20px 0; _zoom:1; }
.tab:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
.tab .tab-menu { float:left; }



.tab .tab-content { background:#eaf9c7; float:right; }
#credit-profile { width:690px; padding:50px 0 40px 0; }
#credit-profile .profile-date { font-size:85%; font-weight:bold; }
#credit-profile p { font-size:85%; line-height:16px; }
#credit-profile .tab { width:690px; }
#credit-profile .tab .tab-menu { width:200px; }
#credit-profile .tab .tab-menu li { padding:0 0 0 20px; margin:0; overflow:hidden; }
#credit-profile .tab .tab-menu h3 { font-size:93%; font-weight:bold; padding:18px 0; overflow:hidden; width:180px; }
#credit-profile .tab .tab-content { width:450px; padding:30px 40px; }
#credit-profile .tab .tab-content p{ font-size:93%;}
#credit-profile .tab .tab-content h1{font-size:307.6%; color:#4a7300;}
#credit-profile .tab .tab-content span{ font-weight:bold;}
#credit-profile .tab .tab-content .data-table { margin: 10px 0 10px 33px; }
#credit-profile .tab .tab-content .data-table td { padding:5px 0; }
#credit-profile .tab .tab-content .assets { color:#578600; }
#credit-profile .tab .tab-content .assets span { font-weight:bold; }
#credit-profile .tab .tab-content .liabilities { color:#5a0047; }
#credit-profile .tab .tab-content .liabilities span { font-weight:bold; }
#credit-profile .tab .tab-content .net-worth { color:#578600; font-size:100%; font-weight:bold; }
#credit-profile .tab .tab-content .net-worth span { font-size:125%; padding-left:10px; }
#credit-profile .tab a {color:#000000;font-weight:bold;font-size:93%;}



#credit-profile .links p a { font-size:100%; }
#credit-profile .links p.link-btn.download { width:290px; padding:0; margin-bottom:10px; }
#credit-profile .links p.link-btn.view { width:295px; padding:0; }
#credit-profile .link-btn{ background: url(/static/images/layout/links-btn-bg.png) no-repeat right 0; height:21px;}
#credit-profile .link-btn a{background:url(/static/images/layout/links-btn-left-bg.png) no-repeat left 0; display:block;font-size:85%;  font-weight:bold; color:#FFF; line-height:21px; height:21px; padding:0 25px 0 8px; }

#credit-profile .yui3-tabview-list, #credit-profile .yui3-tabview-panel, #credit-profile .yui3-tab-label {border:0}
#credit-profile .yui3-tabview, #credit-profile .yui3-tabview-list, #credit-profile .yui3-tabview-panel, #credit-profile .yui3-tab, #credit-profile .yui3-tab-panel {}
#credit-profile .yui3-tabview-list, #credit-profile .yui3-tab {list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}
#credit-profile .yui3-tab {cursor:pointer;display:block;vertical-align:bottom;background:0;}
#credit-profile .yui3-tab-selected {background:#eaf9c7;}





/* My Income & Expenses */
#income-expenses .tab .tab-content .ColumnChart{ background-color:#eaf9c7; }
#income-expenses{ width:690px; padding:50px 0 10px 0; }
#income-expenses p { font-size:85%; line-height:16px; }
#income-expenses .date { font-size:85%; font-weight:bold; position:relative; height:20px; }
#income-expenses .date .download-budget{ width:176px; position:absolute; right:0; top:0; }
#income-expenses .date .download-budget a{font-size:100%;}
#income-expenses .tab { width:690px; }
#income-expenses .tab .tab-menu { width:230px; }
#income-expenses .tab .tab-menu li { margin:0;overflow:hidden;padding-bottom:15px;padding-left:10px;padding-right:10px;width:210px; }
#income-expenses .tab .tab-menu li table{width:210px; }
#income-expenses .tab .tab-menu li table tr{ font-size:77%;color:#333;}
#income-expenses .tab .tab-menu h3 { font-size:108%; text-transform:uppercase; font-weight:bold; padding:0 0 8px 0; overflow:hidden; width:180px; }
#income-expenses .tab .tab-menu p.income{ font-size:93%; color:#578600; padding:0 0 50px 0; font-weight:bold;}
#income-expenses .tab .tab-menu p.income span{ font-size:161.6%;}

#income-expenses .tab .tab-menu li table thead {color:#333333;font-size:93%;font-weight:bold;}


#income-expenses .tab .tab-content { width:450px; height:450px; padding:25px; }
#income-expenses .tab .tab-content h3{ font-size:116%; font-weight:bold; width:282px; padding-bottom:30px;}

#income-expenses .tab .tab-content .PieChart{ float:left; padding-right:20px;background-color:#eaf9c7; }


#income-expenses .tab .tab-content .data h4{ font-size:93%; font-weight:bold; color:#333; padding-bottom:5px;}
#income-expenses .tab .tab-content .data p{ padding: 0 0 20px 0;}
#income-expenses .tab .tab-content .data .yours,#income-expenses .tab .tab-content .data .average{ color:#578600; font-size:307.7%; font-weight:bold;  line-height:30px;}
#income-expenses .tab .tab-content .data .difference{ font-size:153.9%; color:#578600; font-weight:bold; padding:0 0 5px 0;}
#income-expenses .tab .tab-content .data .range{font-size:93%; font-weight:bold; color:#578600; display:block;}




#income-expenses .links p a { font-size:100%; }

#income-expenses .link-btn{ background: url(/static/images/layout/links-btn-bg.png) no-repeat right 0; height:21px;}
#income-expenses .link-btn a{background:url(/static/images/layout/links-btn-left-bg.png) no-repeat left 0; display:block;font-size:85%;  font-weight:bold; color:#FFF; line-height:21px; height:21px; padding:0 25px 0 8px; }

#income-expenses .links p.link-btn.download { width:290px; padding:0; margin-bottom:10px; }
#income-expenses .links p.link-btn.view { width:295px; padding:0; }


#income-expenses .yui3-tabview-list, #income-expenses .yui3-tabview-panel, #income-expenses .yui3-tab-label {border:0}
#income-expenses .yui3-tabview, #income-expenses .yui3-tabview-list, #income-expenses .yui3-tabview-panel, #income-expenses .yui3-tab, #income-expenses .yui3-tab-panel {}
#income-expenses .yui3-tabview-list, #income-expenses .yui3-tab {list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}
#income-expenses .yui3-tab {cursor:pointer;display:block;vertical-align:bottom;background:0;}

#income-expenses .yui3-tab-selected {background:#eaf9c7;}

/*
page: my-account
*/

.account .summary-item { color:#333; padding:28px 0 20px 0; }
.account .summary-item p { margin:20px 0; line-height:18px; }
.account .summary-item .date { font-weight:bold; font-size:85%; margin:5px 0 }
.account .summary-sheet { width:500px; float:left; padding:0 0 50px 0; overflow:hidden; }
.account .summary-sheet table { width:500px; }
.account .summary-sheet h3 { width:450px; display:block; font-size:108%; padding:10px 0; font-weight:bold; color:#333; text-transform: uppercase; }
.account .summary-sheet .income { color:#578600; background:#e5fabd; width:200px; padding: 15px 25px; }
.account .summary-sheet .expenses { color:#5a0047; background:#e5fabd; width:200px; padding: 15px 25px; }
.account .summary-sheet .score { width:450px; color:#578600; font-size:307.7%; font-weight:bold; padding:15px 25px; background:#e5fabd; }
.account .summary-sheet .number { width:450px; padding:10px 25px 20px 0; color:#578600; font-weight:bold; line-height:20px; text-align:right; }
.account .summary-sheet span { font-size:167%; padding-left:10px; }
.account .links { padding:40px 0 40px 0; }
.account .download-summary { width:270px; margin:10px 0; padding:0; font-size:1em; }
.account .view-summary { width:274px; padding:0; font-size:1em; }
.account .aside { width:195px; float:right; }
.account .aside p { font-size:85%; }
.account .action-plan, .my-certificate { padding:20px 0; }
.account .action-plan h3, .account .my-certificate h3 { font-size:108%; font-weight:bold; padding:12px 0; color:#333; }
.account .aside p.link { padding:10px 0; }
.account .aside p.link a { color:#007dc3; font-weight:bold; }

.account .link-btn{ background: url(/static/images/layout/links-btn-bg.png) no-repeat right 0; height:21px;}
.account .link-btn a{background:url(/static/images/layout/links-btn-left-bg.png) no-repeat left 0; display:block;font-size:85%;  font-weight:bold; color:#FFF; line-height:21px; height:21px; padding:0 25px 0 8px; }

/* my action plan page */
#action-plan{ padding:50px 0 10px 0; }
#action-plan .date { font-size:85%; font-weight:bold; margin:5px 0 }
#action-plan h3 { font-size:108%; font-weight:bold; padding:0 0 10px 0; }
#action-plan h4 { font-size:93%; font-weight:bold; padding:10px 0; }
#action-plan p { padding:0 0 10px 0; line-height:16px; font-size:85%; }
#action-plan a { font-weight:bold; }
#action-plan .item { _zoom:1; padding:30px 0; }
#action-plan .item:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#action-plan .content { width:470px; float:left; }
#action-plan .realated { width:190px; float:right; background:#ececec; padding:5px 20px; }
#action-plan .realated p.more { text-align:right; }
#action-plan .links p a { font-size:100%; }
#action-plan .links p.link-btn.download { width:290px; }
#action-plan .links p.link-btn.view { width:295px; }
#action-plan .yui-checkbox-button {background-image:url(/static/images/layout/icon-undone.png);width:20px;height:20px;cursor:pointer}
#action-plan .yui-checkbox-button-checked {background-image:url(/static/images/layout/icon-completed.png)}
#action-plan .item .content span.completed {font-size:85%; line-height:20px; font-weight:bold; color:#578600; padding:10px 0 10px 24px; }
#action-plan .item .content span.undone { font-size:85%; line-height:20px; font-weight:bold; color:#007dc3; padding:10px 0 10px 24px; }

/* my debt page */

#debt .date { font-size:85%; font-weight:bold; margin:5px 0 }
#debt .table table { border:solid 1px black; width:720px}
#debt .table table th { border-bottom:solid 1px black; font-weight:bold}
#debt .table table td { height:35px}
#debt p { padding:0 0 10px 0; line-height:16px; font-size:85%; }
#debt .links p a { font-size:100%; }
#debt .links p.link-btn.download { width:276px; }
#debt .links p.link-btn.view { width:203px; }

/* References & resources page */

#references p { padding:0 0 10px 0; line-height:16px; font-size:85%; }
#references .links p a { font-size:100%; }
#references .links p.link-btn.download { width:276px; }
#references .links p.link-btn.view { width:203px; }

/* create-account page*/

#create-account element.style 
{
    cursor:move;
}


#create-account .passwordRules .yui-panel .hd 
{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background: gray;
    /*background:transparent url(http://yui.yahooapis.com/2.8.0r4/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -200px;*/
    color:#000000;
    font-size:93%;
    font-weight:bold;
    line-height:2;
    padding:0 10px;
}
    
#create-account .passwordRules .yui-panel .hd 
{
    border-bottom:1px solid #CCCCCC;
}


#create-account .passwordRules .yui-panel .hd, #create-account .yui-skin-sam .yui-panel .bd, #create-account .yui-skin-sam .yui-panel .ft 
{
    border-color:#808080;
    border-style:solid;
    border-width:0 1px;
    margin:0 -1px;
}

#create-account .passwordRules .yui-panel .bd 
{
    padding:10px;
}

#create-account .passwordRules .yui-panel .bd, .yui-skin-sam .yui-panel .ft 
{
    background-color:#F2F2F2;
}

#create-account .passwordRules .yui-panel .hd, #create-account .yui-skin-sam .yui-panel .bd, #create-account .yui-skin-sam .yui-panel .ft 
{
    border-color:#808080;
    border-style:solid;
    border-width:0 1px;
    margin:0 -1px;
}

#create-account .passwordRules .yui-panel .ft 
{
    border-top:1px solid #808080;
    font-size:77%;padding:5px 10px;
}

#create-account .passwordRules .yui-panel .bd, #create-account .yui-panel .ft 
{
    background-color:#F2F2F2;
}

#create-account .passwordRules .container-close 
{
      /*-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;*/
    background:transparent url(/static/images/layout/x-icon.jpg) no-repeat scroll 0 0;
    background-color:#F2F2F2;
    cursor:pointer;height:15px;position:absolute;right:6px;top:5px;width:25px;}
#create-account .yui-panel-container .container-close {/*overflow:hidden;text-decoration:none;text-indent:-10000em;*/}

/* Profile Info box */
.Profile-Info {
	padding-left: 10px;
}

.Profile-Info .Avatar
{
	float:left;
}

.left-rail ul
{
	clear:both;
	padding-left: 10px;
}



/* View Profile */

#view-profile { width:690px; overflow:hidden; }

#view-profile .avatar{float:left;width:178px;}
#view-profile h3 { font-size:108%; font-weight:bold; padding:12px 0; width:690px; margin-bottom:10px; border-bottom:solid #cccccc 1px; }
#view-profile input { border:solid #7f9db9 1px; color:#7f7f7f; height:18px; font-size:93%; }
#view-profile select { border:solid #7f9db9 1px; height:20px; }
#view-profile label { display:block; clear:right; font-size:85%; font-weight:bold; color:#666; padding:10px 0; }

#view-profile .button { text-align:right; }
#view-profile .button .cancel { width:86px; float:left; margin-right:14px; }
#view-profile .button .save { width:116px; float:left; }

#view-profile .submitNextButton.save {  float:right; }
#view-profile .account-info { padding-bottom:40px; _zoom:1; }
#view-profile .account-info:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#view-profile .account-info .item input { width:165px; }



#view-profile .account-info .item input.edit-middle-initial  { width:40px; }
#view-profile .account-info .long label  { width:200px; }
#view-profile .account-info .item input.ssn1 { width:25px; }
#view-profile .account-info .item input.ssn2 { width:18px; }
#view-profile .account-info .item input.ssn3 { width:32px; }

#view-profile .account-info .item.float.middle-initial span { width:0; }





#view-profile .item span { color: #00b1b0; height:20px; display:block; width:206px;}
#view-profile .account-info .item 
{ 
    
    padding-right:65px;
    width:115px;
    padding-bottom: 20px;
}

#view-profile .account-info .item.float
{
       float:left;
}


#view-profile .clear {clear:both;}



#view-profile .account-info .item.user-name { float:none;padding-bottom:20px; }
#view-profile .account-info .item .avatar { padding-top:20px; }
#view-profile .account-info .item .avatar img { border: solid #3c9cd1 1px; }
#view-profile .account-info .item .avatar a { font-size:85%; font-weight:bold; color:#007dc3; }

#view-profile .account-info label  { display:block; clear:right; font-size:85%; font-weight:bold; color:#666;  padding:0; }
#view-profile .account-info .personal-info {float:right;}

#view-profile .mail-password { padding-bottom:40px; _zoom:1; }
#view-profile .mail-password:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#view-profile .mail-password .item { float:left; width:240px; padding-bottom:10px; }
#view-profile .mail-password .item input { width:206px; }
#view-profile .mail-password .item.mail, #view-profile .mail-password .item.password { display:block; padding-right:400px; }
#view-profile .mail-password .item.mail-view, #view-profile .mail-password .item.password-view { width:690px; }
#view-profile .mail-password .item.mail-view label, #view-profile .mail-password .item.password-view label { display:inline; clear:none; }
#view-profile .mail-password .item.mail-view span, #view-profile .mail-password .item.password-view span { display:inline; clear:none; }
#view-profile .mail-password .mail input { width:265px; }
#view-profile .mail-password .item.question { width:318px; padding-top:40px; }
#view-profile .mail-password .item.question input { width:238px; color:#000; margin-top:4px; }
#view-profile .mail-password .item.question select { width:240px; color:#000; }
#view-profile .mail-password .item.question-view { width:365px; padding-top:40px; }
#view-profile .mail-password .item.question-view span { padding-bottom:10px; }
#view-profile .mail-password .item.mail-view .link-btn {float:right;}
#view-profile .address-phone { padding:0 0 40px 0; _zoom:1; }
#view-profile .address-phone:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#view-profile .address-phone .item { float:left; padding-bottom:10px; padding-right:35px; }
#view-profile .address-phone .item input { width:206px; }
#view-profile .address-phone .item.address2 { padding-right:100px; }
#view-profile .address-phone .item.zip { width:100px; }
#view-profile .address-phone .item.zip input { width:100px; }

#view-profile .submitNextButton a:hover { text-decoration:none;color:White; }


/* Edit Profile */

#edit-profile .avatar{float:left;width:178px;}
#edit-profile { width:690px; overflow:hidden; }
#edit-profile h3 { font-size:108%; font-weight:bold; padding:12px 0; width:690px; margin-bottom:10px; border-bottom:solid #cccccc 1px; }
#edit-profile input { padding: 2px;}
#edit-profile select { padding: 2px; }
#edit-profile label { display:block; clear:right; font-size:85%; font-weight:bold; color:#666; padding:10px 0; }

#edit-profile .button { text-align:right; clear: both; }
#edit-profile .button .cancel { width:86px; float:left; margin-right:14px; }
#edit-profile .button .save { width:116px; float:left; }

#edit-profile .submitNextButton.save {  float:right; }
#edit-profile .account-info { padding-bottom:40px; _zoom:1; }
#edit-profile .account-info:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#edit-profile .account-info .item input { width:165px; }


#edit-profile .item select { width:206px; }

#edit-profile .selectPadding{padding-bottom: 10px;}

#edit-profile .account-info .item.float.middle-initial { text-align:center; }
#edit-profile .account-info .item input.edit-middle-initial  { width:40px; }
#edit-profile .account-info .long label  { width:200px; }
#edit-profile .account-info .long { width:auto !important; }
#edit-profile .account-info .item input.ssn1 { width:25px; }
#edit-profile .account-info .item input.ssn2 { width:18px; }
#edit-profile .account-info .item input.ssn3 { width:32px; }

#edit-profile .account-info .personal-info{
float:left;
width: 550px;
}





#edit-profile .item span { font-size:123.1%; color:#5a8808; height:20px; display:block; }
#edit-profile .account-info .item 
{ 
    
    padding-right:65px;
    width:115px;
    padding-bottom: 20px;
}

#edit-profile .account-info .item.float
{
       float:left;
}



#edit-profile .clear {clear:both;}


#edit-profile .account-info .item.user-name { float:none;padding-bottom:20px; }
#edit-profile .account-info .item .avatar { padding-top:20px; }
#edit-profile .account-info .item .avatar img { border: solid #3c9cd1 1px; }
#edit-profile .account-info .item .avatar a { font-size:85%; font-weight:bold; color:#007dc3; }

#edit-profile .account-info label  { display:block; clear:right; font-size:85%; font-weight:bold; color:#666;  padding:10px 0; }


#edit-profile .mail-password { padding-bottom:40px; _zoom:1; }
#edit-profile .mail-password:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#edit-profile .mail-password .item { float:left; width:240px; padding-bottom:10px; }
#edit-profile .mail-password .item input { width:206px; }
#edit-profile .mail-password .item.mail, #edit-profile .mail-password .item.password { display:block; padding-right:400px; }
#edit-profile .mail-password .item.password-view { width:690px; }
#edit-profile .mail-password .item.mail-view label, #edit-profile .mail-password .item.password-view label { display:inline; clear:none; }
#edit-profile .mail-password .item.mail-view span, #edit-profile .mail-password .item.password-view span { display:inline; clear:none; }
#edit-profile .mail-password .mail input { width:265px; }
#edit-profile .mail-password .item.question { width:318px; padding-top:40px; }
#edit-profile .mail-password .item.question input { width:238px; color:#000; margin-top:4px; }
#edit-profile .mail-password .item.question select { width:240px; color:#000; }
#edit-profile .mail-password .item.question-view { width:365px; padding-top:40px; }
#edit-profile .mail-password .item.question-view span { padding-bottom:10px; }
#edit-profile .mail-password .item.mail-view .link-btn {float:right;}
#edit-profile .address-phone { padding:0 0 40px 0; _zoom:1; }
#edit-profile .address-phone:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#edit-profile .address-phone .item { float:left; padding-bottom:10px; padding-right:35px; }
#edit-profile .address-phone .item input { width:206px; }
#edit-profile .address-phone .item.address2 { padding-right:100px; }
#edit-profile .address-phone .item.zip { width:100px; }
#edit-profile .address-phone .item.zip input { width:100px; }
#edit-profile .submitNextButton a:hover { text-decoration:none;color:White; }





/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



/* Change password*/

#change-password .passwordRules .yui-panel .hd 
{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    /*background:transparent url(http://yui.yahooapis.com/2.8.0r4/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -200px;*/
    background:gray;
    color:#000000;
    font-size:93%;
    font-weight:bold;
    line-height:2;
    padding:0 10px;
}
    
#change-password .passwordRules .yui-panel .hd 
{
    border-bottom:1px solid #CCCCCC;
}

#change-password .passwordRules .yui-panel .hd, #create-account .yui-skin-sam .yui-panel .bd, #create-account .yui-skin-sam .yui-panel .ft 
{
    border-color:#808080;
    border-style:solid;
    border-width:0 1px;
    margin:0 -1px;
}

#change-password .passwordRules .yui-panel .bd 
{
    padding:10px;
}

#change-password .passwordRules .yui-panel .bd, .yui-skin-sam .yui-panel .ft 
{
    background-color:#F2F2F2;
}

#change-password .passwordRules .yui-panel .hd, #create-account .yui-skin-sam .yui-panel .bd, #create-account .yui-skin-sam .yui-panel .ft 
{
    border-color:#808080;
    border-style:solid;
    border-width:0 1px;
    margin:0 -1px;
}

#change-password .passwordRules .yui-panel .ft 
{
    border-top:1px solid #808080;
    font-size:77%;padding:5px 10px;
}

#change-password .passwordRules .yui-panel .bd, #create-account .yui-panel .ft 
{
    background-color:#F2F2F2;
}

#change-password .passwordRules .container-close 
{
     /*-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;*/
    background:transparent url(/static/images/layout/x-icon.jpg) no-repeat scroll 0 0;
    background-color:#F2F2F2;
    cursor:pointer;height:15px;position:absolute;right:6px;top:5px;width:25px;
}
#change-password .yui-panel-container .container-close {overflow:hidden;text-decoration:none;text-indent:-10000em;}

#change-password { width:690px; overflow:hidden; }
#change-password h3 { font-size:108%; font-weight:bold; padding:12px 0; width:690px; margin-bottom:10px; border-bottom:solid #cccccc 1px; }
#change-password input { padding:2px; }
#change-password select { padding:2px; }
#change-password label { display:block; clear:right; font-size:85%; font-weight:bold; color:#666; padding:10px 0; }
#change-password .button { text-align:right; clear: both; }
#change-password .button .save { width:116px; float:left; }

#change-password .submitNextButton.save {  float:right; }
#change-password .password-info { padding-bottom:40px; _zoom:1; }
#change-password .password-info:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#change-password .password-info .item { float:left; width:240px; padding-bottom:10px; }
#change-password .password-info .item input { width:206px; }
#change-password .password-info .item.password-view { width:690px; }
#change-password .password-info .item.mail-view label, #change-password .password-info .item.password-view label { display:inline; clear:none; }
#change-password .password-info .item.mail-view span, #change-password .password-info .item.password-view span { display:inline; clear:none; }
#change-password .submitNextButton a:hover { text-decoration:none;color:White; }




/* Change username */

#change-username { width:690px; overflow:hidden; }
#change-username h3 { font-size:108%; font-weight:bold; padding:12px 0; width:690px; margin-bottom:10px; border-bottom:solid #cccccc 1px; }
#change-username input { padding:2px; }
#change-username select { padding:2px; }
#change-username label { display:block; clear:right; font-size:85%; font-weight:bold; color:#666; padding:10px 0; }
#change-username .button { text-align:right; clear: both; }
#change-username .button .save { width:116px; float:left; }
#change-username .submitNextButton.save {  float:right; }
#change-username .item select { width:206px; }
#change-username .selectPadding{padding-bottom: 10px;}
#change-username .item span { font-size:123.1%; color:#5a8808; height:20px; display:block; }
#change-username .clear {clear:both;}
#change-username .username-info { padding-bottom:40px; _zoom:1; }
#change-username .username-info:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#change-username .username-info .item { float:left; width:310px; padding-bottom:10px; padding-top:25px}
#change-username .username-info .item input { width:206px; }
#change-username .username-info .item.question { width:318px; padding-top:40px; }
#change-username .username-info .item.question input { width:238px; color:#000; margin-top:4px; }
#change-username .username-info .item.question select { width:240px; color:#000; }
#change-username .username-info .item.question-view { width:365px; padding-top:40px; }
#change-username .username-info .item.question-view span { padding-bottom:10px; }
#change-username .username-info .item.mail-view .link-btn {float:right;}
#change-username .submitNextButton a { text-decoration:none; }
#change-username .submitNextButton a:hover { text-decoration:none;color:White; }
#change-username .passwordRules .yui-panel .hd 
{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background: gray;
    /*background:transparent url(http://yui.yahooapis.com/2.8.0r4/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -200px;*/
    color:#000000;
    font-size:93%;
    font-weight:bold;
    line-height:2;
    padding:0 10px;
}
    
#change-username .passwordRules .yui-panel .hd 
{
    border-bottom:1px solid #CCCCCC;
}


#change-username .passwordRules .yui-panel .hd, #create-account .yui-skin-sam .yui-panel .bd, #create-account .yui-skin-sam .yui-panel .ft 
{
    border-color:#808080;
    border-style:solid;
    border-width:0 1px;
    margin:0 -1px;
}

#change-username .passwordRules .yui-panel .bd 
{
    padding:10px;
}

#change-username .passwordRules .yui-panel .bd, .yui-skin-sam .yui-panel .ft 
{
    background-color:#F2F2F2;
}

#change-username .passwordRules .yui-panel .hd, #create-account .yui-skin-sam .yui-panel .bd, #create-account .yui-skin-sam .yui-panel .ft 
{
    border-color:#808080;
    border-style:solid;
    border-width:0 1px;
    margin:0 -1px;
}

#change-username .passwordRules .yui-panel .ft 
{
    border-top:1px solid #808080;
    font-size:77%;padding:5px 10px;
}

#change-username .passwordRules .yui-panel .bd, #create-account .yui-panel .ft 
{
    background-color:#F2F2F2;
}

#change-username .passwordRules .container-close 
{
      /*-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;*/
    background:transparent url(/static/images/layout/x-icon.jpg) no-repeat scroll 0 0;
    background-color:#F2F2F2;
    cursor:pointer;height:15px;position:absolute;right:6px;top:5px;width:25px;}
#change-username .yui-panel-container .container-close {/*overflow:hidden;text-decoration:none;text-indent:-10000em;*/}




/* Recommended Courses */

.recommended-courses .courses-box
{
	background-color:#EEEEEE;
	height:116px;
	overflow:hidden;
}

.recommended-courses .course-element
{
	float:left;
	width:350px;
	height:96px;
}

.recommended-courses .course-element .summary {
	height:35px;
	overflow:hidden;
}

.recommended-courses .course-element .detail {
	width:235px;
	height:96px;
}

.recommended-courses .more-courses
{
	float:right;
	padding:5px 0px;
}

.recommended-courses .title
{
	float:left;
	font-weight:bold;
}

.recommended-courses .more-courses .next, .more-courses .prev
{
	padding:0px 10px;
	cursor:pointer;	
}

/* My certificates */

#certificates .links p.link-btn.download 
{
	width:305px;
}
#certificates .links p.link-btn.view 
{ 
	width:225px; 
}
#certificates .links p a 
{ 
	font-size:100%; 
}
#certificates .links p.link-btn
{ 
	padding:0; margin:10px 0px; 
}
#certificates .submitNextButton a
{
	font-size:0.9em;
}
#certificates .Name
{
	font-weight:bold;
}
#certificates td
{
	padding:10px 0px;
}





/* My Past Summaries page */

#past-summary .icon
{
	float:left;
}

#past-summary .Description
{
	float:left;
	margin-top: 10px;
	margin-left: 5px;
}

#past-summary .submitNextButton
{
	float:right;
}

#past-summary .document
{
	padding:10px 0px;
}

#past-summary li
{
	background:0;
	padding:0;
}


#past-summary .submitNextButton a
{
	font-size:0.9em;
}


/* My Goal page */
#my-goal.c-body
{
	overflow:visible;
	z-index:10;	
}
#my-goal .contentBox .goals .goal-item
{
	padding:10px 0px;	
}
#my-goal .add-goal-link
{
	float:right;
}
#my-goal .contentBox .goals .goal-item .name
{
	font-weight:bold;
	font-size:1.2em;
	float:left;
	padding:5px 0px;
}
#my-goal .contentBox .goals .goal-item .link-buttons
{
	float:right;
	padding:5px 0px;
	color:#4444FF;
	text-decoration:none;
	font-weight:bold;
	cursor:pointer;
}
#my-goal .contentBox .goals .goal-item .link-buttons:hover
{
	color:#6666DD;
}
#my-goal .contentBox .goals .goal-item .amount
{
	font-weight:bold;
	font-size:2.3em;
	border:solid 2px Gray;
	padding:2px;
	height:38px;
}
#my-goal .contentBox .goals .goal-item .amount-due
{
	color:#88bb55;
	text-align:right;
}
#my-goal .contentBox .goals .goal-item .total-amount
{
	background-color:#88bb55;
	color:White;
	text-align:right;
	position:absolute;
}
#my-goal .contentBox .goals .goal-item .total-amount.red
{
	background-color:#bb4455;
}

#my-goal #overlay
{
	background-image:url(/static/images/layout/status-bg.png);
	padding:20px;
}

/* My Goal - Add Goal overlay */
#my-goal #overlay .Title
{
	padding:0 0 10px 0;
	font-size:1.2em;
	font-weight:bold;
}
#my-goal #overlay .Name
{
	padding:10px 0;
}
#my-goal #overlay .Want
{
	padding:10px 0;
}
#my-goal #overlay .buttons
{
	padding:10px 0 0px;
	text-align:right;
}
#my-goal #overlay .deleteBox
{
	text-align:right;
	padding:10px 0;
}
#my-goal #overlay .AddHistory .Name
{
	float:left
}
#my-goal #overlay .review .updates
{
	float:left;
	padding:10px 20px 10px 0;
	font-size:0.8em;
}
#my-goal #overlay .review .updates .title
{
	font-size:1.2em;
	font-weight:bold;
}
#my-goal #overlay .review
{
	padding:5px;
}
#my-goal #overlay .review .savings
{
	padding:5px;
	display:inline-block;
	padding:10px 0px 10px 20px;
}
#my-goal .calendarIcon
{
	height:16px;
	width:16px;
	background-image:url(/static/images/layout/icons/calendar_icon.gif);
	display:inline-block;
	cursor:pointer;
	margin:1px 0px 0px 10px;
}
#my-goal #overlay input
{
	margin:0px 5px;
}
#my-goal #overlay input#Name
{
	width:350px;
}
#my-goal #overlay input#TotalAmount,#my-goal #overlay input#History_Amount,
#my-goal #overlay input#DueDate,#my-goal #overlay input#History_Date
{
	width:70px;
}
.yui3-overlay-hidden, .yui3-overlay-loading {
	display:none;
}


#forgot-password .passwordRules .yui-panel .hd 
{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background: gray;
    /*background:transparent url(http://yui.yahooapis.com/2.8.0r4/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -200px;*/
    color:#000000;
    font-size:93%;
    font-weight:bold;
    line-height:2;
    padding:0 10px;
}
    
#forgot-password .passwordRules .yui-panel .hd 
{
    border-bottom:1px solid #CCCCCC;
}


#forgot-password .passwordRules .yui-panel .hd, #create-account .yui-skin-sam .yui-panel .bd, #create-account .yui-skin-sam .yui-panel .ft 
{
    border-color:#808080;
    border-style:solid;
    border-width:0 1px;
    margin:0 -1px;
}

#forgot-password .passwordRules .yui-panel .bd 
{
    padding:10px;
}

#forgot-password .passwordRules .yui-panel .bd, .yui-skin-sam .yui-panel .ft 
{
    background-color:#F2F2F2;
}

#forgot-password .passwordRules .yui-panel .hd, #create-account .yui-skin-sam .yui-panel .bd, #create-account .yui-skin-sam .yui-panel .ft 
{
    border-color:#808080;
    border-style:solid;
    border-width:0 1px;
    margin:0 -1px;
}

#forgot-password .passwordRules .yui-panel .ft 
{
    border-top:1px solid #808080;
    font-size:77%;padding:5px 10px;
}

#forgot-password .passwordRules .yui-panel .bd, #create-account .yui-panel .ft 
{
    background-color:#F2F2F2;
}

#forgot-password .passwordRules .container-close 
{
      /*-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;*/
    background:transparent url(/static/images/layout/x-icon.jpg) no-repeat scroll 0 0;
    background-color:#F2F2F2;
    cursor:pointer;height:15px;position:absolute;right:6px;top:5px;width:25px;}
#forgot-password .yui-panel-container .container-close {/*overflow:hidden;text-decoration:none;text-indent:-10000em;*/}




/* Offline Create Account */


#offline-create-account { width:690px; overflow:hidden; }
#offline-create-account h3 { font-size:108%; font-weight:bold; padding:12px 0; width:690px; margin-bottom:10px; border-bottom:solid #cccccc 1px; }
#offline-create-account input { padding: 2px;}
#offline-create-account select { padding: 2px; }
#offline-create-account label { display:block; clear:right; font-size:85%; font-weight:bold; color:#666; padding:10px 0; }

#offline-create-account .button { text-align:right; clear: both; }
#offline-create-account .button .cancel { width:86px; float:left; margin-right:14px; }
#offline-create-account .button .save { width:116px; float:left; }

#offline-create-account .submitNextButton.save {  float:right; }
#offline-create-account .item input { width:300px; }
#offline-create-account .long label  { width:500px; }
#offline-create-account .long { width:auto !important; }
#offline-create-account .item input.ssn1 { width:25px; }
#offline-create-account .item input.ssn2 { width:18px; }
#offline-create-account .item input.ssn3 { width:32px; }
#offline-create-account .item span { font-size:123.1%; color:#5a8808; height:20px; display:block; }
#offline-create-account .clear {clear:both;}
#offline-create-account .submitNextButton a  
{
	background:url(/static/images/layout/next-btn-left.png) no-repeat left 0; 
    background-color:#77b800;
	text-decoration:none; }
#offline-create-account .submitNextButton a:hover { text-decoration:none;color:White; }





/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



#offline-create-account .clientIDInfo .yui-panel .hd 
{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background: gray;
    /*background:transparent url(http://yui.yahooapis.com/2.8.0r4/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -200px;*/
    color:#000000;
    font-size:93%;
    font-weight:bold;
    line-height:2;
    padding:0 10px;
}
    
#offline-create-account .clientIDInfo .yui-panel .hd 
{
    border-bottom:1px solid #CCCCCC;
}


#offline-create-account .clientIDInfo .yui-panel .hd, #offline-create-account .yui-skin-sam .yui-panel .bd, #offline-create-account .yui-skin-sam .yui-panel .ft 
{
    border-color:#808080;
    border-style:solid;
    border-width:0 1px;
    margin:0 -1px;
}

#offline-create-account .clientIDInfo .yui-panel .bd 
{
    padding:10px;
}

#offline-create-account .clientIDInfo .yui-panel .bd, .yui-skin-sam .yui-panel .ft 
{
    background-color:#F2F2F2;
}

#offline-create-account .clientIDInfo .yui-panel .hd, #offline-create-account .yui-skin-sam .yui-panel .bd, #offline-create-account .yui-skin-sam .yui-panel .ft 
{
    border-color:#808080;
    border-style:solid;
    border-width:0 1px;
    margin:0 -1px;
}

#offline-create-account .clientIDInfo .yui-panel .ft 
{
    border-top:1px solid #808080;
    font-size:77%;padding:5px 10px;
}

#offline-create-account .clientIDInfo .yui-panel .bd,#offline-create-account .yui-panel .ft 
{
    background-color:#F2F2F2;
}

#offline-create-account .clientIDInfo .container-close 
{
      /*-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;*/
    background:transparent url(/static/images/layout/x-icon.jpg) no-repeat scroll 0 0;
    background-color:#F2F2F2;
    cursor:pointer;height:15px;position:absolute;right:6px;top:5px;width:25px;}
#offline-create-account .yui-panel-container .container-close {/*overflow:hidden;text-decoration:none;text-indent:-10000em;*/}





/* Verify Profile */
#verify-profile .avatar{float:left;width:178px;}
#verify-profile { width:690px; overflow:hidden; }
#verify-profile h3 { font-size:108%; font-weight:bold; padding:12px 0; width:690px; margin-bottom:10px; border-bottom:solid #cccccc 1px; }
#verify-profile input { padding: 2px;}
#verify-profile select { padding: 2px; }
#verify-profile label { display:block; clear:right; font-size:85%; font-weight:bold; color:#666; padding:10px 0; }

#verify-profile .button { text-align:right; clear: both; }
#verify-profile .button .cancel { width:86px; float:left; margin-right:14px; }
#verify-profile .button .save { width:116px; float:left; }

#verify-profile .submitNextButton.save {  float:right; }
#verify-profile .account-info { padding-bottom:40px; _zoom:1; }
#verify-profile .account-info:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#verify-profile .account-info .item input { width:165px; }


#verify-profile .item select { width:206px; }

#verify-profile .selectPadding{padding-bottom: 10px;}

#verify-profile .account-info .item.float.middle-initial { text-align:center; }
#verify-profile .account-info .item input.edit-middle-initial  { width:40px; }
#verify-profile .account-info .long label  { width:200px; }
#verify-profile .account-info .long { width:auto !important; }
#verify-profile .account-info .item input.ssn1 { width:25px; }
#verify-profile .account-info .item input.ssn2 { width:18px; }
#verify-profile .account-info .item input.ssn3 { width:32px; }

#verify-profile .account-info .personal-info{
float:left;
width: 550px;
}





#verify-profile .item span { font-size:123.1%; color:#5a8808; height:20px; display:block; }
#verify-profile .account-info .item 
{ 
    
    padding-right:65px;
    width:115px;
    padding-bottom: 20px;
}

#verify-profile .account-info .item.float
{
       float:left;
}



#verify-profile .clear {clear:both;}


#verify-profile .account-info .item.user-name { float:none;padding-bottom:20px; }
#verify-profile .account-info .item .avatar { padding-top:20px; }
#verify-profile .account-info .item .avatar img { border: solid #3c9cd1 1px; }
#verify-profile .account-info .item .avatar a { font-size:85%; font-weight:bold; color:#007dc3; }

#verify-profile .account-info label  { display:block; clear:right; font-size:85%; font-weight:bold; color:#666;  padding:10px 0; }


#verify-profile .mail-password { padding-bottom:40px; _zoom:1; }
#verify-profile .mail-password:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#verify-profile .mail-password .item { float:left; width:240px; padding-bottom:10px; }
#verify-profile .mail-password .item input { width:206px; }
#verify-profile .mail-password .item.mail, #verify-profile .mail-password .item.password { display:block; padding-right:400px; }
#verify-profile .mail-password .item.password-view { width:690px; }
#verify-profile .mail-password .item.mail-view label, #verify-profile .mail-password .item.password-view label { display:inline; clear:none; }
#verify-profile .mail-password .item.mail-view span, #verify-profile .mail-password .item.password-view span { display:inline; clear:none; }
#verify-profile .mail-password .mail input { width:265px; }
#verify-profile .mail-password .item.question { width:318px; padding-top:40px; }
#verify-profile .mail-password .item.question input { width:238px; color:#000; margin-top:4px; }
#verify-profile .mail-password .item.question select { width:240px; color:#000; }
#verify-profile .mail-password .item.question-view { width:365px; padding-top:40px; }
#verify-profile .mail-password .item.question-view span { padding-bottom:10px; }
#verify-profile .mail-password .item.mail-view .link-btn {float:right;}
#verify-profile .address-phone { padding:0 0 40px 0; _zoom:1; }
#verify-profile .address-phone:after { display:block; clear:both; visibility:hidden; height:0; content:"."; }
#verify-profile .address-phone .item { float:left; padding-bottom:10px; padding-right:35px; }
#verify-profile .address-phone .item input { width:206px; }
#verify-profile .address-phone .item.address2 { padding-right:100px; }
#verify-profile .address-phone .item.zip { width:100px; }
#verify-profile .address-phone .item.zip input { width:100px; }
#verify-profile .submitNextButton a:hover { text-decoration:none;color:White; }





/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */




