﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Account Creation</title>
    </head>
    <body>
        <p>
            A new attorney was created. The following information was entered by the user and submitted
            to the database.
        </p>

        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr valign="top">
                    <td align="left" style="font-weight:bold; width:35%">
                        Field
                    </td>
                    <td align="left" style="font-weight:bold; width:65%"">
                        Value
                    </td>
                </tr>

                <tr valign="top">
                    <td>Vendor Label:</td>
                    <td><%VendorLabel%></td>
                </tr>

                <tr valign="top">
                    <td>Vendor ID:</td>
                    <td><%VendorID%></td>
                </tr>

                <tr valign="top">
                    <td>User Name:</td>
                    <td><%UserName%></td>
                </tr>

                <tr valign="top">
                    <td>Firm Name:</td>
                    <td><%FirmName%></td>
                </tr>

                <tr valign="top">
                    <td>Firm Address:</td>
                    <td><%FirmAddr1%><br /><%FirmAddr2%><br /><%FirmCity%> <%FirmState%> <%FirmZip%></td>
                </tr>

                <tr valign="top">
                    <td>Telephone:</td>
                    <td><%Telephone%></td>
                </tr>

                <tr valign="top">
                    <td>FAX:</td>
                    <td><%FAX%></td>
                </tr>

                <tr valign="top">
                    <td>Website:</td>
                    <td><%FirmWebsite%></td>
                </tr>

                <tr valign="top">
                    <td>Primary Attorney Name:</td>
                    <td><%Name1First%> <%Name1Last%></td>
                </tr>

                <tr valign="top">
                    <td>Primary Attorney Email:</td>
                    <td><%Name1Email%></td>
                </tr>

                <tr valign="top">
                    <td>Contact Name:</td>
                    <td><%Name2First%> <%Name2Last%></td>
                </tr>

                <tr valign="top">
                    <td>Contact Email:</td>
                    <td><%Name2Email%></td>
                </tr>

                <tr valign="top">
                    <td>Client Count:</td>
                    <td><%ClientCount%></td>
                </tr>

                <tr valign="top">
                    <td>Attorney Count:</td>
                    <td><%AttorneyCount%></td>
                </tr>

                <tr valign="top">
                    <td>Referral Source:</td>
                    <td><%ReferredBy%></td>
                </tr>

                <tr valign="top">
                    <td>Comments:</td>
                    <td><%Comments%></td>
                </tr>

                <tr valign="top">
                    <td>Pre-Filing Escrow:</td>
                    <td><%EscrowPreFiling%></td>
                </tr>

                <tr valign="top">
                    <td>Pre-Discharge Escrow:</td>
                    <td><%EscrowPreDischarge%></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
