﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Financial Information Change</title>
    </head>
    <body>
        <p>
            The firm "<%VendorName%>" (<%VendorLabel%>) made a change to the financial information associated with the form. The changes
            are listed below.
        </p>

        <ol><%Changes%></ol>
    </body>
</html>
