
html, body, ul, li { margin:0; padding:0; font-family:arial,Verdana, Geneva, sans-serif; }
.wrapper { 
    width:1007px; margin:0 auto; padding:0; 
    position:relative;
}

.clearboth{
    clear:both;
}
ul{ margin-left:20px}
li{ padding-bottom:5px}
a{ color:#007DC3; text-decoration:none   }
a:hover{ text-decoration:underline   }
input.Button
{ background:#0066CC; color:#fff; line-height:20px; font-size:13px; border:1px solid #000; padding:5px}
/*header elements*/
.header {
  height:  170px;
    padding-left:0px;
    padding-right:0px; 
    position:relative;
    z-index:2;
}

.logo { 
    position:absolute;
    top: 15px;
    left: 0px;
    width:261px; 
    height:68px; 
}

.logo a{
  background: url(../images/logo.png) no-repeat top left;
    display:block;
    width: 370px;
    height: 120px;
    text-indent: -2000px;
    overflow:hidden;
    
}


.live-chat{
    position:absolute;
    right:160px;
    top: 13px;
    background: url(../images/live-chat.gif) no-repeat top left;
    padding:1px 0 0 24px;
    font-family:Verdana;
}

.live-chat a
{
    color :#007dc3;
    text-decoration:none;
}

.live-chat a:hover
{
    text-decoration:underline;
}

.headline{ 
    font-size:2.25em; 
    color:#FFFFFF; 
    background: url(../images/headline-default.gif) no-repeat top left;
    height:100px;
    z-index:1;
    top: 100px;
    width:100%;
    left:0;
    position:absolute;
}



.body{
    position:relative;
    padding-left: 40px;
    padding-right: 54px;
}

h1{ font-size:15px;}

h2{ font-size:13px; font-weight:bold}

.footer {
    background:#ececec; 
    padding: 20px 0 42px 0; 
    font-size:.85em; 
    color:#999999;
    width:960px;
    margin:auto;
}

.footer-links {
    float:left;
}

.footer-links ul li { 
    float:left;
    background:url(../images/bg-footerlinks-separator.gif) no-repeat 0 2px; 
    padding-left: 9px;
    padding-right: 8px;
    list-style-type:none;
}
.footer-links ul li.first { 
    background:none;
    padding-left: 0;
}

.footer-links ul li a { 
    text-decoration:none; 
    color:#999;
}

.copyright { 
    float:right; 
    padding-right:20px;
    font-family:Verdana;
}
.partners-logos {
    margin-top: 20px;
    padding-top: 10px;
    text-align:center;
}

.partners-logos ul li { display:inline; }
.partners-logos ul li img { padding:0 10px; }

.footertext{text-align:center;}
.footertext a{text-decoration:underline}
.footertext a:hover{text-decoration:none}
.footertext p{margin:15px 0}

/******/

.content{ 
    width:730px; 
    float:left;
}

.content-full{

}


.c-body{ 
    float:left; 
    padding-bottom:50px;
}


.content .c-large{
    width: 730px;
}


.c-body h1{ 
    font-size:1.3em; 
    font-weight:bold; 
    color:#333; 
    padding-bottom:15px;
}

.c-body p{ 
    font-size:1em; 
    padding:10px 0;
}


.TblFrm td{ padding:5px 0}
.TblFrm td br{ font-size:1px; height:1px; line-height:1px}

.TableBackground {
    background-color:#ececec;
    font-size:.95em; 
    color:#000000;
    vertical-align:top;
    margin:0px 0px 0px 10px;
    
}

a.Link {color: #007DC3; font-size: 11px; font-weight: bold; }
a.Link:hover {text-decoration:#007DC3; color:red; }
a.Link:active {color: #007DC3; } 

a.external {color: #007DC3; font-size: 14pt; font-weight: bold; }
a.external:hover {text-decoration:underline; color:red; }
a.external:active {color: #007DC3; } 


a:active {
	outline: none;
}
a:focus {
	-moz-outline-style: none;
}
#tabs_container {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:left;
}
#tabs_container ul.tabs {
	list-style: none;
	border-bottom: 0px solid #ccc;
	height: 1px;
	margin: 0;
	
}
#tabs_container ul.tabs li {
	float: right;
	text-align:left;
}
#tabs_container ul.tabs li a {
	padding: 3px 10px;
	display: block;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-right: 2px;
	text-decoration: none;
	background-color: #efefef;
	color:#000000;
	font-weight:bold;
	
}
#tabs_container ul.tabs li.active a {
	background-color: #fff;
	padding-top: 4px;
}
div.tab_contents_container {
	border: 0px solid #ccc;
	border-top: none;
	padding: 10px;
}
div.tab_contents {
	display: none;
}
div.tab_contents_active {
	display: block;
}
div.clear {
	clear: both;
}

.TableHeader
{ 
    color:#ffffff;
    background:#0066CC;
    font-size:18PX;
    vertical-align:middle;
    font-weight:bold;
 }
 .TRBackground
 {
     background-color: #efefef;
 }

 /* tab navigtion */
.dvtab-ctrl {font-family: Arial, Helvetica, sans-serif; font-size: 12px; float:right; margin-bottom:10px; white-space:nowrap; position:absolute; top:40px; right:0px; width:auto }
.dvtab-ctrl li { float:right; list-style-type:none; padding:0}
.dvtab-ctrl ul { float:right; margin:0; padding:0 }
.dvtab-ctrl a { background:#042C69; color:#fff; float:left; text-decoration:none}
.dvtab-ctrl a.first, .dvtab-ctrl a.last, a.firstactive, a.lastactive{background:#042C69 url(../images/bg-tab-curves.gif) left top no-repeat;}
.dvtab-ctrl a.first:hover, .dvtab-ctrl a.firstactive{ background-position:0 -34px;}
.dvtab-ctrl a.first span, .dvtab-ctrl a.first:hover span, .dvtab-ctrl a.firstactive span{ background:none }
.dvtab-ctrl a.last, a.lastactive{ background-position:right -80px}
.dvtab-ctrl a.last:hover, a.lastactive{ background-position:right -114px}


.dvtab-ctrl a:hover, a.firstactive, a.lastactive, .dvtab-ctrl a.active{ background-color:#2779DF;}
.dvtab-ctrl a:hover span, .dvtab-ctrl a.active span, .dvtab-ctrl a.lastactive span, a.lastactive:hover span  { background:url(../images/bg-tab-seperator-act.gif) left center no-repeat;}
.dvtab-ctrl li a span{ background:url(../images/bg-tab-seperator.gif) left center no-repeat;padding:0 15px; float:left;font:bold 12px/28px Verdana,Arial;}

.dvsiteTracker{ background:#2779DF; width:100%; float:right; clear:both}

.dvsiteTracker span{ background:#85CE00; height:20px; line-height:20px;margin:8px;  display:block; width:25%}

.DvErrorSummary{clear:both;background-color:#F2DBDB;padding:10px;margin:10px 0;color:#A50000; font-weight:bold}
.DvErrorSummary span{color:#A50000;padding:0 20px}
.DvErrorSummary ul{padding:0 20px}
.DvErrorSummary li{list-style-type:disc;color:#A50000;font-size:12px !important; font-weight:normal !important; line-height:18px;list-style-position:outside;padding:0 !important;background:none !important}

.NormTxt{width:900px;}

/* New CSS ======== Added by :: Anil Singh =========*/

.btnorange{background:#FF9900; border:1px solid #0D7DC0; color:#fff; padding:5px; font-weight:bold; cursor:pointer; font-family:verdana; font-size:11px;}

.clear {clear:both; font-size:0; line-height:0; margin:0; padding:0;}
.innerPad18{padding:18px}
.verSpaceFx {height:18px; width:100%;}

.RoundTab { width:100%; line-height:normal; height:26px; border-bottom:1px solid #fff; margin-top:10px; background:url(../Images/borderImg.gif) bottom repeat-x; padding:0 0 6px 0; }
.RoundTab ul { margin:0 auto; padding:0; list-style:none; }
.RoundTab ul li { display:inline; margin:0; padding:0; font-size:12px; font-family:Verdana}
.RoundTab ul li a { float:left; background:url(../Images/Left_TabCurv.gif) no-repeat 0 0; margin:0 3px 0 0; padding:0 0 0 3px; text-decoration:none; color:#fff; }
.RoundTab ul li a span { display:block; background:url(../Images/Right_TabCurv.gif) no-repeat right top; line-height:15px; padding:5px 10px 6px 7px; color:#0077BD; font-weight:bold;}
.RoundTab ul li a:hover { background-position:0% -28px; text-decoration:none; }
.RoundTab ul li a:hover span { background-position:100% -28px; color:#fff; }
.RoundTab ul li.active a { float:left; background:url(../Images/Left_TabCurv.gif) no-repeat 0 -28px; margin:0 3px 0 0; padding:0 0 0 3px; text-decoration:none; color:#fff; cursor:default;}
.RoundTab ul li.active a span { float:none; display:block; background:url(../Images/Right_TabCurv.gif) no-repeat right -28px; line-height:15px; padding:5px 10px 6px 7px; color:#fff; font-weight:bold;}


.iconLink {float:right;}
.iconLink ul {float:left;}
.iconLink li {float:left; margin:20px 20px 0 0; list-style-type:none}
h1.txtListing {color:#FF9900; float:left; font-family:Helvetica; font-size:25px; margin:15px 0 0 20px;}


.dvDataContainer {float:left; margin-top:6px; padding:18px 0 0;width:100%;}
.dvRow {float:left; margin:0 0 15px; width:48%;}
.dvRow .dvRowLft {float:left; text-align:left; width:150px;}
.req {color:red; float:left; font-size:14px;width:10px;}
.dvRow .dvRowRht {margin-left:150px;text-align:left;}

.tblProject {background:#fff; border:1px solid #CECECE; width:99%;}
.tblProject table {width:100%;}
.tblProject table th {background:#0D7DC0; color:#FFFFFF; font-size:12px; font-weight:bold; padding:8px 3px 8px 8px; text-align:left;}
.tblProject table td {border-bottom:1px solid #CECECE; font-size:12px; padding:14px 3px 12px 8px; text-align:left; vertical-align:top;}

.note{font-size:12px;}
.note span{float:left; padding-right:5px}

/* New CSS ======== Added by :: Anil Singh =========*/