﻿html, body, ul, li { margin:0; padding:0; font-family:arial,Verdana, Geneva, sans-serif; }
.wrapper { 
    width:1007px; margin:0 auto; padding:0; 
    position:relative;
}

.clearboth{
    clear:both;
}

a{ color:#007DC3; text-decoration:none   }
a:hover{ text-decoration:underline   }
/*header elements*/
.header {
    height:  200px; 
    padding-left:0px;
    padding-right:0px; 
    position:relative;
    z-index:2;
}

.logo { 
    position:absolute;
    top: 15px;
    left: 0px;
    width:261px; 
    height:68px; 
}

.logo a{
    background: url(../images/logo.gif) no-repeat top left;
    display:block;
    width: 230px;
    height: 68px;
    text-indent: -2000px;
    overflow:hidden;
}


.live-chat{
    position:absolute;
    right:160px;
    top: 13px;
    background: url(../images/live-chat.gif) no-repeat top left;
    padding:1px 0 0 24px;
    font-family:Verdana;
}

.live-chat a
{
    color :#007dc3;
    text-decoration:none;
}

.live-chat a:hover
{
    text-decoration:underline;
}

.headline{ 
    font-size:2.25em; 
    color:#FFFFFF; 
    background: url(../images/headline-default.gif) no-repeat top left;
    height:100px;
    z-index:1;
    top: 100px;
    width:1007px;
    left:0;
    position:absolute;
}

.body{
    position:relative;
    padding-left: 40px;
    padding-right: 54px;
}

.DvLanguage
{ 
    position:absolute;
    right:250px;
    top: 13px;
    font-family:Verdana;
 }
 
.DvtopNavControl{ width:100%; clear:both; float:left; top: 35px}

.dvFontControl { position: absolute; top:0px; right:0px; text-align: right; vertical-align: top;  }
.dvFontControlLabel { position: absolute; top:8px; right:70px; text-align: right; }
.footer {
    background:#ececec; 
    padding: 20px 0 42px 0; 
    font-size:.85em; 
    color:#999999;
    width:960px;
    margin:auto;
}

.footer-links {
    float:left;
}

.footer-links ul li { 
    float:left;
    background:url(../images/bg-footerlinks-separator.gif) no-repeat 0 2px; 
    padding-left: 9px;
    padding-right: 8px;
    list-style-type:none;
}
.footer-links ul li.first { 
    background:none;
    padding-left: 0;
}

.footer-links ul li a { 
    text-decoration:none; 
    color:#999;
}

.copyright { 
    float:right; 
    padding-right:20px;
    font-family:Verdana;
}
.partners-logos {
    margin-top: 20px;
    padding-top: 10px;
    text-align:center;
}

.partners-logos ul li { display:inline; }
.partners-logos ul li img { padding:0 10px; }

.footertext{text-align:center;}
.footertext a{text-decoration:underline}
.footertext a:hover{text-decoration:none}
.footertext p{margin:15px 0}
.customerrorcont{background:url(../images/error-icon.gif) no-repeat 10px 6px;display:block;width:100%;border:1px solid red;margin:0 0 20px 0;padding:10px}
.msg{color:#ff0000;padding:0 0 0 30px;font-size:14px;font-weight:bold}
.errortxt{text-align:center;padding:10px 0;font-size:16px;font-weight:bold;color:#ff0000}