/**
* RBX GRIDDER
* Quite simple grid system
* 
* - Basic setup of 16 columns,40 pixels each,with 20 pixel gutter
* 
* Author:Yeco | jasson.cascante@rbxglobal.com
* 
**/
.col_1 {width:40px;}

.col_2
    {width:100px;}

.col_3
    {width:160px;}

.col_4
    {width:220px;}

.col_5
    {width:280px;}

.col_6
    {width:340px;}

.col_7
    {width:400px;}

.col_8
    {width:560px;}

.col_9
    {width:520px;}

.col_10
    {width:580px;}

.col_11
    {width:640px;}

.col_12
    {width:700px;}

.col_13
    {width:760px;}

.col_14
    {width:820px;}

.col_15
    {width:880px;}

.col_16
    {width:940px;}

.col
    {margin:0 10px;overflow:hidden;float:left;display:inline;}

.r
    {width:1080px;margin:0 auto;overflow:hidden;}

.r .r
    {margin:0 -10px;width:auto;display:inline-block;}

.col_content
    {padding:15px;}

/**
* 
* Forms
*/
/* 
reset.css 
*/
fieldset,form,label,legend
    {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}

/* 
Structural
*/
fieldset
    {margin:0 0 1.5em 0;padding:1.4em;}

legend
    {padding:0 .4em;font-size:1.2em;}

label
    {float:left;display:block;clear:left;margin-right:1em;text-align:left;cursor:hand;}

textarea,input,select,label,button,optgroup
    {margin-top:5px;}

textarea,input,select,button
    {margin-bottom:10px;}

input[type="checkbox"],input[type="radio"]
    {margin-bottom:7px;}

/* 
Color palette
*/
fieldset
    {border:1px solid #ccc;}

legend
    {background-color:#e3dfdf;color:#333;}

label
    {color:#333;}

textarea
    {border:1px solid #859DB5;}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus
    {border:1px solid #ccc;}

select
    {background-color:#fff;color:#000;border:1px solid #859DB5;padding:2px;}

input[type="text"],input[type="password"]
    {border:1px solid #859DB5;padding:2px;}

input[type="submit"]
    {background-color:#ccc;color:#333;}

input[type="checkbox"]
    {color:#ccc;}

input[type="radio"]
    {background-color:#fff;color:#ccc;}

option
    {background-color:#fff;color:#000;}

optgroup
    {background-color:#ccc;color:#000;}

button {background-color:#86B521;height:22px;color:#fff;border:0;min-width:100px;}
.dvbtncontainer{ float:left; padding-top:20px}

.button
    {background:transparent url('../images/links-btn-bg.gif') no-repeat top right;height:22px;color:#fff;display:block;float:left;margin-right:1em; }

.button input
    {background:transparent url('../images/links-btn-bg.gif') no-repeat bottom left;height:22px;border:0;text-align:left;outline:0;color:#fff;margin:-1px 0 0 0;padding:0 10px;}

.button.small
    {width:100px;}
    

.button.small input
    {min-width:100px;}

.button.medium
    {width:150px;}



.button.big
    {width:200px;}
.button.big input
    {width:150px !important; outline:0}

.button.huge
    {width:300px;}

.button.big input
    {min-width:300px;}

/*vertical formatting*/
.vertical label
    {float:none;margin:0.5em 0 0.5 0;}

/*horizontal formatting*/
.horizontal label
    {text-align:right;width:11.6em;}

/*reset the space available*/
.body
    {padding-left:25px;padding-right:54px;position:relative; clear:both}

.c-large
    {width:960px;}

p.col_title
    {font-weight:bold;font-size:12px; color:#333;}


#center_col
    {margin-right:40px;}

#center_col .col_content
    {background:#ececec; font-size:11px;}

#center_col .col_content input,
#center_col .col_content select
    {width:18em;}

#center_col .col_content .button
    {margin:10px 8em 10px 0;}

#center_col .col_content .ok
    {color:#538000;}

#center_col .col_content .no
    {color:#5a0047;}

#center_col .col_content a
    {color:#007dc3;} 
#center_col .col_content .passrules
    {margin:-5px 0 5px 140px; display:block;
        clear:both;}
    
     
#right_col
    {font-size:11px;margin-right:0;}

#right_col .col_content
    {padding-right:0;padding-left:0;}


#left_col .col_content
    {background:#ececec;margin-right:25px;font-size:11px;}

#left_col .col_content input,
#left_col .col_content select
    {width:14em;}



.module {margin-bottom:30px;}

.module h2
    {font-size:12px;font-weight:bold;width:100%;border-bottom:1px solid #cecece;height:28px;margin:0 0 20px 0;color:#333;}

.module li
    {line-height:14px;padding:5px 0;}

.module li a
    {background:#fff url('../images/blue-arrow.gif') no-repeat bottom right;padding-right:15px;color:#347CBF;text-decoration:none;}

.module li a:hover
    {text-decoration:underline;}

.module img
    {vertical-align:middle;width:18px;height:18px;}

.module .resources li a
    {margin-left:5px;}

/*added by pushkar */
.dvform2col{ font-size:11px; background:#ececec; padding:15px; margin-bottom:10px; clear:both}
.colformrht{ width:48%; float:left}
.colformlft{ width:48%; padding-right:10px; float:left}
.dvform2col .dvrow{ clear:both; padding-top:5px}
.dvform2col .dvform label{ width:150px; display:inline; float:left; text-align:right;}
.dvform2col .dvform label span{ color:#333 !important;}
.dvform2col .dvform .txtBox{ width:240px; display:inline; background:#fff}
.dvform2col .dvform span{ vertical-align:middle; padding:0; color:#ff0000}
.dvform2col .dvform span.ispresent{ width:150px; display:inline; float:left; text-align:right;color:#333333;padding:6px 13px 0 0}

.error{ margin-left:160px; padding-left:1em; color:red; margin-top:-5px; padding-bottom:5px; display:block; color:red; clear:both}
.dvform2colchk input{ float:left}
.dvform2colchk label{float:left; text-align:left !important; width:200px !important; color:#333; padding:0; margin:0; position:relative; top:-25px; left:30px }

.dvform2colchk .error{ margin:0}


.dvformlblbig label{ display:inline; text-align:left; width:250px !important; }
.dvformlblbig .error{ margin:250px}
.dvformlblbig .txtBox{ width:150px !important; display:inline}

.Dvradiolist input, .DvradiolistAuto input{ float:left; background:transparent}
.Dvradiolist label{float:left; width:50px !important; margin-top:-22px; margin-top:-25px; display:block; text-align:left !important; padding-left:20px}
.DvradiolistAuto label{ width:auto !important;margin-top:-22px; margin-top:-25px; display:block; float:left; text-align:left !important; padding-left:20px} 

.dvradiolistAgree { width:600px !important; margin:0 auto; text-align:right;}
.dvradiolistAgree input { background-color: transparent; }
.dvradiolistAgree label{  float:none !important; padding:0 0 0 5px;}
.TblUserdebtListing{ background:#ccc; width:100%; float:left; border-width:0 1px; border-color:#000 #ccc #000 #ccc; border-style:solid}
.TblUserdebtListing td, .TblUserdebtListing th{ vertical-align:top; padding:5px 10px}
.TblUserdebtListing th{ background:#042C69; color:#fff; font-weight:bold; vertical-align:bottom;padding:5px 0 0 0 ; text-align:center }
.TblUserdebtListing th span{ color:#ffff00; font-size:11px; font-weight:normal}
.TblUserdebtListing th a{ color:#ff0000; text-decoration:underline; font-size:13px;display:inline-block}
.TblUserdebtListing th div{display:block; color:#333; margin-top:5px; text-align:center; padding:5px; background:#AFDBFF}
.TblUserdebtListing td{border-width:1px 0 1px 0; border-color:#333 #fff #c2c2c2 #fff; border-style:solid}
.TblUserdebtListing tr.altrw td{ background:#DFDFDF}
.TblUserdebtListing .txtbx{ width:95%}

.TblUserdebtListing td.col1 { width:5%}
.TblUserdebtListing td.col2 { width:27%}
.TblUserdebtListing td.col3 { width:18%}
.TblUserdebtListing td.col4 { width:8%}
.TblUserdebtListing td.col5 { width:8%}
.TblUserdebtListing td.col6 { width:18%}
.TblUserdebtListing td.col7 { width:10%}
.TblUserdebtListing td.col8 { width:8%}

.dvfinance{width:100%; float:left}
.dvfinance .dvcollft{width:48%; padding-right:10px; float:left }
.dvfinance .dvcolrht{width:48%;float:right;padding-left:10px;}
.dvfinance .tblsummary{ width:100%; border:2px solid #ccc}
.dvfinance .tblsummary td{ padding:5px 10px;border-bottom:1px solid #ccc}
.TblUserdebtListing table td{ border:0}
.dvfinance .tblsummary .col1{ width:70%; background:#DFDFDF; font-weight:bold}
.dvfinance .tblsummary .col2{ width:30%; background:#AFDBFF}
.dvfinance ul{ padding:10px 0 10px 20px ; float:left}
.dvfinance ul li{ padding:3px 10px}

.lnkbutton{ float:left; margin-right:15px}
.lnkbutton a, .lnkbutton a.previous{background:url('../images/links-btn-bg.gif') no-repeat left top; padding:0 0 0 15px; height:21px; float:left; text-decoration:none}
.lnkbutton a.print{background:url('../images/print-btn.gif') no-repeat left top; padding:0 0 0 25px; height:21px; float:left; text-decoration:none}
.lnkbutton a span, a.previous span{background:url('../images/links-btn-bg.gif') no-repeat right top; padding: 0 25px 0 0 ;float:left; height:21px; line-height:20px; color:#fff;cursor:pointer}
.lnkbutton a.print span{background:url('../images/print-btn.gif') no-repeat right top; padding: 0 25px 0 0 ;float:left; height:21px; line-height:20px; color:#fff;cursor:pointer}
.lnkbutton a.previous, .lnkbutton a.previous span{ background-position:0 -22px;padding:0 0 0 25px;}
.lnkbutton a.previous span{padding:0 15px 0 0;background-position: right bottom;}

.DvLanguage
{ 
    position:absolute;
    right:250px;
    top: 13px;
    font-family:Verdana;
 }
 
.DvtopNavControl{ width:100%; clear:both; float:left; top: 35px}

.dvFontControl { position: absolute; top:0px; right:0px; text-align: right; vertical-align: top;  }
.dvFontControlLabel { position: absolute; top:8px; right:70px; text-align: right; }
/*
.dvFontControl h1 { color:#042C69; font-size:14px !important; padding:0 30px; text-align:center}
.dvFontControl li { list-style-type:none; padding:5px; float:left}
*/

.rdo label {float:left;border:1px solid blue}
.dvcont1 input {float:right;border:1px solid black}
.dvFontControl { position: absolute; top: 5px; left: 370px; font-family:Verdana;}
.dvFontControl h1 { color:#042C69; padding:0 10px; text-align:center; font-family:Verdana;}
.dvFontControl li { list-style-type:none; padding:1px; float:left}


/***** For BKEducation Start *****/
.dvrow .mL165{margin-left:165px;padding-top:5px}
.rdolists{width:400px}
.rdolists td{padding:5px}
.rdolists input[type="radio"]{float:left;width:14px;height:14px;margin:0;padding:0;display:inline-block;background:transparent}
.rdolists label{float:left;margin:-1px 0 0 0 !important;padding:0 0 0 2px !important;display:inline-block;clear:none;text-align:left !important;width:365px !important;}
label.lblw350{width:350px !important;padding:3px 0 0 20px;*padding:0 0 0 23px}
.ErrorCont{font-weight: bold; color: #A50000; background: #F2DBDB; padding: 10px; margin: 0 0 10px 0;}
label.padT3{padding:3px 0 0 20px !important;*padding:0 0 0 20px !important;}
.rdolistsw100{width:500px;float:left}
.rdolistsw100 td{padding:5px}
.rdolistsw100 input[type="radio"]{float:left;width:14px;height:14px;margin:0;padding:0;display:inline-block;background:transparent}
.rdolistsw100 label{float:left;margin:-1px 0 0 0 !important;padding:0 0 0 2px !important;display:inline-block;clear:none;text-align:left !important;width:140px !important;}
span.errexlsgn{color:Red !important;float:left !important;margin:60px 0 0 0 !important}
.padT4{padding:4px 0 0 0 !important}
/***** For BKEducation End *****/

/***** For BKCounseling Start *****/
span.padT6{padding-top:6px !important;float:left !important}
.mgrT5{*margin:5px 0 0 0}
.padL12{padding-left:12px !important}
.padL3{padding-left:3px !important}
.padT10{padding-top:10px !important;float:left}
.padT5{padding-top:5px !important}
.mgrT7{margin-top:7px}
.mgrL263{margin-left:263px;}
.mgrL162{margin-left:162px;}
.rdotbllsts input[type="radio"]{float:left !important;width:14px !important;height:14px !important;margin:0 !important;padding:0 !important;background:transparent;outline:none !important}
.rdotbllsts label{float:left;margin:-1px 0 0 0 !important;padding:0 25px 0 2px !important;display:inline-block;clear:none;text-align:left !important;width:auto !important;}
span.clrblack{color:#333 !important;vertical-align:text-top !important;}
h3.thanks{font-size:16px !important;font-weight:bold !important;padding:5px 0 !important}
.imgvmid{vertical-align:text-top}
.fNone{float:none}
.fL{float:left !important}
.paywarning{width:50%;text-align:center;margin:0 auto;padding:10px 0 0 0;font-weight:bold}
.clrbth{clear:both;font-size:0;height:0;padding:0;margin:0}
.rdoreg{margin:0 0 0 -9px;*margin:-2px 0 0 -13px}
.clrnone{clear:none}
.mgrTP34{margin:3px 0 0 4px;*margin:6px 0 0 1px}
.mgrL20{margin-left:20px}
.rdolstsnew input[type="radio"], input[type="checkbox"]{width:14px;height:14px;float:left;clear:none !important}
.rdolstsnew label{float:left;clear:none !important;padding:0 0 0 4px !important;*margin:3px 0 0 0}
/***** For BKCounseling End *****/


/***** For RVM Start *****/
.dvhdcont{float:left;width:100%;background:#042C69;color:#fff;padding:10px 0}
.dvhdlft{float:left;padding-left:167px}
.dvhdrht{float:right;padding-right:70px}
.vspace15{height:15px}
/***** For RVM End *****/


/***** Common Page Title Start *****/
.lblpagetitle{float:left;padding:10px 0 0 25px;font-size:23px;}
.padT{padding:3px 0 0 3px;*padding:7px 0 0 0}
.w900{width:900px}
/***** Common Page Title End *****/

.modalBackground {background-color: Gray;filter: alpha(opacity=50);opacity: 0.50;}  
.updateProgress {border-width: 1px;border-style: solid;background-color: #FFFFFF;position: absolute;width: 180px;height: 65px;}

.requiredField {
    font-size: 2.5em;
    color: red;
}

.ErrorControl
{
    background-color: #F2DBDB !important;
    border: solid 1px Red !important;
}

.validationMessage {
    float:right;
    font-size:1.2em;
}

/*Needed so that we can style "Describing Your Situation" differently*/
.validationMessage2 {
    float:left;
    font-size:1.2em;
}

.dvform2col .dvform span.validationMessage {
    margin-left:160px;
    float:left;
}

.dvform2col .dvform table label {
    width:50px;
/*    display:inline;*/
    float:left;
    text-align:right;
}
