﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UcPointsToRemember.ascx.cs"
    Inherits="Cccs.Credability.Website.Controls.DmpOnlyControls.UcPointsToRemember" %>

<%= Cccs.Credability.Website.App.Translate("Credability|PointsToRemember|Summary")%>