﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="System.Web.Mvc.ViewMasterPage" %>
<%@ Register src="controls/header.ascx" tagname="header" tagprefix="ca" %>
<%@ Register src="controls/footer.ascx" tagname="footer" tagprefix="ca" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 

<html>
<head>
    <title><sc:text runat="server" field="Page Title"/></title>
    <link rel="stylesheet" type="text/css" href="~/minify/combo.ashx?f=/static/js/yui3/cssreset/reset-min.css,/static/js/yui3/cssfonts/fonts-min.css&m=css&ct=text/css">
     <link rel="stylesheet" type="text/css" href="~/minify/combo.ashx?f=/static/css/base.css,/static/css/menu.css,/static/css/public.css,/static/css/account.css&m=css&ct=text/css"/>
   <script type="text/javascript">
        document.write("<link rel=\"stylesheet\" type=\"text/css\" href=\"~/minify/combo.ashx?f=/static/css/initiate.css&m=css&ct=text/css\" media=\"screen\"/>");
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server"/>
    <sc:Placeholder ID="Placeholder3" runat="server" Key="css" />
    <style><sc:text runat="server" field="CSS"/></style>
    <script type="text/javascript">
        document.documentElement.className = "yui-loading";
	</script>
</head>
<body>
    <sc:placeholder ID="Placeholder1" key="webedit" runat="server" />
    
    <div class="wrapper">
        <ca:header ID="header1" runat="server" />
	<asp:ContentPlaceHolder ID="Headline" runat="server"/>
         
        <div class="body" style="z-index:10">
            <asp:ContentPlaceHolder ID="PageBody" runat="server"/>
            <div class="clearboth"></div>
        </div>
        <ca:footer runat="server"/>
    </div>
       
        <script type="text/javascript" charset="utf-8"
        src="/static/js/yui3/yui/yui-min.js">
	/*
	http://yui.yahooapis.com/3.1.0/build/yui/yui-min.js
	/static/js/yui3/yui/yui-min.js
	*/
</script>
    <script type="text/javascript" src="~/minify/combo.ashx?f=/static/js/core.js&m=js"></script>
 
    <asp:ContentPlaceHolder ID="PageBottom" runat="server"/>

</body>
</html>
