.scWebEditReset {
  width: auto;
  position: static;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 100%;
  text-decoration: none;
}

.scWebEditDot {
 cursor:hand;
 position:absolute;
}

.scWebEditDotDisabled {
  position:absolute;
}

iframe.scWebEditRibbon {
  width:100%;
  display:block;
}

iframe.scWebEditRibbonSmall {
  height:23px;
}

iframe.scWebEditRibbonLarge {
  height:23px;
}

iframe.scWebEditContentEditor {
  border:none;
  width:100%;
  height:100%;
  min-height:600px;
}

.scWebEditContentEditorButtons {
  position:absolute;
}

a.scWebEditContentEditorButton,
a.scWebEditContentEditorButton:link,
a.scWebEditContentEditorButton:visited,
a.scWebEditContentEditorButton:hover,
a.scWebEditContentEditorButton:active {
  cursor:default;
  float:left;
  border:1px solid white;
  font:8pt tahoma;
  color:black;
  text-decoration:none;
}

a.scWebEditContentEditorButton:hover,
a.scWebEditContentEditorButton:active {
  border:1px solid;
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
}

.scWebEditFrame {
  position: absolute;
  margin: -4px 0px 0px -4px;
  text-align: left;
}

.scWebEditFrameBorder {
  border:2px groove;
  background: url(/sitecore/images/blank.gif);
  display: block;
}

.scWebEditInput {
  display: inline;
}

.scWebEditFrameBorderFocused {
  border:2px groove;
  background:url(/sitecore/images/blank.gif); 
  display: block;
}

.scLooseFrameZone {
}

.scLooseFrameMenu {
  position: absolute;
  background: white;
  border: 1px solid #aca899;
  z-index: 999999;
}

.scLooseFrameMenuContent {
  padding-top: 2px;
}

.scLooseFrameMenuContent .scWebEditFrameButton, .scLooseFrameMenuContent .scWebEditFrameButtonHover {
  float: none;
  display: block;
  border-left: none;
  border-right: none;
  padding-left: 4px;
  padding-right: 4px;
}

.scLooseFrameMenu {
  font-size: 8pt;
  font-family: Tahoma;
  background: #f5f5f5;
}


.scFrameSmallButton {
  color: #303030;
  cursor: pointer;
  padding: 2px 4px 1px 4px;
}

.scFrameSmallButton.scHover {
  border: 1px solid;
  border-color: #ddcf9b #d2c08e #ccc2a3 #d2c08e;
  background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/Ribbon/SmallButtonActive.png) repeat-x;
  padding: 1px 3px 0px 3px;
}

.scFrameSmallButtonIcon {
  margin-top: 1px;
	vertical-align: middle;
}

.scFrameSmallButtonHeader {
	padding: 1px 4px 1px 4px;
	white-space: nowrap;
}

.scFrameHint {
  cursor: pointer; 
  position: absolute;
  
  padding: 2px 4px;
  background: #dae2e2;
  border: #a9b1bb 1px solid;  
  color: Black;
  white-space: nowrap;

  font-family: Tahoma;
  font-size: 8pt;
}

.scFrameHintHover, .scFrameHintActive {
  background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
  
  font-family: Tahoma;
  font-size: 8pt;
}

.scFrameHintTitle {  
}

.scFrameHintDropdown {
  padding-left: 4px;
}

.scEditFrameOverlay {
  position: absolute; 
  border: solid 1px #999999;
}

.scEditFrameOverlay .scInnerOverlay {
  background: black;
  height: 100%;
  width: 100%;
}

.scLooseFrameZone .scFrameTitle {
  float: left;
  padding-right: 4px;
  
  font-size: 11px;
  line-height: 23px;
}

.scWebEditFrameButtons {
  float:left;
  background:white;
  border:1px solid #999999;
  border-top:none;
  text-transform:none;
  padding:0px 4px 0px 4px;
  height:23px;
}

.scWebEditFrameButton {
  cursor:default;
  float:left;
  border:1px solid white;
  font:8pt tahoma;
  color:black;
}

.scWebEditFrameButtonHover {
  cursor:default;
  float:left;
  font:8pt tahoma;
  color:black;
  border:1px solid;
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
}

span.scWebEditFrameButtonLabel {
  padding:0px 0px 0px 4px;
}

img.scWebEditFrameButtonIcon {
  border:none;
  width:16px;
  height:16px;
  vertical-align:middle;
  margin:2px 0px 2px 2px;
}

div.scWebEditFrameDivider {
  float:left;
  height:16px;
  border-left:1px solid #c9c9c9;
  vertical-align:middle;
  margin:2px 4px 0px 4px;
}

.scWebEditModified {
}

.scPageDesignerBlock {
}

.scPageDesignerBlockHandle {
	background: #eeeeee url(/sitecore/shell/Themes/Standard/Images/WebEdit/bullets.png) 50% 50% no-repeat;
	border:2px groove;
  text-align:left;
  height:12px;
}

.scPageDesignerBlockOutline 
{
  position:absolute;
  z-index:-1;
}

.scPalette 
{
  background:#e9e9e9;
  padding:8px;
  text-align:left;
  font:8pt tahoma;
}

.scPaletteItem 
{
  display:inline;
}

.scPageDesignerDropZoneTarget,
.scPageDesignerDropZoneTarget:link,
.scPageDesignerDropZoneTarget:visited,
.scPageDesignerDropZoneTarget:hover,
.scPageDesignerDropZoneTarget:active
{
  position:absolute;
  margin:-14x 0px 0px -28px;
  height:32px;
  width:32px;
  background: url(/sitecore/shell/themes/standard/Applications/32x32/arrow_right_blue.png)
}

#scPalettePanel
{
  background: #cccccc;
  height:196px;
  text-align:left;
  padding:4px;
}

.scPalettePanelPlaceholders {
  vertical-align:top;
  border:2px groove;
  border-right:none;
  background:white;
}

.scPalettePanelContent {
  vertical-align:top;
  background:white;
  border:2px groove;
  border-left:none;
}

.scPalettePlaceholdersHeader {
  font:bold 9pt verdana;
  padding:2px 3px 4px 4px;
  background:#f0f0f0;
  border-bottom:1px solid #dddddd;
}

#scPalettePlaceholdersList {
  height:171px;
  overflow:auto;
}

.scPalettePlaceholderItem {
  height:34px;
}

.scPaletteContent {
  height:142px;
  border-left:1px solid #cccccc;
  table-layout:fixed;
}

.scPalettePlaceholder,
.scPalettePlaceholder:link,
.scPalettePlaceholder:visited,
.scPalettePlaceholder:hover,
.scPalettePlaceholder:active {
  float:left;
  color:black;
  text-decoration:none;
  cursor:default;
  padding:2px 4px 2px 4px;
  font:8pt tahoma;
  height:30px;
  clear:left;
}

.scPalettePlaceholder:hover,
.scPalettePlaceholder:active {
  background:#e8f5fd url(/sitecore/shell/themes/standard/Images/Tree/TreeNodeNormalBackground.png) repeat-x;
	border: 1px solid #d8f0fa;
  padding:1px 3px 1px 3px;
}

.scPalettePlaceholderSelected,
.scPalettePlaceholderSelected:link,
.scPalettePlaceholderSelected:visited,
.scPalettePlaceholderSelected:hover,
.scPalettePlaceholderSelected:active {
  float:left;
  color:black;
  text-decoration:none;
  cursor:default;
  background:#d5effc url(/sitecore/shell/themes/standard/Images/Tree/TreeNodeActiveBackground.png) repeat-x;
	border: 1px solid #99defd;
  padding:1px 3px 1px 3px;
  font:8pt tahoma;
  height:30px;
  clear:left;
}

.scPalettePlaceholderIcon {
  border:1px solid #cccccc;
  padding:2px;
  margin:0px 4px 0px 0px;
  float:left;
  background:white;
}

.scPalettePlaceholderIconBorder {
}

.scPalettePlaceholderTitle {
  padding:8px 0px 0px 0px;
}

#scPaletteContentPanel {
}

#scPaletteContentList {
  height:141px;
  overflow:auto;
  font:8pt tahoma;
}

.scPaletteContentListText {
  padding:4px;
  color:#999999;
  font-style:italic;
  text-align:center;
}

.scPaletteContentButtons {
  padding:2px 4px 4px 4px;
  border-top:1px solid #e9e9e9;
}

.scButton {
  margin:2px 4px 2px 4px;
  width:85px;
  height: 19px;
  color:black;
  font:8pt tahoma;
  background:#d9dbe1 url(/sitecore/shell/themes/standard/images/RibbonNavigatorButtonActive.png) repeat-x;
  border:1px solid #bebebe;
}

.scPaletteRenderings {
  height:142px;
  background:white;
  border:2px groove;
  margin-left:8px;
}

.scPaletteRenderingsTable {
  height:143px;
}
 
.scPaletteRenderingsCell {
  height:123px;
  z-index:1001;
}

.scPalettePlaceholderTooltip {
  position:absolute;
  border:1px solid #767676;
  padding:4px;
  background:#c9d9ef url(/sitecore/shell/themes/standard/images/WebEdit/Tooltip.png) repeat-x;
  font:8pt tahoma;
}