.scTreeitem_Value {
  width: auto;
  white-space: nowrap;
}

.scSecurityItem
{
  padding:0px 4px 0px 4px;
  white-space:nowrap;
}

.scSecurityItem.NA
{
  color:#c0c0c0;
  text-decoration:line-through;
}

.scSecurityItem.Disabled
{
  color:#999999;
}

.scSecurityItem.Enabled
{
  color: green;
}

.scSecurityItem.Deny
{
  color: red;
}

.scSecurityItem.Question
{
  color: orange;
}

.scAccessViewerAllowed, 
.scAccessViewerAllowed:hover,
.scAccessViewerAllowed:active {
  color: Green;
}

.scAccessViewerSecurityDenied,
.scAccessViewerSecurityDenied:hover,
.scAccessViewerSecurityDenied:active {
  color: #d00000;
}

.scAccessViewerSecurityInheritedDenied,
.scAccessViewerSecurityInheritedDenied:hover,
.scAccessViewerSecurityInheritedDenied:active {
  color: #ff9090;
}

.scAccessViewerWorkflowDenied, 
.scAccessViewerWorkflowDenied:hover,
.scAccessViewerWorkflowDenied:active {
  color: #666666;
}

.scAccessViewerRight, 
.scAccessViewerRight:link, 
.scAccessViewerRight:active, 
.scAccessViewerRight:hover, 
.scAccessViewerRight:visited {
  cursor:default;
  display:block;
  padding:1px 6px 1px 6px;
  text-decoration:none;
  white-space:nowrap;
}

.scAccessViewerRight:active, .scAccessViewerRight:hover {
  background:#d5effc url(/sitecore/shell/themes/standard/Images/Tree/TreeNodeActiveBackground.png) repeat-x;
	border: 1px solid #99defd;
  padding:0px 5px 0px 5px;
}

.scAccessViewerRight:active {
  background-image: url(/sitecore/shell/themes/standard/Images/Tree/TreeNodeSelectedBackground.png);
}

.scExplanationNothing {
  text-align:center;
  color:#999999;
  padding:16px 0px 0px 0px;
}

.scExplanationHeader {
  padding: 8px 8px 20px 4px;
}

.scExplanationHeaderName {
  color: #072D6B;
  font: bold 11pt tahoma;
}

#Explanation td {
  white-space:nowrap;
}

.scExplanationSections {
  padding: 0 4px;
  clear: left;
}

.scExplanationSection {
  background: #f9f9f9;
  border: 1px solid #c9c9c9;
  border-top: none;
  margin:0px 0px 4px 0px;
  padding-bottom: 4px;
}

.scExplanationSectionHeader {
  background: #c9c9c9 url(/sitecore/shell/themes/standard/images/content editor/sectionbackground.png) repeat-x;
  border: 1px solid #c9c9c9;
  border-bottom: none;
  color: #444444;
  font: bold 10pt tahoma;
  margin: 6px 0px 0px 0px;
  padding: 1px 2px 1px 2px;
  width: 100%;
}

.scExplanationSectionCaptionIcon {
  height: 16px;
  margin: 1px 4px 1px 2px;
  width: 16px;
  vertical-align: middle;
}


.scExplanationSecurityNotSet {
  color:#999999;
}

.scExplanationWorkflow {
  padding:2px 8px 2px 4px;
}

.scExplanationWorkflowState {
  padding:2px 8px 2px 4px;
}

.scExplanationWorkflowStateRight {
  padding:2px 8px 2px 4px;
}

/* ---- */


.scExplanationSecurityTable {
 
}

.scExplanationSecurityTableHeaderRow {
}

.scExplanationSecurityTableHeaderCell,
.scExplanationSecurityTableHeaderCellFill {
	background: url(/sitecore/shell/themes/standard/images/treeviewheader16x16.png) repeat-x;
	border-left: 1px solid white;
	border-top: none;
	border-right: 1px solid #E1E1E1;
	border-bottom: none;
	color: #353535;
	padding: 2px;
	text-align: left;
	white-space: nowrap;
}

.scExplanationSecurityTableRow {
}

.scExplanationSecurityTableItem {
  white-space:nowrap;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #E1E1E1;
}

.scExplanationSecurityTableAccount {
  padding:2px 4px 2px 6px;
  white-space:nowrap;
  border-right: 1px solid #E1E1E1;
}

.scExplanationSecurityTableSelector {
  padding:2px 0px 0px 4px;
	border-left: 1px solid #f0f0f0;
  white-space:nowrap;
  text-align:center;
}

.scExplanationSecurityTableBottom {
}

.scExplanationSecurityText {
  padding:4px;
  margin:0 12px 8px 0px;
}

.scExplanationWarning {
  margin: 0px 0px 4px 4px;
  padding: 4px 0 0 0;
  font: 8pt tahoma;
}

.scEditorWarningTitle {
  font-weight:normal;
  font:8pt tahoma;
}