.scToolbar {
	background: #faf9f5;
	border: none;
	color: black;
	height:24px;
	padding: 2px 0px 2px 4px;
	vertical-align:middle;
}
.scToolbutton {
  float:left;
	background: transparent;
	border: none;
	cursor: default;
	height: 16px;
	vertical-align: middle;
	white-space: nowrap;
	padding: 2px 2px 3px 1px;
}
.scToolbutton_Disabled {
  float:left;
	background: transparent;
	color: buttontext;
  -moz-opacity: 0.35;
	border: none;
	cursor: default;
	height: 16px;
	vertical-align: middle;
	white-space: nowrap;
	padding: 2px 2px 3px 1px;
}
.scToolbutton_Hover {
  float:left;
	background: #c1d2ee;
	border: 1px solid #316ac5;
	cursor: default;
	height: 19px;
	vertical-align: middle;
	white-space: nowrap;
	padding: 1px 1px 2px 0px;
}
.scToolbutton_Down, .scToolbutton_Down_Hover {
  float:left;
	background: white;
	border: 1px solid #316ac5;
	color: black;
	cursor: default;
	height:16;
	vertical-align: bottom;
	white-space: nowrap;
	padding: 1px 1px 2px 0px;
	margin:0px;
}
