<%@ Page language="c#" Codebehind="DumpIndex.aspx.cs" AutoEventWireup="false" Inherits="SitecoreClient.sitecore.admin.DumpIndex" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
    <title>DumpIndex</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </HEAD>
  <body MS_POSITIONING="FlowLayout">
	
    <form id="Form1" method="post" runat="server">
<P>Database: 
<asp:TextBox id=c_database runat="server">core</asp:TextBox>&nbsp;&nbsp; Index: <asp:TextBox id=c_index runat="server">system</asp:TextBox></P>
<P>Search: 
<asp:TextBox id=c_search runat="server">text</asp:TextBox>&nbsp;&nbsp; Field: <asp:TextBox id=c_field runat="server">_content</asp:TextBox></P>
<P><asp:CheckBox id=c_showAll runat="server" Text="Show all"></asp:CheckBox></P>
<P><asp:Button id=Button1 runat="server" Text="Show documents"></asp:Button></P>
<P><asp:Button id=Button2 runat="server" Text="Rebuild"></asp:Button></P>

     </form>
	
  </body>
</HTML>
