<%@ Page Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
<script runat="server">
  protected void Reset(object sender, EventArgs e) {
    MembershipUser user = Membership.GetUser("sitecore\\admin");
    user.UnlockUser();
  }
</script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      <asp:Button runat="server" OnClick="Reset" Text="Unlock Administrator" />
    </div>
    </form>
</body>
</html>
